﻿@using BussinessObject
@using BussinessObject.Bo.WebBo
@using OutsideX.Models
@{
    Layout = null;
}

<div class="div_footer_new ">
    <div class="container padding-top-10 padding-bottom-20">
        <div class="color-white">
            <div class="row footer_row">
                <div class="col-md-3 col-sm-12">
                    <p class="margin-bottom-5"><span class="font-size-16">LIÊN HỆ</span></p>
                    <div class="footer_line"></div>
                    <div class="footer_contact">
                        <div class="contact1 padding-bottom-10">362 Trần Văn Kiểu, P.11, Q.6, TP.HCM</div>
                        <div class="contact2 padding-bottom-10"><a href="mailto:info@phusaithanh.com" class="color-white">info@phusaithanh.com</a></div>
                        <div class="contact3 padding-bottom-10"><strong>Hotline:</strong> 090 959 3986</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="margin-bottom-5"><span class="font-size-16">THỜI GIAN LÀM VIỆC:</span></p>
                    <div class="footer_line"></div>
                    <p>Thứ 3 đến Chủ nhật: Từ 8h00 đến 18h00</p>
                    <p>Thứ 2: nghỉ làm việc</p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <p class="margin-bottom-5"><span class="font-size-16">VỀ CHÚNG TÔI</span></p>
                    <div class="footer_line"></div>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("About","Home")"><span class="color-white">Giới thiệu</span></a></p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("Detail","News",new {id = "7"})"><span class="color-white">Tuyển dụng</span></a></p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("Detail","News",new {id = "9"})"><span class="color-white">Góp ý</span></a></p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <p class="margin-bottom-5">  <span class="font-size-16">NHÀ ĐẤT</span>                                                                                       </p>
                    <div class="footer_line"></div>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("NhaDatBan","RealEstate")"><span class="color-white">Nhà đất bán</span></a>           </p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("NhaDatChoThue", "RealEstate")"><span class="color-white">Nhà đất cho thuê</span></a> </p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("NhaDatGiaTot", "RealEstate")"><span class="color-white">Mua bán giá tốt</span></a>   </p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("ChoThueGiaTot", "RealEstate")"><span class="color-white">Cho thuê giá tốt</span></a>   </p>


                </div>
                <div class="col-md-2 col-sm-4">
                    <p class="margin-bottom-5"><span class="font-size-16">DỊCH VỤ</span></p>
                    <div class="footer_line"></div>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("KyGui","Home")"><span class="color-white">Ký gửi nhà đất</span></a></p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("Detail","Service",new{id=3})"><span class="color-white">Dịch vụ pháp lý</span></a></p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("Detail", "Service", new { id = 4 })"><span class="color-white">Thông tin quy hoạch</span></a></p>
                    <p><img src="~/Content/img/arowright_icon.png" /> <a href="@Url.Action("Detail", "Service", new { id = 5 })"><span class="color-white">Tư vấn vay vốn</span></a></p>
                    <br />
                </div>

            </div>

            @{
                var counter = BoFactory.SystemConfig.GetConfig<WebCounter>(SystemConfigBo.SystemConfigEnum.KEY_WEB_COUNTER);
            }
        </div>
    </div>
    <div class="coppyright  ">
        <div class="container padding-0">
            <div class="row margin-0 padding-top-10   padding-bottom-10">
                <div class="col-md-4 padding-bottom-10">
                    Số MSDN: 0314321438, Ngày cấp: 30/03/2017<br />Nơi cấp: Sở Kế hoạch và Đầu tư Thành Phố HCM.

                </div>

                <div class="col-md-4 padding-bottom-10">
                    © 2017 - Bản quyền của Công ty BĐS Phú Sài Thành<br />
                    Visits: @counter.TotalCount.ToString("##,###") | Online: @counter.OnlineCount.ToString("##,###")
                </div>
                <div class="col-md-4 padding-bottom-10 text-center div_facebook">
                    <a href="https://www.facebook.com/phusaithanh/" target="_blank">
                        <img src="~/Content/img/fbicon.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>