﻿@{ Layout = null;}
<div class="div_footer2 padding-top-20 padding-bottom-20">
    <div class="container">
        <div class="row">
            @*<div class="col-md-3">
                <strong>MUA BÁN BẤT ĐỘNG SẢN</strong>
                <br />
                <a href='#'>Mua nhà đất</a>                   <br />
                <a href='#'>Mua bán g cư</a>                  <br />
                <a href='#'>Nhà đất Hà Nội</a>                <br />
                <a href='#'>Chung cư Hà Nội</a>               <br />
                <a href='#'>Căn hộ cao cấp Hà Nội</a>         <br />
                <a href='#'>Căn hộ giá rẻ Hà Nội</a>          <br />
                <a href='#'>Biệt thự liền kề Hà Nội</a>       <br />
                <a href='#'>Nhà đất TP HCM</a>                <br />
                <a href='#'>Chung cư TP HCM</a>               <br />
                <a href='#'>Căn hộ cao cấp TP HCM</a>         <br />
                <a href='#'>Căn hộ giá rẻ TP HCM</a>          <br />
                <a href='#'>Nhà phố thương mại TP HCM</a>     <br />
                <a href='#'>Biệt thự liền kề TP HCM</a>       <br />
                <a href='#'>Biệt thự nghỉ dưỡng TP HCM</a>    <br />
            </div>*@

            @*<div class="col-md-3">

                <strong>BẤT ĐỘNG SẢN CHO THUÊ</strong>
                <br />
                Cho thuê căn hộ chung cư              <br />
                Cho thuê nhà                          <br />
                Cho thuê đất                          <br />
                Cho thuê văn phòng                    <br />
                Cho thuê căn hộ cao cấp               <br />
                Cho thuê nhà đất Hà Nội               <br />
                Cho thuê căn hộ Hà Nội                <br />
                Cho thuê chung cư mini Hà Nội         <br />
                Cho thuê căn hộ giá rẻ Hà Nội         <br />
                Cho thuê căn hộ cao cấp Hà Nội        <br />
                Cho thuê nhà đất TP HCM               <br />
                Cho thuê căn hộ TP HCM                <br />
                Cho thuê chung cư mini TP HCM         <br />
                Cho thuê căn hộ cao cấp TP HCM        <br />

            </div>*@
            @*<div class="col-md-3">
                <strong>DỰ ÁN NỔI BẬT HCM</strong>
                <br />
                Vinhomes Central Park      <br />
                Masteri Thảo Điền          <br />
                Feliz En Vista             <br />
                Palm City                  <br />
                Jamona Golden Silk         <br />
                Diamond Island             <br />
                Park Riverside             <br />
                Valencia Riverside         <br />
                Moonlight Boulevard        <br />
                Phú Mỹ Hưng Midtown        <br />
                Saigon Gateway             <br />
                The Avila                  <br />
                Hado Centrosa Garden       <br />
            </div>*@
            @*<div class="col-md-3">
                <strong>CĂN HỘ</strong>
                <br />
                Căn hộ cao cấp              <br />
                Căn hộ trung cấp            <br />
                Căn hộ giá rẻ               <br />
                Căn hộ mini                 <br />
                Căn hộ Duplex               <br />
                Căn hộ Skyvilla             <br />
                Căn hộ Condotel             <br />
                Căn hộ Officetel            <br />
                Căn hộ Penthouse            <br />
                Căn hộ Loft-house           <br />
            </div>*@
        </div>
    </div>

</div>