﻿@using BussinessObject
@using EntitiesObject.Entities.WebEntities
@using OutsideX.Models
@model OutsideX.EF.Out_Article_GetDataById_Result
@{
    ViewBag.Title = Model.Title.HtmlDecode();
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">GIỚI THIỆU</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="background-color-white show_content">
                        <div class="padding-15 font-size-14">
                            @*<div class="color-014b8a font-size-18"><strong>@Model.Title.HtmlDecode().ToUpper()</strong></div>*@
                            @*<br />*@

                            @Html.Raw(HttpUtility.HtmlDecode(Model.Content).GetFullContent())
                            
                            @*<div style="text-align:justify">
                                <span style="font-size:12px">
                                    <span style="font-family:Times New Roman,Times,serif">
                                        <big>
                                            Xuất thân từ thị trường bất động sản sôi động 2017, Công Ty TNHH Phú Sài Thành được thành lập dựa trên hoài bão và định hướng là mang lại cho khách hàng dịch vụ bất động sản Uy tín - Chuyên nghiệp - Hiệu quả nhất. Ngành nghề kinh doanh chính của công ty là môi giới bất động sản nhà phố (tập trung chủ yếu khu vực Quận 6, Quận 8, Quận 11, Bình Tân...), dịch vụ pháp lý bất động sản, hỗ trợ vay vốn ngân hàng, xem thông tin quy hoạch, phát triển các công cụ và kênh thông tin giúp khách hàng tiếp cận được thông tin mua, bán, thuê 1 cách chính xác và nhanh chóng...<br />
                                            <br />
                                            Với kinh nghiệm vững vàng cùng đội ngũ nhân sự đầy quyết tâm và thân thiện luôn nỗ lực phấn đấu để mang lại cho khách hàng dịch vụ Bất Động Sản uy tín và hiệu quả nhất từ đó làm cốt lõi xây dựng lòng tin và khẳng định giá trị của mình trên thị trường Bất Động Sản Việt Nam.<br />
                                            <br />
                                            Bằng những mục tiêu và cam kết đã đề ra, Phú Sài Thành hoàn toàn có cơ sở để tin rằng trong tương lai gần công ty sẽ khẳng định được vị thế của mình và là một trong những thương hiệu cung cấp dịch vụ Bất Động Sản uy tín và chuyên nghiệp được khách hàng lựa chọn, thay đổi cách nhìn và lòng tin của khách hàng về ngành nghề môi giới Bất Động Sản tại Việt Nam.
                                        </big>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <br />
                        <br />
                        <br />
                        <div></div>
                        @*@{Html.RenderAction("RightBoxInfo", "Layout");}*@
                        @*@{
                            Out_BrokerAccount_SelectById_Result staff = null;
                            if (Model != null)
                            {
                                staff = BoFactory.BrokerAccount.GetById(Model.AccountID);
                            }
                        }*@

                        <div class="background-color-white margin-top-20">
                            <div class="row">
                                @if (Model.IsShowEmployee == true)
                                {

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="padding-15 text-align-center">
                                                    <img src="~/Content/img/logoPST.png" class="maxwidth-90 width-100" onerror="CheckImg(this)" />
                                                    @*<img src="@(string.IsNullOrEmpty(staff.AvatarUrl) ? "/Content/img/topLogo.png" : staff.AvatarUrl)" class="width-100" onerror="CheckImg(this)">*@
                                                </div>
                                            </div>
                                            <div class="col-xs-8  padding-top-15 padding-left-15">
                                                <div><strong class="font-size-18 color-014b8a">@*@staff.DisplayName.HtmlDecode().ToUpper()*@ @Model.EmpName</strong></div>
                                                @*<div>Đã xác thực CMND</div>*@
                                                <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold"> @Model.EmpPhone</span></div>
                                                @Model.EmpText
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div id="patientList">
                                            @{Html.RenderAction("ServiceContact", "Layout", new { });}
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <br />
                        @*@{Html.RenderAction("ContactStaff", "Layout");}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>
    </div>
</div>