﻿@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">DỊCH VỤ</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="list_item ">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="item_box item_type_3 background-color-white">
                                <div class="row">
                                    <div class="col-md-3 item_img">
                                        <a href="@Url.Action("DichVuChiTiet","Home")"><img src="~/Content/img/ex_home.jpg" class="img-responsive block-center" /></a>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="item_name">
                                            TƯ VẤN THIẾT KẾ VÀ THI CÔNG HOÀN THIỆN NỘI THẤT
                                        </div>
                                        <div class="item_content">
                                            Phú Sài Thành đã và đang từng bước khẳng địnhmình trong những dự án, công trình xây dựng và lĩnh vực trang trí nội thất nhằm tạo nên một thương hiệu Phú Sài Thành trong thời buổi kinh tế hội nhập.
                                        </div>
                                        <div>
                                            <a href="dich-vu-chi-tiet.html" class="color-ed1c24"><span class="glyphicon glyphicon-play-circle"></span> Xem tiếp</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="chothuenhadat">B</div>
                <div role="tabpanel" class="tab-pane" id="nhadatdaban">B</div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3 padding-left-0">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>

    </div>
</div>
<div class="clearfix"></div>