﻿@using MyUtility.Extensions
@using OutsideX.Models
@model List<OutsideX.EF.Out_Real_Search_Result>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Trang Chủ";
}
<div class="row">
    <div class="div_center col-md-9">
        @{Html.RenderAction("BoxGiaTot", "Layout");}

        <div class="tab_box margin-top-20">
            <ul id="home_bds" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">MUA BÁN<span class="hide-768"> NHÀ ĐẤT</span></a></li>
                <li role="presentation"><a href="#chothuenhadat" aria-controls="chothuenhadat" role="tab" data-toggle="tab">CHO THUÊ<span class="hide-768"> NHÀ ĐẤT</span></a></li>
            </ul>

            <div class="tab-content ">
                @{ Html.RenderPartial("_DropdownSortType",1);}
                <div role="tabpanel" class="tab-pane active " id="muabannhadat">
                    <div class="amount_bds">Hiện có <span class="color-ed1c24">@ViewBag.Total</span> bất động sản</div>
                    @{ Html.RenderPartial("_ListHomeItem", Model);}
                    <div class="padding-10"></div>
                    @Html.Partial("Paging/_HomePaging", new PagingModel(ViewBag.Total, ViewBag.PageSize, ViewBag.PageIndex))
                </div>
                <div role="tabpanel" class="tab-pane " id="chothuenhadat">Đang tải dữ liệu...</div>
            </div>


        </div>

    </div>
    <div class="div_right col-md-3 ">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxQuan", "Layout", new { cityId = 1, SaleOrRent = 0 });}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxTinTuc", "Layout");}
    </div>
</div>

@section scripts
{
    <script>
        function getDataPage(pageIndex) {
            var tabName = $('#home_bds li.active a').attr("aria-controls");
            var tabId = 0;
            switch (tabName) {
                case "muabannhadat":
                    tabId = 1;
                    break;
                case "chothuenhadat":
                    tabId = 2;
                    break;
                case "nhadatdaban":
                    tabId = 3;
                    break;
                default:
                    tabId = 0;
                    break;
            }

            $.post('@Url.Action("HomeBds","Api")', {
                pageIndex: pageIndex,
                pageSize: '@ViewBag.PageSize',
                tab: tabId,
                tabName: tabName,
                priceType: $("#ddl_type .ddl_name").attr("value"),
            }, function (html) {
                $("#" + tabName).html(html);
            });
        }


        $(document).ready(function () {
            var tab1 = false;
            var tab2 = true;
            var tab3 = true;

            $('#home_bds a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                var id = e.target.getAttribute("aria-controls");
                switch (id) {
                    case "muabannhadat":
                        if (tab1) {
                            tab1 = false;
                            getDataPage(1);
                        }
                        break;
                    case "chothuenhadat":
                        if (tab2) {
                            tab2 = false;
                            getDataPage(1);
                        }
                        break;

                    case "nhadatdaban":
                        if (tab3) {
                            tab3 = false;
                            getDataPage(1);
                        }
                        break;
                    default:
                        break;

                }
            });

            $(document).on("click", "#ddl_type li a", function (e) {
                e.preventDefault();
                $("#ddl_type .ddl_name").html($(this).html());
                $("#ddl_type .ddl_name").attr("value", $(this).attr("value"));
                getDataPage(1);
            });

        });
    </script>
}
