﻿@model InsideX.Models.CategoryModel

@{
    ViewBag.Title = "Tạo mới chuyên mục";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><a href="@Url.Action("Index", "Category")">Chuyên mục</a> <small>@ViewBag.Title</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @Html.AntiForgeryToken()
                            @Html.Partial("PartialMasterMessage")

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên chuyên mục <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thứ tự <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Position, new { @class = "form-control col-md-7 col-xs-12", maxlength = "2" })
                                    @Html.ValidationMessageFor(model => model.Position)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Cho phép user post <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.CheckBoxFor(model => model.IsUserAccess, new { @class = "flat" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Trạng thái <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "flat" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>SEO</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display:none;">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaTitle
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaKeyword
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaKeyword)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaDescription
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    OgTitle
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.OgTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.OgTitle)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    OgDescription
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.OgDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.OgDescription)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    OgUrl
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.OgUrl, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.OgUrl)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    OgImage
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.OgImage, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.OgImage)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    TwitterTitle
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.TwitterTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.TwitterTitle)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    TwitterDescription
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.TwitterDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.TwitterDescription)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    TwitterUrl
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.TwitterUrl, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.TwitterUrl)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    TwitterImage
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.TwitterImage, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.TwitterImage)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaH1
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.MetaH1, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaH1)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaH2
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.MetaH2, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaH2)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    MetaH3
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.MetaH3, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.MetaH3)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}