﻿@{
    ViewBag.Title = "Danh sách chuyên mục";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Chuyên mục</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float:right;">
                                    <a href="@Url.Action("Create")"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" ng-app="insideForum" ng-controller="categoryController">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên chuyên mục</th>
                                        @*<th width="15%" align="center">Cho phép user post</th>*@
                                        <th width="9%" align="center">Trạng thái</th>
                                        <th width="9%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Models">
                                        <th scope="row">{{ item.ID }}</th>
                                        <td>{{ item.Name }}</td>
                                        @*<td align="center">
                                            <input type="checkbox" ng-checked="{{ item.IsUserAccess }}" class="CategoryUserAccess" ng-attr-id="{{ 'CategoryUserAccess' + item.ID }}" ng-click="changeActive(item.ID, 'CategoryUserAccess')" />
                                        </td>*@
                                        <td align="center">
                                            <input type="checkbox" ng-checked="{{ item.IsActive }}" class="CategoryActive" ng-attr-id="{{ 'CategoryActive' + item.ID }}" ng-click="changeActive(item.ID, 'CategoryActive')" />
                                        </td>
                                        <td class="text-align-center">
                                            <div class="{{item.IsNotDelete}}">
                                                <a ng-href="@HttpUtility.UrlDecode(Url.Action("Edit", new { id = "{{ item.ID }}" }))"><i class="fa fa-edit"></i></a>
                                                <span>&nbsp;|&nbsp;</span>
                                                <a ng-href="javascript:void(0);" ng-click="deleteItem(item.ID, '@HttpUtility.UrlDecode(Url.Action("Delete"))')"><i class="fa fa-trash"></i></a>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination boundary-links="true"
                                        max-size="5"
                                        ng-show="showPaging"
                                        items-per-page="itemsPerPage"
                                        total-items="totalRecord"
                                        ng-model="currentPage"
                                        ng-change="pageChanged()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        AngularCall($('#ContainerData'), 'insideForum', 'categoryController', '@Url.Action("GetListCategory")', { showPaging: false });
    </script>
}