﻿@using InsideX.Helper;
@using InsideX.Models
@using MyUtility.Extensions
@{
    ViewBag.Title = "Quản Lý Khách Hàng";
    ViewBag.PageName = "Quản Lý Khách Hàng";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row" ng-app="insideForum" ng-controller="articleController">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bộ lọc tìm kiếm</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content form-horizontal">
                            <div class="row ">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="keyword" class="col-sm-3 control-label">Từ khóa</label>
                                        <div class="col-sm-9">
                                            <input type="" class="form-control" id="keyword" placeholder="từ khóa...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" id="email" placeholder="email...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-3 control-label">Số điện thoại</label>
                                        <div class="col-sm-9">
                                            <input type="tel" class="form-control" id="phone" placeholder="số điện thoại...">
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="DateFrom" class="col-sm-3 control-label">Từ Ngày</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control has-feedback-left" id="DateFrom" name="DateFrom" placeholder="" aria-describedby="inputSuccess2Status2" value="@DateTime.Now.StartOfDate().ToString(" dd/MM/yyyy HH:mm")">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="DateTo" class="col-sm-3 control-label">Đến Ngày</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control has-feedback-left" id="DateTo" name="DateTo" placeholder="" aria-describedby="inputSuccess2Status2" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="creator" class="col-sm-3 control-label">Tỉnh/Tp</label>
                                        <div class="col-sm-9">
                                            <select name="CityId" id="CityId" class="form-control">
                                                <option value="-1" selected="selected">=== Chọn tỉnh/tp ===</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-4"></div>*@


                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                            <br />
                                            <button type="button" class="btn btn-primary" ng-click="AngularSearch();">
                                                <span class="padding-left-20 padding-right-20">Tìm</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách khách hàng</h2>
                            <div class="nav navbar-right">Total: <strong style="color:#f00;" ng-bind="totalRecord"></strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered" id="gridTable">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Tên</th>
                                        <th class="text-align-center">Địa chỉ</th>
                                        <th class="text-align-center">Tỉnh/TP</th>
                                        <th class="text-align-center">Email</th>
                                        <th class="text-align-center">Phone</th>
                                        <th class="text-align-center">Ngày sinh</th>
                                        <th class="text-align-center">Đếm</th>
                                        <th width=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Models">
                                        <th>{{item.RowNumber }}</th>
                                        <th>#{{item.Id }}</th>
                                        <td>{{item.ContactName}}</td>
                                        <td>{{item.AddressNo}}</td>
                                        <td>{{item.CityName}}</td>
                                        <td>{{item.Email}}</td>
                                        <td>{{item.Phone}}</td>
                                        <td>{{item.DayOfBirth}}</td>
                                        <td>{{item.Count}}</td>
                                        <td class="text-align-center">
                                            @*<a href="javascript:void(0)" ng-click="editProduct(item)"><i class="fa fa-edit"></i></a>*@
                                            @*<a ng-href="javascript:void(0);" ng-click="deleteProduct(item)"><i class="fa fa-trash"></i></a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination boundary-links="true"
                                        max-size="5"
                                        items-per-page="itemsPerPage"
                                        total-items="totalRecord"
                                        ng-model="currentPage"
                                        ng-change="pageChanged()">

                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section css
{
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var getDataSearch = function () {
            return {
                'email': $('#email').val(),
                'phone': $('#phone').val(),
                'keyword': $('#keyword').val(),
                'cityId': $('#cityId').val(),
                'dateFrom': $('#DateFrom').val(),
                'dateTo': $('#DateTo').val(),
                'currentPage': 1
            }
        };

        AngularCall($('#ContainerData'), 'insideForum', 'articleController', '@Url.Action("Search")', getDataSearch(), null, function ($scope) {
            $scope.editProduct = function (item) {
                var url = '@Url.Action("CreateProduct")?id=' + item.Id + '&productId=' + item.ProductId;
                location.href = url;
            };

            $scope.deleteProduct = function (item) {
                var data = { id: item.Id, productId: item.productId }
                $scope.deleteItem(item.Id, '@Url.Action("Delete")', data);
            };
        });

        function getAngularSearchData() {
            $('.x_content .alert.alert-danger').remove();
            return getDataSearch();
        };

      

        $(document).ready(function () {
            $('#DateFrom').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 10,
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });

            $('#DateTo').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 10,
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });

          
        });
    </script>
}