﻿@model List<InsideX.EF.LevelReal>
@{
    ViewBag.Title = "Phân quyền cấp quản lý";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="x_content">
            <div class="x_panel" id="ContainerData">
                <div class="x_title">Chuyên Viên Kinh Doanh</div>
                <div class="x_content">
                    <table id="" class="table table-bordered dataTable_level">
                        @*<thead>
                <tr>
                    <th>Cấp</th>
                    <th>Xem giấy tờ</th>
                    <th>Xem hình</th>
                    <th>Xem địa chỉ</th>
                    <th>Xem liên hệ</th>
                    <th>Xem môi giới</th>
                </tr>
            </thead>*@
                        <tbody>

                            @foreach (var item in Model.Where(c => c.Id < 20)) {
                                <tr>
                                    @if (item.Id == 11) {
                                        @*<td style="vertical-align: middle;" rowspan="4">Chuyên Viên Kinh Doanh</td>*@
                                    }
                                    <td class="text-align-center" style="width: 100px;"><strong>Cấp @item.Level</strong></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsviewCusInfo", item.IsviewCusInfo, new { LevelDetailId = item.Id }) Xem thông tin khách hàng</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewCusCare", item.IsViewCusCare, new { LevelDetailId = item.Id }) Xem chăm sóc khách hàng</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewCusImages", item.IsViewCusImages, new { LevelDetailId = item.Id }) Xem hình ảnh khách hàng</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewCusLetterInfo", item.IsViewCusLetterInfo, new { LevelDetailId = item.Id }) Xem phiếu thông tin</label></td>


                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="x_content">
            <div class="x_panel" id="ContainerData">
                <div class="x_title">Chuyên Viên Khai Thác</div>
                <div class="x_content">
                    <table id="" class="table table-bordered dataTable_level">
                        <tbody>
                            @foreach (var item in Model.Where(c => c.Id > 20)) {
                                <tr>
                                    @if (item.Id == 21) {
                                        @*<td style="vertical-align: middle;" rowspan="4">Chuyên Viên Khai Thác</td>*@
                                    }
                                    <td class="text-align-center" style="width: 100px;"><strong>Cấp @item.Level</strong></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewImageGiayTo", item.IsViewImageGiayTo, new { LevelDetailId = item.Id }) Xem giấy tờ</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewImageDetail", item.IsViewImageDetail, new { LevelDetailId = item.Id }) Xem hình</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewAddress", item.IsViewAddress, new { LevelDetailId = item.Id }) Xem địa chỉ</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewContact", item.IsViewContact, new { LevelDetailId = item.Id }) Xem liên hệ</label></td>
                                    <td class="text-align-center"><label>@Html.CheckBox("IsViewBroker", item.IsViewBroker, new { LevelDetailId = item.Id }) Xem môi giới</label></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section css
{

}



@section scripts
{
    <script>
        $(document).ready(function () {
            $(".dataTable_level").on("change", "input[type=checkbox]", function () {
                var levelDetailId = $(this).attr('LevelDetailId');
                console.log(levelDetailId);
                var name = $(this).attr("name");
                var model = { LevelDetailId: levelDetailId, };
                model[name] = $(this).is(":checked");
                $.post('@Url.Action("UpdateLevelReal", "LevelDetail")', model);
            });
        });

    </script>
}