﻿@using BussinessObject
@model InsideX.EF.XArea
    @{
        ViewBag.Title = "Tạo mới Khu vực";
        ViewBag.PageName = "Tạo mới Khu vực";
        var cityId = 0;
        if (Model.DistrictId > 0)
        {
            var ci = BoFactory.AddressBook.GetDistrictById(Model.DistrictId);
            if (ci != null)
            {
                cityId = ci.CityId ?? 0;
            }
        }

        var city = BoFactory.AddressBook.GetCityList().Select(c => new SelectListItem
        {
            Value = c.Id + "",
            Text = c.CityName,
            Selected = c.Id == cityId
        }).ToList();
        city.Insert(0, new SelectListItem
        {
            Value = "0",
            Text = "=== Chọn tỉnh/tp ===",
            Selected = false
        });

        var district = new List<SelectListItem>();

        var dis = BoFactory.AddressBook.GetDistrictById(Model.DistrictId);
        if (dis != null)
        {
            district.AddRange(BoFactory.AddressBook.GetDistrictByCity(dis.CityId ?? 0).Select(c => new SelectListItem
        {
            Value = c.Id + "",
            Text = c.DistrictName,
            Selected = c.Id == (Model.DistrictId)
        }));
        }

        district.Insert(0, new SelectListItem
        {
            Value = "0",
            Text = "=== Chọn quận/huyện ===",
            Selected = false
        });
    }

    <div class="right_col">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @using (Html.BeginForm("Edit", "Area", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="x_panel">
                            <div class="x_label">
                                <label>@(Model.Id > 0 ? "Sửa" : "Thêm") Khu vực</label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row padding-top-10">
                                <div class="col-md-2"><label for="city">Tên Tỉnh/Tp</label></div>
                                <div class="col-md-6">
                                    @Html.DropDownList("cityId", city, new { @class = "form-control", cityIdid = "cityId" })
                                </div>
                            </div>
                            <div class="row padding-top-10">
                                <div class="col-md-2"><label for="DistrictName">Tên Quận/Huyện</label></div>
                                <div class="col-md-6" id="DistrictList">
                                    @Html.HiddenFor(c => c.Id)
                                    @Html.DropDownListFor(c => c.DistrictId, district, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.DistrictId)
                                </div>
                            </div>
                            <div class="row padding-top-10">
                                <div class="col-md-2"><label for="DistrictName">Tên Khu vực</label></div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Name)
                                </div>
                            </div>
                          
                            <br />
                            <div class="row padding-top-10">
                                <div class="col-md-2"><label for=""></label></div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @section css
{
        <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
    }

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $("#cityId").change(function () {
                    $.get('@Url.Action("GetDistrictByCity")', {
                        cityId: $(this).val(),
                        //districtId:$("districtId").val()
                    }, function (data) {
                        $("#DistrictList").html(data);
                    });
                });
            });
        </script>
    }


