﻿@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Dept
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.EF.Department
@{
    ViewBag.Title = "Quản Lý Nhóm - User";
    ViewBag.PageName = "Quản Lý Nhóm - User";
    //ViewBag.ddlDept

}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm nhân viên vào nhóm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="">
                        <div class="">
                            <form id="deptForm" action="@Url.Action("DeptDetail")" method="GET">
                                <input id="DeptDetail" type="hidden" name="deptId" value="@ViewBag.deptId" />
                            </form>
                            <form action="@Url.Action("UpdateDetail")" method="POST">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-3 control-label">Chọn nhóm</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownList("DeptId", ViewBag.ddlDept as List<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row @(ViewBag.deptId != 0 ? "" : "hidden")">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-3 control-label">Chọn nhân viên</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownList("BrokerId", PstHelper.BrokerList(0, AdminRoleEnum.Employer.Value(), Model.Type), new { @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row @(ViewBag.deptId != 0 ? "" : "hidden")">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <div class="checkbox"><label><input type="checkbox" value="true" name='IsLeader' /> Nhóm trưởng</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="true" name='IsSubLeader' /> Nhóm phó</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row @(ViewBag.deptId != 0 ? "" : "hidden")">
                                    <div class="col-sm-12 ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label"></label>
                                            <div class="col-sm-3">
                                                <button type="submit" id="search" class="btn btn-primary">
                                                    <span class="padding-left-20 padding-right-20">Thêm nhân viên</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="@Url.Action("Index")">Quay lại trang danh sách <i class="glyphicon glyphicon-backward"></i></a>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách Nhóm</h2>
                            <div class="nav navbar-right">Total: <strong id="strongTotal" style="color:#f00;" ng-bind="totalRecord">0</strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">Loại nhóm</th>
                                        <th class="text-align-center">Tên nhóm</th>
                                        <th class="text-align-center">Nhân viên</th>
                                        <th class="text-align-center"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.DepartmentDetails != null && Model.DepartmentDetails.Any()) {
                                        foreach (var item in Model.DepartmentDetails.OrderByDescending(c=>c.IsLeader).ThenByDescending(c=>c.IsSubLeader)) {
                                            <tr>
                                                <td>@(Model.Type.NumberToEnumToText<DeptTypeEnum>())</td>
                                                <td>@Model.Name</td>
                                                <td>
                                                    @item.Employee.DisplayName
                                                    @if (item.IsLeader) {
                                                        <span style="color: red;">Nhóm trưởng</span>
                                                    }

                                                    @if (item.IsSubLeader) {
                                                        <span style="color: orange">Nhóm phó</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("DeleteDeptDetail","Department",new {deptId=item.DeptId,employeeId=item.EmployeeId})"><i class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("change", "#DeptId", function (e) {
                $("#DeptDetail").val($(this).val());
                $("#deptForm").submit();
            });

            $("#BrokerId").select2({
                templateResult: formatAvatar,
            });
        });
    </script>
}