﻿@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Dept
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model List<InsideX.EF.Department>
@{
    ViewBag.Title = "Quản Lý Nhóm";
    ViewBag.PageName = "Quản Lý Nhóm";
    //var customerType = typeof(CustomerRequestTypeEnum).ToList().ToSelectListItems(0,"0","== Loại KH ==");

}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <form action="@Url.Action("Index")" method="GET" id="preview_form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-4 control-label">Nhóm</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("deptId", PstHelper.DeptList(), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-4 control-label">Nhân viên</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("BrokerId", PstHelper.BrokerList(0, AdminRoleEnum.Employer.Value(), 0), new { @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <button type="submit" id="search" class="btn btn-primary">
                                            <span class="padding-left-20 padding-right-20">Tìm</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách Nhóm</h2>
                            <div class="nav navbar-right">Total: <strong id="strongTotal" style="color:#f00;" ng-bind="totalRecord">0</strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Loại nhóm</th>
                                        <th class="text-align-center">Tên nhóm</th>
                                        <th class="text-align-center">Nhân viên</th>
                                        <th class="text-align-center">Ngày tạo</th>
                                        @*<th class="text-align-center">Trạng thái</th>*@
                                        <th class="text-align-center">Chỉnh sửa</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Any()) {

                                        foreach (var item in Model) {
                                            <tr>
                                                <td class="text-align-center">@item.Id</td>
                                                <td>@(item.Type.ToEnum<DeptTypeEnum>().Text())</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    @{
                                            var detail = item.DepartmentDetails.OrderByDescending(c => c.IsLeader).ThenByDescending(c => c.IsSubLeader).ToList();
                                                    }
                                                    <table class="table table-bordered" style="width: 100%;">
                                                        @foreach (var departmentDetail in detail) {
                                                            <tr>
                                                                <td style="width: 50%;">@departmentDetail.Employee.DisplayName</td>

                                                                <td>
                                                                    @if (departmentDetail.IsLeader) {
                                                                        <span style="color: red;">Nhóm trưởng</span>
                                                                    }

                                                                    @if (departmentDetail.IsSubLeader) {
                                                                        <span style="color: orange">Nhóm phó</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (departmentDetail.IsLeader) {
                                                                        <span style="color: red;">Cấp: @departmentDetail.Employee.Level</span>
                                                                    }

                                                                    @if (departmentDetail.IsSubLeader) {
                                                                        <span style="color: orange">@departmentDetail.Employee.Level</span>
                                                                    }
                                                                </td>

                                                            </tr>
                                                        }
                                                    </table>
                                                </td>
                                                <td>
                                                    @if (item.CreatedDate != null) {
                                                        <span>
                                                            @item.CreatedDate.Value.ToString("yy/MM/dd")
                                                        </span>
                                                    }
                                                </td>
                                                @*<td class="text-align-center">
                                                        @if (item.IsActive) {
                                                            <span class="glyphicon glyphicon-ok color-023b6d"></span>
                                                        }
                                                    </td>*@
                                                <td class="text-align-center">
                                                    <a href="@Url.Action("Update", new { Id = item.Id })"><span class="glyphicon glyphicon-edit"></span></a>
                                                    <span>&nbsp;|&nbsp;</span>
                                                    <a href="@Url.Action("Delete", new { Id = item.Id })" onclick=" return confirm('Chắc chắn xóa ?') "><span class="glyphicon glyphicon-trash color-ed1c24"></span></a>
                                                    <span>&nbsp;|&nbsp;</span>
                                                    <a href="@Url.Action("DeptDetail", new {deptId = item.Id})"><span class="">View/Add user</span></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else {
                                        <tr>@*<td colspan="6">Không có dữ liệu</td>*@</tr>
                                    }
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    @*<link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />*@


}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@
    @*<script src="~/Content/dataTables/js/jquery.dataTables.js"></script>*@
    @*<script src="~/Content/select2-4.0.3/js/select2.min.js"></script>*@

    <script type="text/javascript">

        $(document).ready(function () {
            //$('#DateFrom').val('');
            //$('#DateTo').val('');
            @*var dataTable = $('#dataTable').on('xhr.dt', function (e, settings, json, xhr) {
                //console.log(json.recordsTotal);
                $('#strongTotal').html(json.recordsTotal);
            }).DataTable({
                "processing": true,
                //"orderable": false,
                "serverSide": true,
                "lengthChange": false,
                //"pageLength": 1,
                "bFilter": false,
                "bInfo": false,
                "lengthMenu": [[10], [10]],
                "ajax": {
                    "url": '@Url.Action("Search")',
                    "type": "POST",
                    "data": function (d) {
                        d.Keyword = $("#Keyword").val();
                        d.dateForm = $("#DateFrom").val();
                        d.dateTo = $("#DateTo").val();
                        d.Status = $("#Status").val();
                        d.BrokerId = $("#selectStaff").val();
                        d.CustomerType = $("#CustomerType").val();

                    }
                },
                "columns": [
                    { "orderable": false, "data": "Id", className: "text-align-center" },
                    { "orderable": false, "data": "CustomerTypeText" },
                    { "orderable": false, "data": "StatusText" },
                    { "orderable": false, "data": "CustomerName" },
                    { "orderable": false, "data": "Mobile" },
                    { "orderable": false, "data": "RequestDetail" },
                    { "orderable": false, "data": "RequestLocation" },
                    { "orderable": false, "data": "PriceMax" },
                    { "orderable": false, "data": "RealEstate" },
                    { "orderable": false, "data": "CreateDateText" },
                    { "orderable": false, "data": "DisplayName" },
                    { "orderable": false, "data": "Edit", className: "text-align-center" },
                ],
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a class="edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a> &nbsp;|&nbsp; <a class="delete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "language": {
                    "emptyTable": "Không có dữ liệu"
                },
                fnDrawCallback: function () {
                    $('html,body').animate({
                        scrollTop: 0
                    }, 1000);
                }
            });

            $('#dataTable tbody').on('click', 'a.edit', function () {
                var data = dataTable.row($(this).parents('tr')).data();
                var href = '@Url.Action("Edit")?id=' + data["Id"];
                window.open(href);
            });
            $('#dataTable tbody').on('click', 'a.delete', function () {
                if (confirm('Chắc chắn xóa ?')) {
                    var data = dataTable.row($(this).parents('tr')).data();
                    $.post('@Url.Action("Delete")', { id: data["Id"] }, function (res) {
                        $('#dataTable').DataTable().ajax.reload();
                    });
                }


            });*@


            //$('#DateFrom').daterangepicker({
            //    singleDatePicker: true,
            //    timePicker: false,
            //    timePicker24Hour: false,
            //    //timePickerIncrement: 10,
            //    locale: {
            //        format: 'DD/MM/YYYY'
            //    }
            //});

            //$('#DateTo').daterangepicker({
            //    singleDatePicker: true,
            //    timePicker: false,
            //    timePicker24Hour: false,
            //    //timePickerIncrement: 10,
            //    locale: {
            //        format: 'DD/MM/YYYY'
            //    }
            //});

            //$('#DateFrom').val('');
            //$('#DateTo').val('');

            //$("#search").click(function () {
            //    //dataTable.reload();
            //    $('#dataTable').DataTable().ajax.reload();
            //});

            @*$("#selectStaff").select2({
                templateResult: function (item) {
                    if (!item.id) {
                        return item.text;
                    }
                    var $item = $(
                        '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
                    );
                    return $item;
                },
                ajax: {
                    url: '@Url.Action("BrokerAccount", "Api")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {

                        return {
                            keyword: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        //for (var i = 0; i < data.length; i++) {
                        //var item = data[i];
                        ////StaffObj[item.id] = item;
                        //}

                        return {
                            results: data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
            });*@
            $(document).on("keypress", "#preview_form input,#preview_form select", function (e) {
                if (e.keyCode == 13) {
                    $("form").submit();
                }
            });

            $(document).on("change", "#preview_form input[type=checkbox], #preview_form select", function (e) {
                $("form").submit();

            });
        });
    </script>pt
}