﻿@model InsideX.Models.Dept.DepartmentModel
@using InsideX.Helper;
@using InsideX.Models
@{
    var title = Model.Id > 0 ? "Sửa" : "Thêm " + " Nhóm";
    ViewBag.Title = title;
    ViewBag.PageName = title;

}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Update", "Department", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.HiddenFor(c => c.Id)

                    <div class="x_panel">
                        <div class="x_label">
                            <label>@title</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Name">Tên Nhóm</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Name)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Name">Phân loại nhóm</label></div>
                            <div class="col-md-2">
                                @Html.DropDownList("Type", TinyHelper.DropdownListDeptType(Model.Type), new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Type)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Note">Ghi chú</label></div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.Note, new { @class = "form-control", rows = 4 })
                                @Html.ValidationMessageFor(c => c.Note)
                            </div>
                        </div>
                        @*<div class="row padding-top-10">
                            <div class="col-md-2"><label for="selectStaff">Nhân viên</label></div>
                            <div class="col-md-6">
                                <select name="BrokerId" id="selectStaff" class="form-control"></select>
                            </div>
                        </div>*@
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Status">Tình trạng</label></div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @if (Model.Id > 0 && !Model.IsActive)
                                    {
                                        <label> <input name="IsActive" type="checkbox" value="true" /> Active</label>
                                    }
                                    else
                                    {
                                        <label> <input name="IsActive" type="checkbox" checked="" value="true" /> Active</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for=""></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/select2-4.0.3/js/select2.js"></script>
    <script>
        //function formatState(item) {
        //    if (!item.id) {
        //        return item.text;
        //    }
        //    var $item = $(
        //        '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
        //    );
        //    return $item;
        //};

        $(document).ready(function () {
            //var preloadData = [
            //    { id: 'user0', text: 'Disabled User', locked: true }, { id: 'user1', text: 'Jane Doe' }, { id: 'user2', text: 'John Doe', locked: true }, { id: 'user3', text: 'Robert Paulson', locked: true }, { id: 'user5', text: 'Spongebob Squarepants' }, { id: 'user6', text: 'Planet Bob' }, { id: 'user7', text: 'Inigo Montoya' }
            //];
            //function select2(data) {
            //    $("#selectStaff").select2({
            //        multiple: true,
            //        data:data,
            //        templateResult: function (item) {
            //            if (!item.id) {
            //                return item.text;
            //            }
            //            var $item = $(
            //                '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
            //            );
            //            return $item;
            //        },
            //    });
            //}

            @*$.post('@Url.Action("BrokerAccountByDept", "Api",new {deptId=Model.Id})', function(data) {
                select2(data);
            });*@

        });
    </script>
}


