﻿@model InsideX.Models.CommentModel
@using InsideForum.Helper;
@{
    ViewBag.Title = "Chỉnh sửa Comment";

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("EditComment", "Comment", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><a href="@Url.Action("ListCommentByArticle", "Comment", new { articleID = ViewBag.ArticleId }))">Tin Tức</a> <small>@ViewBag.Title</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @Html.AntiForgeryToken()
                            @Html.Partial("PartialMasterMessage")

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Nội Dung <span class="required">*</span>
                                    @Html.HiddenFor(model => model.ArticleID)
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.Content, 10, 1, new { @class = "form-control col-md-7 col-xs-12", id = "TextBoxContent" })
                                    @Html.ValidationMessageFor(model => model.Content)
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/content/ckeditor/ckeditor.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('TextBoxContent');

          
        });
    </script>
}