﻿@{
    ViewBag.Title = "Danh sách comment";
}
@using InsideX.Helper;
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        </div>
        <div class="clearfix"></div>
        <div class="row" ng-app="insideForum" ng-controller="CommentController" data-ng-init="AngularSearch">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách comment</h2>
                            <div class="nav navbar-right">Total: <strong style="color:#f00;" ng-bind="totalRecord"></strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable" class="table table-striped jambo_table">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 5%;">STT</th>
                                        <th style="width: 60%;">Nội Dung</th>
                                        <th style="width: 15%;">Người Đăng</th>
                                        <th style="width: 15%;">Thời Gian</th>
                                        <th style="width: 15%;"></th>
                                    </tr>
                                </thead>
                                <tbody class="ListComment">
                                    <tr ng-repeat="item in Models">
                                        <td>{{ item.RowNumber }}</td>
                                        <td>
                                            <div ng-bind-html="item.Content | trusted"></div>
                                        </td>
                                        <td>{{ item.AccountDisplayName }}</td>
                                        <td>{{ item.CreateDate }}</td>
                                        <td align="center">
                                            <a ng-href="javascript:void(0);" ng-click="deleteItem(item.ID, '@HttpUtility.UrlDecode(Url.Action("Delete"))')"><i class="fa fa-trash"></i></a>
                                            <a target="_blank" ng-href="@HttpUtility.UrlDecode(Url.Action("EditComment", new { id = "{{ item.ID }}", articleID = "{{ item.ArticleID }}" }))"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row pagingtb">
                                <pagination boundary-links="true"
                                            max-size="5"
                                            ng-show="showPaging"
                                            items-per-page="itemsPerPage"
                                            total-items="totalRecord"
                                            ng-model="currentPage"
                                            ng-change="pageChanged()">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        AngularCall($('#ContainerData'), 'insideForum', 'CommentController', '@Url.Action("ListCommentByArticle")', {'articleId': @ViewBag.ArticleId, 'currentPage': 1 }, null);

        function getAngularSearchData() {
            return { 'articleId': @ViewBag.ArticleId , 'currentPage': 1 };
        };       
    </script>
}


