﻿@using OutsideX.Models
@{
    string navBar = ViewBag.NavBar ?? string.Empty;
}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="top_box">

            <div class="top_box_contain">
                @*<a href="@Url.Action("Register", "Account")" class="dk">Đăng Ký</a>*@
                @*<a href="@Url.Action("Faq", "Home")" class="hd">Hỏi Đáp</a>*@
                @{
                    var sess = MySessionManager.SessionData;
                }
                @if (sess != null)
                {
                    <a href="javascript:void(0)" class="">@sess.DisplayName</a>
                    <a href="@Url.Action("LogOut", "Account")" class="">Đăng xuất</a>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account", new { ReturnUrl = HttpContext.Current.Request.Url.AbsolutePath })" class="dn">Đăng Nhập</a>
                }

            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/topLogo.png?2" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class='@(navBar == "About" ? "active" : "")'><a href="@Url.Action("About","Home")">GIỚI THIỆU</a></li>
                    <li class='@(navBar == "Job" ? "active" : "")'><a href="@Url.Action("Detail","News",new {id = "7"})">TUYỂN DỤNG</a></li>
                    <li class='@(navBar == "KyGui" ? "active" : "")'><a href="@Url.Action("KyGui", "Home")">KÝ GỬI NHÀ ĐẤT</a></li>
                    
                    <li class='@(navBar.StartsWith("NhaDat") ? "active nav_ddl" : "nav_ddl")'>
                        <a href="@Url.Action("NhaDatBan", "RealEstate")">NHÀ ĐẤT</a>
                        <ul class="nav_ddl_pannel">
                            <li><a href="@Url.Action("NhaDatBan","RealEstate")">◦ NHÀ ĐẤT BÁN</a></li>
                            <li><a href="@Url.Action("NhaDatChoThue", "RealEstate")">◦ NHÀ ĐẤT CHO THUÊ</a></li>
                        </ul>
                    </li>

                    @*<li class='@(navBar == "CanMuaCanThue" ? "active" : "")'><a href="@Url.Action("CanMuaCanThue", "RealEstate")">CẦN MUA, CẦN THUÊ</a></li>*@
                    <li class='@(navBar.StartsWith("Service") ? "active nav_ddl" : "nav_ddl")'>
                        <a href="@Url.Action("Index", "Service")">DỊCH VỤ</a>
                        <ul class="nav_ddl_pannel">
                            <li><a href='@Url.Action("Detail","Service",new {id=3})'>◦ Dịch vụ pháp lý nhà đất </a></li>
                            <li><a href='@Url.Action("Detail","Service",new {id=4})'>◦ Thông tin quy hoạch</a></li>
                            <li><a href='@Url.Action("Detail","Service",new {id=5})'>◦ Tư vấn vay vốn ngân hàng</a></li>
                        </ul>
                    </li>
                    <li class='@(navBar.StartsWith("News") ? "active" : "")'><a href="@Url.Action("Index", "News")">TIN TỨC</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>