﻿@model SearchModel
@using OutsideX.Models
@if (Model != null)
{
    var isAdvance = true;// Model.IsShowAdvance || Model.WardId > 0 || Model.StreetId > 0 || Model.DirectionId > 0;
    <div class="container search_box" role="main">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="@(Model.TabIndex == 1?"active":"")" tab="1"><a href="#mua_ban_nha_dat" aria-controls="mua_ban_nha_dat" role="tab" data-toggle="tab">MUA BÁN NHÀ ĐẤT</a></li>
            <li role="presentation" class="@(Model.TabIndex == 2?"active":"")" tab="2"><a href="#mua_ban_nha_dat" aria-controls="cho_thue_nha_dat" role="tab" data-toggle="tab">CHO THUÊ NHÀ ĐẤT</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="mua_ban_nha_dat">
                <div class="padding-10">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { id = "form_search_header" }))
                    {

                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-sm-10 col-xs-9 padding-left-5 padding-right-5">
                                @Html.HiddenFor(c => c.TabIndex)
                                @Html.HiddenFor(c => c.SortType)
                                <input type="hidden" name="PageIndex" id="PageIndex" value="1" />
                                @Html.TextBoxFor(c => c.Keyword, new { @class = "form-control", placeholder = "Tìm kiếm: Tên đường, quận, huyện hoặc thành phố......" })
                            </div>
                            <div class="col-sm-2 col-xs-3 mobile-text-right padding-left-5 padding-right-5">
                                <a href="#" id="search_button">
                                    @*<img src="~/Content/img/btnSearch.png" />*@
                                    TÌM BĐS
                                </a>
                            </div>
                        </div>

    <div class="row search_form_2">
        <div class="col-md-12 col-xs-6">
            <div class="row ">
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        @Html.DropdownListMulti("RealTypeMulti", Model.RealTypeMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Loại nhà đất"},
                                        {"data" , Model.RealTypeMulti.ToStringJoin()},
                                    })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        @Html.DropDownListFor(c => c.CityId, Model.CityList(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        @Html.DropDownListFor(c => c.DistrictId, Model.DistrictList(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        @Html.DropdownListMulti("WardIdMulti", Model.WardMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Phường/xã"},
                                        {"data" , Model.WardIdMulti.ToStringJoin()},
                                    })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        @Html.DropdownListMulti("StreetIdMulti", Model.StreetMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Đường"},
                                        {"data" , Model.StreetIdMulti.ToStringJoin()},
                                    })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="padding-top-10">
                        <div class="checkbox padding-top-5 margin-top-0 margin-bottom-0">
                            <label class="checkbox-inline color-white font-size-15">
                                @if (Model.IsPriceHot) {
                                                    <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true" checked="checked">
                                                    }
                                                    else {
                                                    <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true">
                                                    }
                                Giá tốt
                            </label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-xs-6">
            <div class="row ">
                <div class="col-md-2 col-xs-12">

                    <div class="padding-top-10">
                        @Html.DropdownListMulti("StreetTypeMulti", Model.StreetTypeMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Mặt tiền/hẻm"},
                                        {"data" , Model.StreetTypeMulti.ToStringJoin()},
                                    })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">

                    <div class="padding-top-10">
                        @Html.DropdownListMulti("DirectionMulti", Model.DirectionMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hướng"},
                                    {"data" , Model.DirectionMulti.ToStringJoin()},
                                })


                    </div>
                </div>
                <div class="col-md-2 col-xs-12">

                    <div id="divProductStatusNow" class="padding-top-10">
                        @Html.DropdownListMulti("RealStatusNowMulti", Model.RealStatusNowMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hiện trạng"},
                                    {"data" , Model.RealStatusNowMulti.ToStringJoin()},
                                })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">

                    <div id="divRoomNumber" class="padding-top-10">
                        @Html.DropDownList("RoomNumber", Model.RooomNumberList(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">

                    <div class="padding-top-10">
                        @Html.HiddenFor(c => c.PriceType, new { id = "PriceType" })
                        @Html.DropDownList("PriceTypeList1", Model.PriceTypeList1(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 1 ? "" : "display:none") })
                        @Html.DropDownList("PriceTypeList2", Model.PriceTypeList2(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 2 ? "" : "display:none") })
                    </div>
                </div>
                @*<div class="col-md-2 col-xs-12">
                        <div class="padding-top-10">
                            <div class="checkbox padding-top-5 margin-top-0 margin-bottom-0">
                                <label class="checkbox-inline color-white font-size-15">
                                    @if (Model.IsPriceHot) {
                                        <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true" checked="checked">
                                    }
                                    else {
                                        <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true">
                                    }
                                    Giá tốt
                                </label>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>

                        @*<div class="row search_form_2">
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    @Html.DropdownListMulti("RealTypeMulti", Model.RealTypeMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Loại nhà đất"},
                                        {"data" , Model.RealTypeMulti.ToStringJoin()},
                                    })
                                </div>
                                <div class="padding-top-10">
                                    @Html.DropdownListMulti("StreetTypeMulti", Model.StreetTypeMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Mặt tiền/hẻm"},
                                        {"data" , Model.StreetTypeMulti.ToStringJoin()},
                                    })
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    @Html.DropDownListFor(c => c.CityId, Model.CityList(), new { @class = "form-control" })
                                </div>
                                <div class="padding-top-10">
                                    @Html.DropdownListMulti("DirectionMulti", Model.DirectionMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hướng"},
                                    {"data" , Model.DirectionMulti.ToStringJoin()},
                                })


                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    @Html.DropDownListFor(c => c.DistrictId, Model.DistrictList(), new { @class = "form-control" })
                                </div>
                                <div id="divProductStatusNow" class="padding-top-10">
                                    @Html.DropdownListMulti("RealStatusNowMulti", Model.RealStatusNowMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hiện trạng"},
                                    {"data" , Model.RealStatusNowMulti.ToStringJoin()},
                                })
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    @Html.DropdownListMulti("WardIdMulti", Model.WardMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Phường/xã"},
                                        {"data" , Model.WardIdMulti.ToStringJoin()},
                                    })
                                </div>
                                <div id="divRoomNumber" class="padding-top-10">
                                    @Html.DropDownList("RoomNumber", Model.RooomNumberList(), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    @Html.DropdownListMulti("StreetIdMulti", Model.StreetMultiList(), new Dictionary<string, object>{
                                        { "class" ,"form-control ddl_multi_ckbox" },
                                        { "multiple", "multiple" },
                                        {"title" , "Đường"},
                                        {"data" , Model.StreetIdMulti.ToStringJoin()},
                                    })
                                </div>
                                <div class="padding-top-10">
                                    @Html.HiddenFor(c => c.PriceType, new { id = "PriceType" })
                                    @Html.DropDownList("PriceTypeList1", Model.PriceTypeList1(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 1 ? "" : "display:none") })
                                    @Html.DropDownList("PriceTypeList2", Model.PriceTypeList2(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 2 ? "" : "display:none") })
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="padding-top-10">
                                    <div class="checkbox padding-top-5 margin-top-0 margin-bottom-0">
                                        <label class="checkbox-inline color-white font-size-15">
                                            @if (Model.IsPriceHot) {
                                                <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true" checked="checked">
                                            }
                                            else {
                                                <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true">
                                            }
                                            Giá tốt
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                        <!-- -->
                        @*<div class="row margin-top-15">
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("RealTypeMulti", Model.RealTypeMultiList(), new Dictionary<string, object>{ 
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Loại nhà đất"},
                                    {"data" , Model.RealTypeMulti.ToStringJoin()},
                                })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropDownListFor(c => c.CityId, Model.CityList(), new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropDownListFor(c => c.DistrictId, Model.DistrictList(), new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("WardIdMulti", Model.WardMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Phường/xã"},
                                    {"data" , Model.WardIdMulti.ToStringJoin()},
                                })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("StreetIdMulti", Model.StreetMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Đường"},
                                    {"data" , Model.StreetIdMulti.ToStringJoin()},
                                })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="checkbox padding-top-5 margin-top-0 margin-bottom-0">
                                    <label class="checkbox-inline color-white font-size-15">
                                        @if (Model.IsPriceHot) {
                                            <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true" checked="checked">
                                        }
                                        else {
                                            <input type="checkbox" id="IsPriceHot" name="IsPriceHot" value="true">
                                        }
                                        Giá tốt
                                    </label>
                                </div>

                            </div>
                        </div>*@
                        
                        @*<div class="row margin-top-15 collapse @(isAdvance?" in":"in")" id="tim_nang_cao">
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("StreetTypeMulti", Model.StreetTypeMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Mặt tiền/hẻm"},
                                    {"data" , Model.StreetTypeMulti.ToStringJoin()},
                                })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("DirectionMulti", Model.DirectionMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hướng"},
                                    {"data" , Model.DirectionMulti.ToStringJoin()},
                                })


                            </div>
                            <div id="divProductStatusNow" class="col-md-2 col-sm-4 col-xs-6">
                                @Html.DropdownListMulti("RealStatusNowMulti", Model.RealStatusNowMultiList(), new Dictionary<string, object>{
                                    { "class" ,"form-control ddl_multi_ckbox" },
                                    { "multiple", "multiple" },
                                    {"title" , "Hiện trạng"},
                                    {"data" , Model.RealStatusNowMulti.ToStringJoin()},
                                })
                            </div>
                            <div id="divRoomNumber" class="col-md-2 col-sm-4  col-xs-6">
                                @Html.DropDownList("RoomNumber", Model.RooomNumberList(), new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                @Html.HiddenFor(c => c.PriceType, new { id = "PriceType" })
                                @Html.DropDownList("PriceTypeList1", Model.PriceTypeList1(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 1 ? "" : "display:none") })
                                @Html.DropDownList("PriceTypeList2", Model.PriceTypeList2(), new { @class = "form-control PriceTypeList", style = (Model.TabIndex == 2 ? "" : "display:none") })
                            </div>
                        </div>*@
                    }
                </div>

            </div>
        </div>

    </div>
}
