﻿@model InsideX.Models.DropDownListEnumMultipleModel
@{
    Layout = null;
}
@if (Model != null)
{
        <select id="@Model.Name" name="@Model.Name" multiple="multiple" class="@Model.Class">
            @if (Model.SelectListItems != null && Model.SelectListItems.Any())
            {
                foreach (var item in Model.SelectListItems)
                {
                    if (item.Selected)
                    {
                        <option value="@item.Value" selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            }
            
            @if (Model.GroupSelectListItems != null && Model.GroupSelectListItems.Any())
            {
                foreach (var group in Model.GroupSelectListItems)
                {
                    <optgroup label="@group.GroupName">
                        @foreach (var item in group.SelectListItems)
                        {
                            if (item.Selected)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </optgroup>
                }
            }

        </select>


}

