﻿@model  List<EntitiesObject.Entities.WebEntities.Xward>
@using InsideX.Helper;
@{
    ViewBag.Title = "Quản Lý Phường/Xã";
    ViewBag.PageName = "Quản Lý Phường/Xã";

}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <form action="@Url.Action("Index")" method="GET">
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="creator" class="col-sm-3 control-label">Tỉnh/Tp</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("cityId", (List<SelectListItem>)ViewBag.City, new { @class = "form-control",onchange="$('form').submit()" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="creator" class="col-sm-3 control-label">Quận/Huyện</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("districtId", (List<SelectListItem>)ViewBag.District, new { @class = "form-control", onchange = "$('form').submit()" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <br />
                                        <button type="submit" class="btn btn-primary">
                                            <span class="padding-left-20 padding-right-20">Tìm</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách Phường/Xã</h2>
                            <div class="nav navbar-right">Total: <strong style="color:#f00;" ng-bind="totalRecord"></strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered" id="gridTable">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Phường/Xã</th>
                                        <th class="text-align-center">Hiển thị</th>
                                        <th class="text-align-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-align-center">@item.Id</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Ward", new { id = item.Id })">
                                                    @item.WardName
                                                </a>

                                            </td>
                                            <td class="text-align-center">
                                                @if (item.IsPublic == true)
                                                {
                                                    <span class="glyphicon glyphicon-ok text-success"></span>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                }
                                            </td>
                                            <td class="text-align-center">
                                                <a href="@Url.Action("Edit", "Ward", new { id = item.Id })"><i class="fa fa-edit"></i></a>
                                                <span class="margin-left-5 margin-right-5">|</span>
                                                <a href="@Url.Action("Delete", "Ward", new { id = item.Id, cityId=Request["cityId"],districtId = item.DistrictId })"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section css
{
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        $(document).ready(function () {
            $(document).on("keypress", "form input,form select", function (e) {
                if (e.keyCode == 13) {
                    $("form").submit();
                }
            });

            $(document).on("change", "form input[type=checkbox], form select", function (e) {
                $("form").submit();

            });
        });
    </script>
}