﻿@model InsideX.Models.Widget.CheckBoxModel
@{
    Layout = null;
}
@if (Model != null)
{
    if (Model.Selected!=null && Model.Selected == true)
    {
        <label><input type="checkbox" name="@Model.Name" value="@Model.Value" id="@(Model.Id??"")" checked="checked" /> @Model.Text&nbsp;</label>
    }
    else
    {
        <label><input type="checkbox" name="@Model.Name" value="@Model.Value" id="@(Model.Id??"")" /> @Model.Text&nbsp;</label>
    }

}
