﻿@using InsideX.Models
@using MyUtility.Extensions
@model EntitiesObject.Entities.WebEntities.CustomerRequest
@{
    var title = Model.Id > 0 ? "Sửa" : "Thêm " + "yêu cầu khách hàng";
    ViewBag.Title = title;
    ViewBag.PageName = title;

    var customerType = typeof(CustomerRequestTypeEnum).ToList().ToSelectListItems(Model.CustomerType ?? 0);
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Edit", "Customer", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.HiddenFor(c => c.Id)

                    <div class="x_panel">
                        <div class="x_label">
                            <label>@title</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="CustomerName">Tên khách hàng</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.CustomerName)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="CustomerType">Loại khách hàng</label></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.CustomerType, customerType, new { @class = "form-control" })

                                @Html.ValidationMessageFor(c => c.CustomerType)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Mobile">Số điện thoại</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Mobile, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Mobile)
                            </div>
                        </div>
                         
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="CustomerName">Mạng Xã Hội</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.CustomerName)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="AddressName">Nguồn cung cấp</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.AddressName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.AddressName)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="RequestDetail">Nhu cầu</label></div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.RequestDetail, new { @class = "form-control", rows = 4 })
                                @Html.ValidationMessageFor(c => c.RequestDetail)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="RealEstate">Tài sản</label></div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.RealEstate, new { @class = "form-control", rows = 4 })
                                @Html.ValidationMessageFor(c => c.RealEstate)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="RealEstate">Ghi chú</label></div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.Notes, new { @class = "form-control", rows = 4 })
                                @Html.ValidationMessageFor(c => c.Notes)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="RequestLocation">Khu vực</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.RequestLocation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.RequestLocation)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="PriceMax">Giá tối đa</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.PriceMax, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.PriceMax)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="BrokerId">Thông tin nhân viên</label></div>
                            <div class="col-md-6">
                                <select name="BrokerId" id="BrokerId" class="form-control">
                                    @if (Model.BrokerId != null && Model.BrokerId > 0)
                                    {
                                        <option value="@Model.BrokerId" selected="selected">@ViewBag.Broker</option>
                                    }
                                    else
                                    {
                                        <option value="" selected="selected">=== Chọn nhân viên ===</option>
                                    }
                                </select>

                                @Html.ValidationMessageFor(c => c.BrokerId)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Status">Tình trạng</label></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.Status, typeof(CustomerRequestStatusEnum).ToList().ToSelectListItems(Model.Status ?? 0), new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Status)
                            </div>
                        </div>
                        <br />
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for=""></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section css
{
<link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script>
        function formatState(item) {
            if (!item.id) {
                return item.text;
            }
            var $item = $(
                '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
            );
            return $item;
        };

        $(document).ready(function() {
            $("#BrokerId").select2({
                templateResult: formatState,
                //placeholder: 'Chọn môi giới',
                ajax: {
                    url: '@Url.Action("BrokerAccount", "Api")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            keyword: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;
                        return {
                            results: data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
            });
        });
    </script>
}


