﻿@using InsideX.Models
@using MyUtility.Extensions
@{
    ViewBag.Title = "Quản Lý Feedback";
    ViewBag.PageName = "Quản Lý Feedback";

}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form action="@Url.Action("Index")" method="GET">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-3 control-label">Keyword</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="Keyword" class="form-control" placeholder="Keyword..." />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="creator" class="col-sm-3 control-label">Trạng thái</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("isReply", typeof(CustomerRequestStatusEnum).ToList().ToSelectListItems(0, "-1", "== Trạng thái =="), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label"></label>
                                            <div class="col-sm-9">
                                                <button type="button" id="search" class="btn btn-primary">
                                                    <span class="padding-left-20 padding-right-20">Tìm</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách khách hàng</h2>
                            <div class="nav navbar-right">Total: <strong id="strongTotal" style="color:#f00;" ng-bind="totalRecord">0</strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">#BĐS</th>
                                        <th class="text-align-center">Tên</th>
                                        <th class="text-align-center">SĐT</th>
                                        <th class="text-align-center">Email</th>
                                        <th class="text-align-center">Feedback</th>
                                        <th class="text-align-center">Ngày tạo</th>
                                        <th class="text-align-center"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>

                                </tfoot>
                            </table>


                            @*<div class="btn-toolbar bottom tableexport-caption">
                                <button class="btn btn-default xlsx" onclick="exportToExcel()">Export to xlsx</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />


}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
        function exportToExcel() {
            var url = '@Url.Action("ExportToExcel")?';
            // url += 'brokerId=' + $('#BrokerId').val();
            url += 'keyword=' + $('#Keyword').val();
            url += '&status=' + $('#Status').val();
            //   url += '&productType=' + $('#productType').val();
            url += '&dateFrom=' + encodeURIComponent($('#DateFrom input').val());
            url += '&dateTo=' + encodeURIComponent($('#DateTo input').val());
            var ifa = '<iframe src="' + url + '" style="display: none"></iframe>';
            $("body").append(ifa);
        }


        $(document).ready(function () {
            $('#DateFrom').val('');
            $('#DateTo').val('');
            var dataTable = $('#dataTable').on('xhr.dt', function (e, settings, json, xhr) {
                //console.log(json.recordsTotal);
                $('#strongTotal').html(json.recordsTotal);
            }).DataTable({
                "processing": true,
                //"orderable": false,
                "serverSide": true,
                "lengthChange": false,
                //"pageLength": 1,
                "bFilter": false,
                "bInfo": false,
                "lengthMenu": [[10], [10]],
                "ajax": {
                    "url": '@Url.Action("Search")',
                    "type": "POST",
                    "data": function (d) {
                        d.Keyword = $("#Keyword").val();
                        d.isReply = $("#isReply").val();
                    }
                },
                "columns": [
                    { "orderable": false, "data": "Id", className: "text-align-center" },
                    { "orderable": false, "data": "ProductId", className: "text-align-center" },
                    { "orderable": false, "data": "ContactName" },
                    { "orderable": false, "data": "Mobile" },
                    { "orderable": false, "data": "Email" },
                    { "orderable": false, "data": "Feedback" },
                    {
                        "orderable": false, "data": "CreateDate", render: function (d) { return moment(d).format("DD/MM/YYYY HH:mm");}
                    },
                    { "orderable": false, "data": "Delete", className: "text-align-center" },
                ],
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a class="delete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>'
                    }
                ],
                dom: 'Bfrtip',
                "language": {
                    "emptyTable": "Không có dữ liệu"
                },
                fnDrawCallback:function() {
                    $('html,body').animate({
                        scrollTop: 0
                    }, 1000);
                }
            });

            $('#dataTable tbody').on('click', 'a.edit', function () {
                var data = dataTable.row($(this).parents('tr')).data();
                location.href = '@Url.Action("Edit")?id=' + data["Id"];
            });
            $('#dataTable tbody').on('click', 'a.delete', function () {
                if (confirm('Chắc chắn xóa ?')) {
                    var data = dataTable.row($(this).parents('tr')).data();
                    $.post('@Url.Action("Delete")', { id: data["Id"] }, function (res) {
                        $('#dataTable').DataTable().ajax.reload();
                    });
                }
            });

            $("#search").click(function () {
                $('#dataTable').DataTable().ajax.reload();
            });
        });
    </script>
}