﻿@using InsideX.Helper
@model InsideX.Models.AdminCreateModel

@{
    ViewBag.Title = "Tạo mới tài khoản admin";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><a href="@Url.Action("Index", "Admin")">Admin</a> <small>@ViewBag.Title</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("Create", "Admin", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.Id)
                            @Html.Partial("PartialMasterMessage")

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên đăng nhập <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @if (Model.Id > 0)
                                    {
                                        <div>@Html.TextBoxFor(model => model.LoginName, new { @class = "form-control col-md-7 col-xs-12", maxlength = "20", @readonly = Model.Id > 0 ? "readonly" : "" })</div>
                                    }
                                    else
                                    {
                                        <div>@Html.TextBoxFor(model => model.LoginName, new { @class = "form-control col-md-7 col-xs-12", maxlength = "20" })</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.LoginName)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên đầy đủ <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control col-md-7 col-xs-12", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.DisplayName)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số điện thoại <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control col-md-7 col-xs-12", maxlength = "32" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Email <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-7 col-xs-12", maxlength = "64", type = "email" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mật khẩu <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control col-md-7 col-xs-12", maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Nhập lại mật khẩu <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control col-md-7 col-xs-12", maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Hình đại diện
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="file" name="AvatarUrl" class="form-control col-md-7 col-xs-12" />
                                    @Html.HiddenFor(m => m.AvatarUrl)
                                    @if (!string.IsNullOrEmpty(Model.AvatarUrl))
                                    {
                                        <img src="@(Model.AvatarUrl)" width="80" height="60" />
                                    }
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Vai trò <span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select name="RoleId" class="form-control">
                                        @if (Model.Id > 0 && MySessionManager.SessionData.ID == 1)
                                        {
                                            <option value="1" @(Model.RoleId == 1 ? " selected" : "")>Quản trị</option>
                                        }

                                        <option value="2" @(Model.RoleId == 2 ? " selected" : "")>Quản lý</option>
                                        <option value="3" @(Model.RoleId == 3 ? " selected" : "")>Nhân viên</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Trạng thái <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "flat" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}