﻿@{
    ViewBag.Title = "Danh sách tài khoản admin";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Admin</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float:right;">
                                    <a href="@Url.Action("Create")"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" ng-app="insideForum" ng-controller="adminController">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên hiển thị</th>
                                        <th>Hình đại diện</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Vai trò</th>
                                        <th width="9%" align="center">Trạng thái</th>
                                        <th width="9%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Models">
                                        <th scope="row">{{ $index + indexNo }}</th>
                                        <td>{{ item.LoginName }}</td>
                                        <td>{{ item.DisplayName }}</td>
                                        <td>
                                            <div class="admin_img">
                                                <img src="{{ item.AvatarUrl }}"  alt="No image" />
                                            </div>
                                        </td>
                                        <td>{{ item.Email }}</td>
                                        <td>{{ item.Phone }}</td>
                                        <td>{{ item.RoleName }}</td>
                                        <td align="center">
                                            <input type="checkbox" ng-checked="{{ item.IsActive }}" class="AdminActive" ng-attr-id="{{ 'AdminActive' + item.ID }}" ng-click="changeActive(item.ID, 'AdminActive')" />
                                        </td>
                                        <td class="text-align-center">
                                            <a href="/Admin/Create/{{ item.ID }}"><span class="glyphicon glyphicon-edit"></span></a>
                                             <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> 
                                            <a href="#/Admin/Create/{{ item.ID }}" ng-click="deleteUser(item)"><span class=" glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination boundary-links="true"
                                        max-size="5"
                                        ng-show="showPaging"
                                        items-per-page="itemsPerPage"
                                        total-items="totalRecord"
                                        ng-model="currentPage"
                                        ng-change="pageChanged()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        AngularCall($('#ContainerData'), 'insideForum', 'adminController', '@Url.Action("GetListAdmin")', { showPaging: false }, null,function ($scope) {
            $scope.deleteUser = function (item) {
                var data = { id: item.ID, productId: item.productId }
                $scope.deleteItem(item.ID, '@Url.Action("Delete")', data);
            }
        });
    </script>
}