﻿@using InsideX.EF
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@model InsideX.Controllers.EmployeeRealSearchParam

@{
    var db = new PstEntities();

    var emps = db.Employees.Where(c => c.Type == Model.EmployeeType && c.Role == 3).OrderBy(c => c.DisplayName);
    var reals = db.Reals.Where(c => c.BuyOrRent == Model.RealBuyOrRent).ToList();
    var statusBuy = new List<int> { 1, 2, 5, 6, 7 };
    if (Model.RealBuyOrRent == RealBuyOrRentEnum.Rent.Value()) {
        statusBuy = new List<int> { 4, 3, 5, 6, 8 };
    }

}


<table class="table table-bordered">
    <thead>
        <tr class="text-align-center">
            <th>#Id</th>
            <th>Tên</th>
            <th class="text-align-right">Tạo mới</th>
            <th class="text-align-right">Cập nhật</th>
            @foreach (var s in statusBuy) {
                <th class="text-align-right">@(s.NumberToEnumToText<RealStatusEnum>())</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in emps) {
            <tr>
                <td>@employee.ID</td>
                <td>@(employee.DisplayName)(@employee.Username)</td>
                <td class="text-align-right">@reals.Count(c => c.BrokerId == employee.ID && c.CreatedDate > Model.DateFrom && c.CreatedDate < Model.DateTo)</td>
                <td class="text-align-right">@reals.Count(c => c.BrokerId == employee.ID && c.UpdatedDate > Model.DateFrom && c.UpdatedDate < Model.DateTo)</td>
                @foreach (var s in statusBuy) {
                    <td class="text-align-right">@reals.Count(c => c.BrokerId == employee.ID && c.CreatedDate > Model.DateFrom && c.CreatedDate < Model.DateTo && c.Status == s)</td>
                }
            </tr>
        }
    </tbody>
</table>

