﻿@using InsideX.EF
@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@using RealDirectionEnum = PhuSaiThanhLib.Enum.RealDirectionEnum
@{
    ViewBag.PageName = ViewBag.Title = "Thống kê theo nhân viên " ;

}
<div class="right_col" role="main">
    <div class="">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="">
                        <form id="preview_form" class="">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EmployeeType" class="col-sm-4 control-label">Loại nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("EmployeeType", typeof(EmployeeTypeEnumDisplay2).ToList().ToSelectListItems(), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="RealBuyOrRent" class="col-sm-4 control-label">Loại bđs</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("RealBuyOrRent", typeof(RealBuyOrRentEnum).ToList().ToSelectListItems(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="DateFrom" class="col-sm-4 control-label">Từ ngày</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control has-feedback-left" id="DateFrom" name="DateFrom" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="DateTo" class="col-sm-4 control-label">Đến ngày</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control has-feedback-left" id="DateTo" name="DateTo" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <button type="button" id="search" class="btn btn-primary">
                                                <span class="padding-left-20 padding-right-20">Tìm</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
      
        <div class="x_panel" id="ContainerData">
            <div class="x_content">
                <div id="resultContain">
                    
                </div>
                <div class="btn-toolbar bottom tableexport-caption">
                    <button class="btn btn-default xlsx" onclick="exportToExcel()">Export to xlsx</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/Fullscreen-Lightbox/src/css/jquery.imageview.css" rel="stylesheet" />


}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    
    <script>
        function search() {
            var model = {};
            var form = $("#preview_form").serializeArray();
            for (var i = 0; i < form.length; i++) {
                model[form[i].name] = form[i].value;
            }

            $.post('@Url.Action("EmployeeRealSearch","Report")', model, function(result) {
                $("#resultContain").html(result);
            });

        }


        $(document).ready(function() {

            $('#DateFrom').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateTo').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateFrom').val('');
            $('#DateTo').val('');

            $("#search").click(function() {
                search();
            });
        })
    </script>
}