﻿@using InsideX.EF
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@model InsideX.Controllers.EmployeeRealSearchParam

@{
    var db = new PstEntities();

    var emps = db.Employees.Where(c => c.Type == Model.EmployeeType && c.Role == 3).OrderBy(c => c.DisplayName);
    //var reals = db.Reals.Where(c => c.BuyOrRent == Model.RealBuyOrRent).ToList();
    var cuss = db.Customers.Where(c => c.Type == Model.RealBuyOrRent).ToList();
    var statusBuy = typeof(CustomerType2Enum).ToList();


}


<table class="table table-bordered">
    <thead>
        <tr class="text-align-center">
            <th>#Id</th>
            <th>Tên</th>
            <th class="text-align-right">Tạo mới</th>
            <th class="text-align-right">Cập nhật</th>
            @foreach (var s in statusBuy) {
                <th class="text-align-right">@(s.Value)</th>
            }
            <th class="text-align-right">Hổ trợ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in emps) {
            <tr>
                <td>@employee.ID</td>
                <td>@(employee.DisplayName)(@employee.Username)</td>
                <td class="text-align-right">@cuss.Count(c => c.BrokerId == employee.ID && c.CreatedDate > Model.DateFrom && c.CreatedDate < Model.DateTo)</td>
                <td class="text-align-right">@cuss.Count(c => c.BrokerId == employee.ID && c.UpdatedDate > Model.DateFrom && c.UpdatedDate < Model.DateTo)</td>
                @foreach (var s in statusBuy) {
                    <td class="text-align-right">@cuss.Count(c => c.BrokerId == employee.ID && c.CreatedDate > Model.DateFrom && c.CreatedDate < Model.DateTo && (c.Type2 ?? 0) == s.Key)</td>
                }
                <td class="text-align-right">@db.Ins_CustomerCare_Count(employee.BrokerId,Model.DateFrom,Model.DateTo).Count()</td>
            </tr>
        }
    </tbody>
</table>
