﻿@using InsideX.EF
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real

@{
    ViewBag.PageName = ViewBag.Title = "Báo cáo thống kê ";
    var db = new PstEntities();
    var real = db.Reals;


}

<div class="right_col" role="main">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê theo trạng thái</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                @{
                    var statusBuy = new List<int> { 1, 2, 5, 6, 7 };
                    var statusRent = new List<int> { 4, 3, 5, 6, 8 };
                }
                <div class="col-lg-6">
                    <label>Bđs bán</label>
                    @foreach (var item in statusBuy) {
                        <div>@(item.NumberToEnumToText<RealStatusEnum>()) : @real.Count(c => c.Status == item && c.BuyOrRent == 1)</div>
                    }
                </div>

                <div class="col-lg-6">
                    <label>Bđs cho thuê</label>
                    @foreach (var item in statusRent) {
                        <div>@(item.NumberToEnumToText<RealStatusEnum>()) : @real.Count(c => c.Status == item && c.BuyOrRent == 2)</div>
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê theo loại</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                @{
                    var type = typeof(RealTypeEnum).ToList();
                }
                <div class="col-lg-6">
                    <label>Bđs bán</label>
                    @foreach (var item in type) {
                        <div>@(item.Key.NumberToEnumToText<RealTypeEnum>()) : @real.Count(c => c.Type == item.Key && c.BuyOrRent == 1)</div>
                    }
                </div>

                <div class="col-lg-6">
                    <label>Bđs cho thuê</label>
                    @foreach (var item in type) {
                        <div>@(item.Key.NumberToEnumToText<RealTypeEnum>()) : @real.Count(c => c.Type == item.Key && c.BuyOrRent == 2)</div>
                    }
                </div>
            </div>

        </div>
    </div>

</div>
