﻿@using InsideX.EF
@using MyUtility.Extensions
@using PhuSaiThanhLib.Real

@{
    ViewBag.PageName = ViewBag.Title = "Website bán ";
    var db = new PstEntities();
    var real = db.Reals.Where(c => c.BuyOrRent == 1).ToList();


}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-lg-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo trạng thái</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var statusBuy = new List<int> { 1, 2, 5, 6, 7 };
                    }
                    <label>Bđs bán</label>
                    @foreach (var item in statusBuy) {
                        <div>@(item.NumberToEnumToText<RealStatusEnum>()) : @real.Count(c => c.Status == item)</div>
                    }
                    <div>Giá tốt : @real.Count(c => c.IsPriceHot == true)</div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo loại</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var type = typeof(RealTypeEnum).ToList();
                    }
                    <label>Bđs bán</label>
                    @foreach (var item in type) {
                    <div>@(item.Key.NumberToEnumToText<RealTypeEnum>()) : @real.Count(c => c.Type == item.Key)</div>
                    }

                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo giá</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var range = new List<List<decimal>>
                        {
                            new List<decimal> {0,1},
                            new List<decimal> {1,2},
                            new List<decimal> {2,3},
                            new List<decimal> {3,4},
                            new List<decimal> {4,5},
                            new List<decimal> {5,6},
                            new List<decimal> {6,7},
                        };

                    }
                    <label>Bđs bán</label>
                    @foreach (var item in range) {
                        <div>@item[0] ~ @item[1] (tỷ) : @real.Count(c => c.Price > item[0] && c.Price <= item[1])</div>
                    }
                    <div> > @range.Last()[1] (tỷ) : @real.Count(c => c.Price > range.Last()[1])</div>


                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê theo quận</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div>
                <!-- Nav tabs -->
                @{
                    var districts = db.MyDistricts.ToList();
                    int i = 0;
                }
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var district in districts)
                    {
                        var dCount = real.Count(c => c.DistrictId == district.Id);
                        if (dCount > 0)
                        {
                            <li role="presentation" class="@(i == 0 ? "active" : "")">
                                <a href="#district@(district.Id)" aria-controls="district" role="tab" data-toggle="tab">@district.DistrictName (@dCount)</a>
                            </li>
                        
                            i++;
                        }
                       
                    }
                </ul>
                @{
                    i = 0;
                }
                <!-- Tab panes -->
                <div class="tab-content">
                    
                    @foreach (var district in districts)
                    {
                        var dCount = real.Count(c => c.DistrictId == district.Id);
                        if (dCount > 0)
                        {
                            <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : "")" id="district@(district.Id)">
                                <br />

                                @{
                                    var wards = db.MyWards.Where(c => c.DistrictId == district.Id).ToList();
                                    var streets = db.MyStreets.Where(c => c.DistrictId == district.Id).OrderBy(c => c.StreetName).ToList();

                                }
                                <div class="row">
                                    <div class="col-lg-6">

                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Phường</th>
                                                <th>Đang bán</th>
                                                <th>Tất cả</th>
                                            </tr>
                                            @foreach (var ward in wards)
                                            {
                                                var w1 = real.Count(c => c.WardId == ward.Id && c.Status == 1);
                                                var w2 = real.Count(c => c.WardId == ward.Id);
                                                if (w1 > 0 || w2 > 0)
                                                {

                                                    <tr>
                                                        <td>@ward.WardName</td>
                                                        <td>@w1</td>
                                                        <td>@w2</td>
                                                    </tr>
                                                }
                                            }
                                        </table>

                                    </div>
                                    <div class="col-lg-6">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Đường</th>
                                                <th>Đang bán</th>
                                                <th>Tất cả</th>
                                            </tr>
                                            @foreach (var street in streets)
                                            {
                                                var s1 = real.Count(c => c.StreetId == street.Id && c.Status == 1);
                                                var s2 = real.Count(c => c.StreetId == street.Id);
                                                if (s1 > 0 || s2 > 0)
                                                {
                                                    <tr>
                                                        <td>@street.StreetName</td>
                                                        <td>@s1</td>
                                                        <td>@s2</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>

                            </div>
                            i++;
                        }
                    }

                </div>

            </div>

        </div>
    </div>


</div>
