﻿@using InsideX.EF
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real

@{
    ViewBag.PageName = ViewBag.Title = "Website thuê ";
    var db = new PstEntities();
    var real = db.Reals.Where(c => c.BuyOrRent == 2).ToList();


}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-lg-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo trạng thái</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var statusRent = new List<int> { 4, 3, 5, 6, 8 };
                    }


                    <div class="col-lg-6">
                        <label>Bđs cho thuê</label>
                        @foreach (var item in statusRent) {
                            <div>@(item.NumberToEnumToText<RealStatusEnum>()) : @real.Count(c => c.Status == item && c.BuyOrRent == 2)</div>
                        }
                        <div>Giá tốt : @real.Count(c => c.IsPriceHot == true)</div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo loại</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var type = typeof(RealTypeEnum).ToList();
                    }


                    <div class="col-lg-6">
                        <label>Bđs cho thuê</label>
                        @foreach (var item in type) {
                            <div>@(item.Key.NumberToEnumToText<RealTypeEnum>()) : @real.Count(c => c.Type == item.Key && c.BuyOrRent == 2)</div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê theo giá</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        var range = new List<List<decimal>>
                        {
                            new List<decimal> {0,1},
                            new List<decimal> {1,2},
                            new List<decimal> {2,3},
                            new List<decimal> {3,4},
                            new List<decimal> {4,5},
                            new List<decimal> {5,6},
                            new List<decimal> {6,7},
                        };

                    }
                    <label>Bđs bán</label>
                    @foreach (var item in range) {
                        <div>@item[0] ~ @item[1] (triệu) : @real.Count(c => c.Price > item[0] && c.Price <= item[1])</div>
                    }
                    <div> > @range.Last()[1] (triệu) : @real.Count(c => c.Price > range.Last()[1])</div>


                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê theo quận</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div>
                <!-- Nav tabs -->
                @{
                    var districts = db.MyDistricts.ToList();
                    int i = 0;
                }
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var district in districts) {
                        var dCount = real.Count(c => c.DistrictId == district.Id);
                        if (dCount > 0) {
                            <li role="presentation" class="@(i == 0 ? "active" : "")">
                                <a href="#district@(district.Id)" aria-controls="district" role="tab" data-toggle="tab">@district.DistrictName (@dCount)</a>
                            </li>
                            i++;
                        }

                    }
                </ul>
                @{
                    i = 0;
                }
                <!-- Tab panes -->
                <div class="tab-content">
                    <br />
                    @foreach (var district in districts) {
                        <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : "")" id="district@(district.Id)">
                            @*@district.DistrictName*@
                            @{
                        var wards = db.MyWards.Where(c => c.DistrictId == district.Id).ToList();
                        var streets = db.MyStreets.Where(c => c.DistrictId == district.Id).OrderBy(c => c.StreetName).ToList();

                            }
                            <div class="row">
                                <div class="col-lg-6">

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Phường</th>
                                            <th>Đang cho thuê</th>
                                            <th>Tất cả</th>
                                        </tr>
                                        @foreach (var ward in wards) {
                                            <tr>
                                                <td>@ward.WardName</td>
                                                <td>@real.Count(c => c.WardId == ward.Id && c.Status == 4)</td>
                                                <td>@real.Count(c => c.WardId == ward.Id)</td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                                <div class="col-lg-6">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Đường</th>
                                            <th>Đang cho thuê</th>
                                            <th>Tất cả</th>
                                        </tr>
                                        @foreach (var street in streets) {
                                            <tr>
                                                <td>@street.StreetName</td>
                                                <td>@real.Count(c => c.StreetId == street.Id && c.Status == 1)</td>
                                                <td>@real.Count(c => c.StreetId == street.Id)</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>

                        </div>
                                        i++;
                    }

                </div>

            </div>

        </div>
    </div>


</div>