﻿@using InsideX.Helper
@using InsideX.Models
@using PhuSaiThanhLib
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='~/favicon.ico?2' rel='shortcut icon' type='image/x-icon' />
    <title>@ViewBag.Title - phusaithanh.com</title>
    @Styles.Render("~/content/master-css")
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/main.css?3" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title">
                            @*<i class="fa fa-paw"></i>*@
                            <img src="http://phusaithanh.com/Content/img/logoPST.png" style="width: 30px;height: 30px;"><span> PHÚ SÀI THÀNH</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    @Html.Partial("PartialMasterLeftProfile")
                    <br />
                    @Html.Partial("PartialMasterLeftMenu")
                    @Html.Partial("PartialMasterLeftButton")
                </div>
            </div>
            @Html.Partial("PartialMasterTopNavigation")
            @RenderBody()
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div id="contentMyModel" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                    <div id="bodyModel">
                        <div class="text-align-center">
                            <img src="~/Content/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="hidden">
        <iframe src="@(BasicHelper.FullDomainWeb)/CrossSite/Login?username=@(MySessionManager.SessionData.LoginName)&password=@(MySessionManager.SessionData.Employee.Password)"></iframe>
    </div>

    <script>
        var FullDomain = '@BasicHelper.FullDomainAdmin';
        var MyUsername = '@MySessionManager.SessionData.LoginName';
        var MyPassword = '@(MyUtility.Common.MD5_encode(string.Format("{0}{1}", MySessionManager.SessionData.Employee.Password, TinyConfiguration.KeySign)))';
    </script>
    <script>var EmployeeAvatarJson = JSON.parse('@Html.Raw(PstHelper.EmployeeAvatarJson(AdminRoleEnum.Employer,0))'); </script>

    @Scripts.Render("~/bundles/master-js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Scripts/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
