﻿@if (!string.IsNullOrEmpty(ViewBag.SUCCESS))
{
    <div class="x_content">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @ViewBag.SUCCESS
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.VALID))
{
    <div class="x_content">
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @ViewBag.VALID
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.ERROR))
{
    <div class="x_content">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @ViewBag.ERROR
        </div>
    </div>
}