﻿@using InsideX.Helper
@using PhuSaiThanhLib
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <div class="padding-top-15 float-left">
                <a id=""><strong class="font-size-18">@ViewBag.PageName</strong></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="@MySessionManager.SessionData.Avatar.GetFullUrlImage()" alt="">@MySessionManager.SessionData.DisplayName
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="@Url.Action("UpdateProfile", "Employee")"> Thông tin cá nhân</a></li>
                        <li><a href="@Url.Action("LogOut", "Home")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
