﻿@using InsideX.Helper
@using PhuSaiThanhLib
<div class="profile clearfix">
    <div class="profile_pic">
        <a href="http://www.phusaithanh.com/" target="_blank">
            <img src="@MySessionManager.SessionData.Avatar.GetFullUrlImage()" alt="No image" class="img-circle profile_img">
        </a>
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@MySessionManager.SessionData.DisplayName</h2>
    </div>
</div>