﻿@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">


            @if (MySessionManager.SessionData.IsAdmin || MySessionManager.SessionData.IsBds) {
                <li>
                    <a><i class="fa fa-edit"></i> Quản lý BĐS <span class=""> bán</span><span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("UpdateBuy", "Real")">Tạo BĐS <span class=""> bán</span></a></li>
                        <li><a href="@Url.Action("Buy", "Real")">Danh sách BĐS <span class=""> bán</span></a></li>
                        @if (MySessionManager.SessionData.IsLeaderOrSubLeader){
                        <li><a href="@Url.Action("BuyLead", "Real")">BĐS bán của nhóm</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-edit"></i> Quản lý BĐS <span class="">cho thuê</span><span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("UpdateRent", "Real")">Tạo BĐS <span class="">cho thuê</span></a></li>
                        <li><a href="@Url.Action("Rent", "Real")">Danh sách BĐS <span class="">cho thuê</span></a></li>
                        @if (MySessionManager.SessionData.IsLeaderOrSubLeader) {
                        <li><a href="@Url.Action("RentList", "Real")">BĐS bán của nhóm</a></li>
                        }
                    </ul>
                </li>
            }

            @if (MySessionManager.SessionData.IsAdmin || MySessionManager.SessionData.IsCustomer) {
                <li>
                    <a><i class="fa fa-edit"></i> Quản lý KH <span class="">mua</span><span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("UpdateBuy", "Customer")">Tạo mới KH mua</a></li>
                        <li><a href="@Url.Action("Buy", "Customer")">Danh sách KH mua</a></li>
                        @if (MySessionManager.SessionData.IsLeaderOrSubLeader) {
                        <li><a href="@Url.Action("BuyLead", "Customer")">KH bán của nhóm</a></li>
                        }
                    </ul>
                </li>

                <li>
                    <a><i class="fa fa-edit"></i> Quản lý KH <span class="">thuê</span><span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("UpdateRent", "Customer")">Tạo mới KH thuê</a></li>
                        <li><a href="@Url.Action("Rent", "Customer")">Danh sách KH thuê</a></li>
                        @if (MySessionManager.SessionData.IsLeaderOrSubLeader) {
                        <li><a href="@Url.Action("RentLead", "Customer")">KH thuê của nhóm</a></li>
                        }
                    </ul>
                </li>
            }


            @if (MySessionManager.SessionData.IsAdmin) {
                <li>
                    <a><i class="fa fa-user-secret"></i> Quản lý nhân viên <span class=""></span><span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Update", "Employee")">Tạo mới nhân viên</a></li>
                        <li><a href="@Url.Action("Index", "Employee")">Danh sách nhân viên</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-group"></i> Quản lý nhóm <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Update", "Department")">Thêm nhóm</a></li>
                        <li><a href="@Url.Action("Index", "Department")">Danh sách</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("LevelReal", "LevelDetail")"><i class="fa fa-edit"></i> Phân quyền cấp quản lý </a></li>
                <li><a href="@Url.Action("Index","HistoryRealPermission")"><i class="fa fa-history"></i> Lịch sử cấp quyền </a></li>
                <li>
                    <a><i class="fa fa-phone"></i> Quản lý địa điểm <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Edit", "City")">Tạo mới Tỉnh/TP</a></li>
                        <li><a href="@Url.Action("Index", "City")">Danh sách Tỉnh/TP</a></li>
                        <li><a href="@Url.Action("Edit", "District")">Tạo mới Quận/Huyện</a></li>
                        <li><a href="@Url.Action("Index", "District")">Danh sách Quận/Huyện</a></li>
                        <li><a href="@Url.Action("Edit", "Ward")">Tạo mới Phường/Xã</a></li>
                        <li><a href="@Url.Action("Index", "Ward")">Danh sách Phường/Xã</a></li>

                        <li><a href="@Url.Action("Edit", "Street")">Tạo mới Đường Phố</a></li>
                        <li><a href="@Url.Action("Index", "Street")">Danh sách Đường Phố</a></li>
                        <li><a href="@Url.Action("Edit", "Area")">Tạo mới Khu vực</a></li>
                        <li><a href="@Url.Action("Index", "Area")">Danh sách Khu vực</a></li>
                    </ul>
                </li>

                <li>
                    <a><i class="fa fa-edit"></i> Quản lý Feedback <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-user-secret"></i> Báo cáo<span class="fa fa-deafness"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Index", "Report")">Chung</a></li>
                        <li><a href="@Url.Action("WebsiteBuy", "Report")">Website mua</a></li>
                        <li><a href="@Url.Action("WebsiteRent", "Report")">Website thuê</a></li>
                        <li><a href="@Url.Action("EmployeeReal", "Report")">Nhân viên - Bđs</a></li>
                        @*<li><a href="@Url.Action("EmployeeCustomer", "Report")">Nhân viên - KH</a></li>*@
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-list"></i> Chuyên mục <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("Create", "Category")">Tạo mới</a></li>
                        <li><a href="@Url.Action("Index", "Category")">Danh sách</a></li>
                        <li style="display:none;"><a href="@Url.Action("Edit", "Category")">Chỉnh sửa</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-newspaper-o"></i> Tin tức <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("CreateArticle", "Article")">Tạo mới</a></li>
                        <li><a href="@Url.Action("Index", "Article")">Danh sách</a></li>
                        <li style="display:none;"><a href="@Url.Action("EditArticle", "Article")">Chỉnh sửa</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-slack"></i> Cài đặt <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("ContactConfig", "WebInfo")">Thông tin liên hệ</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>    