﻿@model InsideX.Models.ArticleModel
@using InsideX.Helper;
@using InsideX.Helper
@{
    ViewBag.Title = "Chỉnh sửa Tin Tức";

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("EditArticle", "Article", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><a href="@Url.Action("Index", "Article")">Tin Tức</a> <small>@ViewBag.Title</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @Html.AntiForgeryToken()
                            @Html.Partial("PartialMasterMessage")

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tiêu Đề Bài Viết <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control col-md-7 col-xs-12", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Danh Mục Bài Viết <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownList("CategoryID", new SelectList(SelectListHelper.Category(), "Value", "Text"), new { @class = "form-control", id = "CategoryID" })
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tóm tắt Bài Viết <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.Summary, 6, 1, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.Summary)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ngày Đăng <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*<input type='text' id='PublishDate' name="PublishDate" class="form-control" data-date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("dd/MM/yyyy")" />*@
                                    <input type="text" class="form-control has-feedback-left" id="PublishDate" name="PublishDate" placeholder="" aria-describedby="inputSuccess2Status2" value="@Model.PublishDate">

                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>

                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Hình <span class="required">160 x 120 px</span>
                                </label>                                <div class="col-sm-7">
                                    <a id="openCkfinder" class="openCkfinder text-align-center" href="#">
                                        @Html.HiddenFor(c => c.Avatar)
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <br />
                                        <strong>Chọn Hình</strong>
                                        <img id="imgCkfinder" width="150" height="150" src="@Model.Avatar" alt="" />
                                    </a>
                                    @*<div class="padding-top-10"><a  class="btn btn-success">Xem hình lớn</a></div>*@
                                    @Html.ValidationMessageFor(model => model.Avatar)
                                </div>
                            </div>

                            <div class="item form-group" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Bình luận @Html.CheckBoxFor(model => model.IsComment, new { @class = "flat" })
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Theo Dõi @Html.CheckBoxFor(model => model.IsFollow, new { @class = "flat" })
                                    </div>

                                </div>
                            </div>
                            <div class="item form-group" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Bình luận Facebook @Html.CheckBoxFor(model => model.IsCommentFacebook, new { @class = "flat" })
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Chia Sẻ @Html.CheckBoxFor(model => model.IsShare, new { @class = "flat" })
                                    </div>

                                </div>
                            </div>
                            <div class="item form-group" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Like @Html.CheckBoxFor(model => model.IsLikeFacebook, new { @class = "flat" })
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Bật Thông Báo @Html.CheckBoxFor(model => model.IsNotify, new { @class = "flat" })
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Bài Nổi Bật @Html.CheckBoxFor(model => model.IsHot, new { @class = "flat" })
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Guild view @Html.CheckBoxFor(model => model.IsGuildView, new { @class = "flat" })
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Trạng thái
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownList("Status", new SelectList(SelectListHelper.ArticleStatus(), "Value", "Text"), new { @class = "form-control", id = "Status" })

                                </div>
                            </div>




                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Nội Dung Bài Viết</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>

                        </div>
                        <div class="x_content">
                            <div class="item form-group">
                                @Html.TextAreaFor(model => model.Content, 10, 1, new { @class = "form-control col-md-7 col-xs-12", id = "TextBoxContent" })
                                @Html.ValidationMessageFor(model => model.Content)
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin liên hệ</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display:none;">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thông tin liên hệ
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            @if (Model.IsShowEmployee)
                                            {
                                                <input name="IsShowEmployee" value="True" type="checkbox" checked="checked" />
                                            }
                                            else
                                            {
                                                <input name="IsShowEmployee" value="True" type="checkbox" />
                                            }
                                            &nbsp;Hiển thị thông tin liên hệ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên nhân viên
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.EmpName, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.EmpName)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số ĐT
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.EmpPhone, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.EmpPhone)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Text hiển thị
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.EmpText, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                    @Html.ValidationMessageFor(model => model.EmpText)
                                </div>
                            </div>

                        </div>
                    </div>

                    @*<div class="x_panel">
                            <div class="x_title">
                                <h2>SEO</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display:none;">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaTitle
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaTitle)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaKeyword
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaKeyword)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaDescription
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaDescription)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        OgTitle
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.OgTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.OgTitle)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        OgDescription
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(model => model.OgDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.OgDescription)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        OgUrl
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.OgUrl, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.OgUrl)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        OgImage
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.OgImage, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.OgImage)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        TwitterTitle
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.TwitterTitle, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.TwitterTitle)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        TwitterDescription
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(model => model.TwitterDescription, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.TwitterDescription)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        TwitterUrl
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.TwitterUrl, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.TwitterUrl)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        TwitterImage
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.TwitterImage, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.TwitterImage)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaH1
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.MetaH1, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaH1)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaH2
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.MetaH2, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaH2)
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        MetaH3
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.MetaH3, new { @class = "form-control col-md-7 col-xs-12", maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.MetaH3)
                                    </div>
                                </div>
                            </div>
                        </div>*@
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/content/ckeditor/ckeditor.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#openCkfinder").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#openCkfinder img").attr("src", fileUrl);
                    $("#openCkfinder input").val(fileUrl);
                    //$("#Image").val(fileUrl);
                };
                finder.popup();
                return false;
            });


            CKEDITOR.replace('TextBoxContent');

            $('#PublishDate').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 10,
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });
        });
    </script>
}