﻿@{
    ViewBag.Title = "Article";
}
@using InsideX.Helper;
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" ng-app="insideForum" ng-controller="articleController">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Quản Lý Bài Viết</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tiêu đề</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="" id="txtTitle">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    @Html.DropDownList("intStatus", new SelectList(SelectListHelper.ArticleStatus(new SelectListCustom { Value = "-1", Text = "Tất cả" }), "Value", "Text"), new { @class = "form-control", id = "intStatus" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Từ ngày</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control has-feedback-left" id="DateFrom" name="DateFrom" placeholder="" aria-describedby="inputSuccess2Status2" value="">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Đến ngày</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control has-feedback-left" id="DateTo" name="DateTo" placeholder="" aria-describedby="inputSuccess2Status2" value="">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tác Giả</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="AccountDisplayName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Danh Mục</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    @Html.DropDownList("intCategory", new SelectList(SelectListHelper.Category(new SelectListCustom { Value = "-1", Text = "Tất cả" }), "Value", "Text"), new { @class = "form-control", id = "intCategory" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="AngularSearch();">Tìm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách bài viết</h2>
                            <div class="nav navbar-right">Total: <strong style="color:#f00;" ng-bind="totalRecord"></strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Chuyên mục</th>
                                        <th>Tiêu Đề</th>
                                        <th>Tác Giả</th>
                                        <th width="9%" align="center">Đăng / Ẩn</th>
                                        <th width="11%">Ngày Đăng</th>
                                        <th width="11%">Ngày Tạo</th>
                                        <th width="9%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Models">
                                        <th>{{item.ID }}</th>
                                        <td>{{item.CategoryName}}</td>
                                        <td>{{ item.Title }}</td>
                                        <td>{{ item.AccountDisplayName }}</td>
                                        <td align="center">
                                            <input type="checkbox" ng-checked="{{ item.Status }}" class="ArticleActive" ng-attr-id="{{ 'ArticleStatus' + item.ID }}" ng-click="changeActive(item.ID, 'ArticleStatus')" />
                                        </td>
                                        <td>{{ item.PublishDate }}</td>
                                        <td>{{ item.CreateDate }}</td>
                                        <td class="text-align-center">
                                            <a ng-href="@HttpUtility.UrlDecode(Url.Action("EditArticle", new { id = "{{ item.ID }}" }))"><i class="fa fa-edit"></i></a>
                                            <span> | </span>
                                            <a ng-href="javascript:void(0);" ng-click="deleteItem(item.ID, '@HttpUtility.UrlDecode(Url.Action("Delete"))')"><i class="fa fa-trash"></i></a>
                                            @*<a ng-href="@HttpUtility.UrlDecode(Url.Action("ListCommentByArticle", "Comment", new { articleId = "{{ item.ID }}" }))">Danh Sách Comment</a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination boundary-links="true"
                                        max-size="5"
                                        items-per-page="itemsPerPage"
                                        total-items="totalRecord"
                                        ng-model="currentPage"
                                        ng-change="pageChanged()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#DateFrom').val('');
        $('#DateTo').val('');
        AngularCall($('#ContainerData'), 'insideForum', 'articleController', '@Url.Action("SearchArticle")', { 'Category': $('#intCategory').val(), 'title': $('#txtTitle').val(), 'status': $('#intStatus').val(), 'accountDisplayName': $('#AccountDisplayName').val(), 'dateFrom': $('#DateFrom').val(), 'dateTo': $('#DateTo').val(), 'currentPage': 1 }, null);

        function getAngularSearchData() {
            return { 'category': $('#intCategory').val(), 'title': $('#txtTitle').val(), 'status': $('#intStatus').val(), 'accountDisplayName': $('#AccountDisplayName').val(), 'dateFrom': $('#DateFrom').val(), 'dateTo': $('#DateTo').val(), 'currentPage': 1 };
        };

        $(document).ready(function () {
            $('#DateFrom').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#DateTo').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#DateFrom').val('');
            $('#DateTo').val('');


            $(document).on("keypress", "div input,div select", function (e) {
                if (e.keyCode == 13) {
                    //AngularSearch();
                }
            });

            $(document).on("change", "div input[type=checkbox], div select", function (e) {
                //AngularSearch();

            });
        });
    </script>
}