﻿@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.Models.Real.CreateRealModel

@{
    ViewBag.PageName = ViewBag.Title = "Tạo mới " + ((RealBuyOrRentEnum)ViewBag.BuyOrRent).Text();


}

<div class="right_col">
    <div class="">
        <div class="clearfix"></div>
        @if (@Request.HttpMethod == "POST")
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>@Html.ValidationSummary() </div>
        }
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Create", "Real", new { buyOrRent = ViewBag.BuyOrRent }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {

                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin Bđs</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @Html.AntiForgeryToken()

                            <div class="row padding-top-10">
                                <div class="col-md-2 padding-top-5" style="width:120px"><label>Ngày đăng</label></div>
                                <div class="col-md-2">
                                    @Html.TextBox("PublicDate", DateTime.Now.ToString("MM/dd/yyyy HH:mm"), new { @class = "form-control text-align-center", placeholder = "Ngày đăng MM/dd/yyyy", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row row padding-top-10">
                                <div class="col-md-2 padding-top-5" style="width:120px"><label for="Name">Tin đăng</label></div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Title)
                                    @Html.HiddenFor(c => c.Id)
                                </div>
                                @*<div class="col-md-4">
                                    @Html.DropDownListFor(c => c.Status, TinyHelper.DropdownListSaleStatus(Model.Status, false), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Status)
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="x_panel ">
                        <div class="x_label">
                            <label>Địa chỉ</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-2 padding-top-5" style="width:150px"><label>Địa chỉ tài sản</label></div>

                                <div class="col-md-2">
                                    @Html.TextBoxFor(c => c.AddressNo, new { @class = "form-control", placeholder = "Số nhà" })
                                    @Html.ValidationMessageFor(c => c.AddressNo)
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.CityId, PstHelper.DropdownListCity(Model.CityId), new { onchange = "getDistrict();getStreet();getWard()", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.CityId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.DistrictId, PstHelper.DropdownListDistrict(Model.CityId,Model.DistrictId), new { onchange = "getStreet();getWard()", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.DistrictId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.WardId, PstHelper.DropdownListWard(Model.DistrictId,Model.WardId), new { onchange = "", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.WardId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.StreetId, PstHelper.DropdownListStreet(Model.DistrictId,Model.StreetId), new { onchange = "", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.StreetId)
                                </div>
                                @Html.ValidationMessageFor(c => c.Id)
                            </div>
                        </div>
                    </div>

                    if (MySessionManager.SessionData.IsAdmin)
                    {
                        <div class="x_panel">
                            <div class="x_label">
                                <label>Nhân viên</label>
                                <div class="clearfix"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 padding-top-5"><label for="Name">Nhân viên</label></div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(c => c.BrokerId, (Model.BrokerId).BrokerList(AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Real.Value()), new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.BrokerId)
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.Hidden("BrokerId", MySessionManager.SessionData.ID)
                    }


                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<div id="imageView" class="hidden"></div>
@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/lightbox/lsb.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/content/ckeditor/ckeditor.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script src="~/Content/lightbox/lsb.js"></script>

    <script>

        function getDistrict() {
            GetAddress("D", $("#CityId").val(), 0, 0, 0, function (data) {
                $("#DistrictId").html(data);
            });
        }
        function getWard() {
            GetAddress("W", $("#CityId").val(), $("#DistrictId").val(), 0, 0, function (data) {
                $("#WardId").html(data);
            });
        }

        function getStreet() {
            GetAddress("S", $("#CityId").val(), $("#DistrictId").val(), 0, 0, function (data) {
                $("#StreetId").html(data);
            });
        }
        $("#BrokerId").select2({
            templateResult: formatAvatar,
            placeholder: "chọn nhân viên..."
        });
    </script>

}
