﻿@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.EF.RealPermission
@{
    Layout = null;
    var list = ViewBag.List as List<InsideX.EF.Ins_RealPermission_View_Result>;
}

<table class="table table-bordered ">

    <tr>
        <th class="text-align-center">Nhân viên</th>
        <th class="text-align-center">Hình giấy tờ</th>
        <th class="text-align-center">Hình chi tiết</th>
        <th class="text-align-center">Địa chỉ</th>
        <th class="text-align-center">Liên hệ</th>
        <th class="text-align-center">Môi giới</th>
        <th class="text-align-center">Thời gian</th>
    </tr>
    <tbody>
        @foreach (var item in list) {
            <tr class="listper" id="id_@(item.Id)">
                <td>
                    <img width="50" height="50" src="@item.Avatar" alt="No image" />
                    <span>@item.DisplayName</span>

                </td>
                @*<td class="text-align-center">
                        <div class="checkbox">
                            <label class="font-size-14">
                                <input class="all_per" type="checkbox" value="true"> All
                            </label>
                        </div>
                    </td>*@
                <td class="text-align-center">
                    <div class="checkbox">
                        <label class="font-size-14">
                            @Html.CheckBox("id" + item.Id + "_IsViewImageGiayTo", item.IsViewImageGiayTo, new { @disabled = "disabled" })
                        </label>
                    </div>
                </td>
                <td class="text-align-center">
                    <div class="checkbox">
                        <label class="font-size-14">
                            @Html.CheckBox("id" + item.Id + "_IsViewImageDetail", item.IsViewImageDetail, new { @disabled = "disabled" })
                        </label>
                    </div>
                </td>
                <td class="text-align-center">
                    <div class="checkbox">
                        <label class="font-size-14">
                            @Html.CheckBox("id" + item.Id + "_IsViewAddress", item.IsViewAddress, new { @disabled = "disabled" })
                        </label>
                    </div>
                </td>
                <td class="text-align-center">
                    <div class="checkbox">
                        <label class="font-size-14">
                            @Html.CheckBox("id" + item.Id + "_IsViewContact", item.IsViewContact, new { @disabled = "disabled" })
                        </label>
                    </div>
                </td>
                <td class="text-align-center">
                    <div class="checkbox">
                        <label class="font-size-14">
                            @Html.CheckBox("id" + item.Id + "_IsViewBroker", item.IsViewBroker, new { @disabled = "disabled" })
                        </label>
                    </div>
                </td>
                <td>@item.TimeLimit.ToString("dd/MM/yyyy HH:mm:ss") (còn @((item.TimeLimit - DateTime.Now).TotalMinutes.ToString("F0")) phút)</td>
            </tr>
        }
    </tbody>
</table>