﻿@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.EF.RealPermission
@{
    Layout = null;
    var list = ViewBag.List as List<InsideX.EF.Ins_RealPermission_View_Result>;
}

@{


    using (Ajax.BeginForm("CustomerPermissionList", "Real", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "contentMyModel",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    }))
    {
    @Html.HiddenFor(c=>c.RealId);
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Quyền xem </h4>
        <div class="modal-body">

            <table class="table table-bordered permission_table">

                <tr>
                    <th class="text-align-center">Nhân viên</th>
                    <th class="text-align-center">Hình giấy tờ</th>
                    <th class="text-align-center">Hình chi tiết</th>
                    <th class="text-align-center">Địa chỉ</th>
                    <th class="text-align-center">Liên hệ</th>
                    <th class="text-align-center">Môi giới</th>

                    <th>Thời gian</th>
                    <th></th>

                </tr>
                <tbody>
                    @foreach (var item in list)
                    {
                    <tr class="listper" id="id_@(item.Id)">
                        <td>
                            <img width="50" height="50" src="@item.Avatar" alt="No image" />
                            <span>@item.DisplayName</span>

                        </td>
                        @*<td class="text-align-center">
                                <div class="checkbox">
                                    <label class="font-size-14">
                                        <input class="all_per" type="checkbox" value="true"> All
                                    </label>
                                </div>
                            </td>*@
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBox("id"+item.Id+"_IsViewImageGiayTo",item.IsViewImageGiayTo)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBox("id"+item.Id+"_IsViewImageDetail",item.IsViewImageDetail)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBox("id"+item.Id+"_IsViewAddress",item.IsViewAddress)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBox("id"+item.Id+"_IsViewContact",item.IsViewContact)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBox("id"+item.Id+"_IsViewBroker",item.IsViewBroker)
                                </label>
                            </div>
                        </td>
                        <td>@item.TimeLimit.ToString("dd/MM/yyyy HH:mm:ss") (còn @((item.TimeLimit - DateTime.Now).TotalMinutes.ToString("F0")) phút)</td>

                        <td class="text-align-center">
                            <button class="btn btn-danger btn-sm" type="button" id="_id_@(item.Id)" onclick="deletePermission('@(item.RealId)', '@item.Id' )">Xóa</button>
                        </td>


                    </tr>
                    }

                    <tr>
                        <td>
                            @{
                                    var brokerlist = PstHelper.BrokerList(0, AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Customer.Value(), false).Where(c=>list.All(v=>v.BrokerId.ToString()!=c.Value)).ToList();
                            }
                            @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel
                                   {
                                       Name = "BrokerPermission",
                                       Class = "form-control",
                                       SelectListItems = brokerlist
                                   }); }
                            @Html.ValidationMessageFor(c => c.BrokerId)
                        </td>
                        @*<td class="text-align-center">
                                <div class="checkbox">
                                    <label class="font-size-14">
                                        <input class="all_per" type="checkbox" value="true">
                                        All
                                    </label>
                                </div>
                            </td>*@
                        @*<td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    <input class="all_per" type="checkbox" value="true">
                                </label>
                            </div>
                        </td>*@
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBoxFor(c => c.IsViewImageGiayTo)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBoxFor(c => c.IsViewImageDetail)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBoxFor(c => c.IsViewAddress)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBoxFor(c => c.IsViewContact)
                                </label>
                            </div>
                        </td>
                        <td class="text-align-center">
                            <div class="checkbox">
                                <label class="font-size-14">
                                    @Html.CheckBoxFor(c => c.IsViewBroker)
                                </label>
                            </div>
                        </td>
                        <td>TG xem
                            @*<input type="text" id="addHour" name="addHour" placeholder="thời gian" value="2" class="text-align-center " style="width: 30px" title="Nhập thời gian" />*@
                            <input type="text" id="addMinutes" name="addMinutes" placeholder="thời gian" value="15" class="text-align-center " style="width: 30px" title="Nhập thời gian" />
                            Phút
                        </td>
                        <td class="text-align-center">
                            <button class="btn btn-success btn-sm" type="submit">Thêm</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>


    </div>

    <script>
        var deletePermission = function (realId, permisstionId) {
            $.post('@Url.Action("CustomerPermissionDelete","Real")?id=' + permisstionId, { id: permisstionId }, function (data) {
                $("#id_" + permisstionId).remove();
                if (window.permissionListReload)
                    window.permissionListReload();
            });
        }
        $(document).ready(function () {
            if (window.permissionListReload)
                window.permissionListReload();

            $(".permission_table tr.listper td input[type=checkbox]").change(function () {

                var $tr = $(this).closest("tr");
                var id = $tr.attr("id").substr(3);
                var model = {
                    id: id,
                    IsViewImageGiayTo: $tr.find('#id' + id + "_IsViewImageGiayTo").is(":checked"),
                    IsViewImageDetail: $tr.find('#id' + id + "_IsViewImageDetail").is(":checked"),
                    IsViewAddress: $tr.find('#id' + id + "_IsViewAddress").is(":checked"),
                    IsViewContact: $tr.find('#id' + id + "_IsViewContact").is(":checked"),
                    IsViewBroker: $tr.find('#id' + id + "_IsViewBroker").is(":checked")
                }
                $.post('@Url.Action("CustomerPermissionUpdate")', model, function (data) {
                    if (data == true) {
                        if (window.permissionListReload)
                            window.permissionListReload();
                    }
                });

            });

            setTimeout(function () {
                $("#BrokerPermission").select2({
                    templateResult: formatAvatar,
                    multiple: true,
                    placeholder: "chọn nhân viên..."
                });
            }, 500);


        });
    </script>


    }



}



