﻿@model InsideX.EF.Real
@{
    Layout = null;
}

@if (ViewBag.Success == true) {
    <div class="text-align-center alert">Đã lưu thành công</div>
    <script>$("#myModal").modal("hide")</script>
}
else {
    using (Ajax.BeginForm("RealPermission", "Real", new AjaxOptions {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "contentMyModel",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    })) {
        <div id="loader" class=" alert" style="display: none">
            Loading...<img src="~/Content/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
        </div>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Quyền sửa </h4>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <div class="checkbox">
                                @Html.HiddenFor(c=>c.Id)
                                <label>@Html.CheckBox("IsAllowEditInfo", Model.IsAllowEditInfo ?? false) Sửa thông tin BĐS</label><br/>
                                <label>@Html.CheckBox("IsAllowEditAddress", Model.IsAllowEditAddress ?? false) Sửa địa chỉ BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditProductDetail", Model.IsAllowEditProductDetail ?? false) Sửa đặc điểm BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditContact", Model.IsAllowEditContact ?? false) Sửa liên hệ BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditHoaHong", Model.IsAllowEditHoaHong ?? false) Sửa hoa hồng BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditNote", Model.IsAllowEditNote ?? false) Sửa ghi chú BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditLocationDescription", Model.IsAllowEditLocationDescription ?? false) Sửa mô tả vị trí BĐS</label><br />
                                <label>@Html.CheckBox("IsAllowEditImage", Model.IsAllowEditImage ?? false) @Html.HiddenFor(c => c.Id) Sửa hình ảnh BĐS</label><br />
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div>
                </div>
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {




        });
    </script>

}

