﻿@using BussinessObject
@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@model InsideX.EF.Real
@{
    var buyOrRent = (RealBuyOrRentEnum)ViewBag.BuyOrRent;
    ViewBag.Title = ViewBag.PageName = "Cập nhật " + buyOrRent.Text();
    var typeString = buyOrRent == RealBuyOrRentEnum.Buy ? "bán" : "thuê";
    var moneyUnitType = buyOrRent == RealBuyOrRentEnum.Buy ? "tỷ" : "triệu";
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Update" + buyOrRent.ToString(), "Real", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal form-label-left" })) {
                    @Html.HiddenFor(c => c.Id)
                    @*@Html.HiddenFor(c => c.Type)*@
                    if (MySessionManager.SessionData.IsAdmin) {
                        <div class="x_panel">
                            <div class="x_label">
                                <label>Cấp quyền nhân viên</label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="CustomerPermission_Content"></div>
                                <div class="text-align-center">
                                    <button class="btn btn-info" type="button" onclick="openModal('@Url.Action("CustomerPermissionList","Real",new {id=Model.Id})',1000)">Cấp Quyền</button>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Thông tin sản phẩm
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditInfo != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }

                            </label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="PublicDate" class="col-md-3 padding-top-5">Ngày đăng</label>
                                    <div class="col-md-4">
                                        <input class="form-control" id="PublicDate" name="PublicDate" readonly="readonly" type="text" value="@Model.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Status" class="col-md-3 padding-top-5">Hình thức</label>
                                    @if (MySessionManager.SessionData.IsAdmin) {
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(c => c.Status, PstHelper.GetListRealStatusEnum(buyOrRent).ToSelectListItems(Model.Status), new { @class = "form-control" })
                                        </div>
                                    }
                                    else {
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(c => c.Status, PstHelper.GetListRealStatusEnum(buyOrRent).ToSelectListItems(Model.Status), new { @class = "form-control", @disabled = "disabled" })
                                            @*@(Model.Status.NumberToEnumToText<RealStatusEnum>())*@
                                        </div>
                                    }

                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.Type, PstHelper.GetListRealTypeEnum(buyOrRent).ToSelectListItems(Model.Type), new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Title" class="col-md-3 padding-top-5">
                                        Tiêu đề (60 kí tự)
                                        <br />
                                        <span id="limitTitle" class="color-ed1c24">0</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Title, new { @class = "form-control", onkeyup = "countTitle()" })
                                        @Html.ValidationMessageFor(c => c.Title)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Title" class="col-md-3 padding-top-5"></label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.Vip, (typeof(RealStarEnum)).ToList().ToSelectListItems(Model.Vip ?? 0, "0", "== Vip =="), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Vip)
                                    </div>

                                    @if (MySessionManager.SessionData.IsAdmin) {
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("IsPriceHot", Model.IsPriceHot ?? false)
                                                    BĐS giá tốt
                                                </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Price" class="col-md-4 padding-top-5"><br /></label>
                                    <div class="col-md-8">
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Price" class="col-md-3 padding-top-5">Giá @typeString</label>
                                    @if (buyOrRent == RealBuyOrRentEnum.Buy) {
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.Price, new { @class = "form-control", placeholder = "vd: 3.2 " })
                                                <span class="input-group-addon"  >@moneyUnitType</span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.Price)
                                        </div>
                                    }
                                    else {
                                        <div class="col-md-6" style="padding-right: 0;">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.Price, new { @class = "form-control", placeholder = "vd: 3.2 " })
                                                <span class="input-group-addon" >@moneyUnitType</span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.Price)
                                        </div>
                                        <div class="col-md-3" style="padding-left: 0;">
                                            @Html.DropDownListFor(c => c.PriceMonthType, typeof(MonthTypeEnum).ToList().ToSelectListItems(Model.PriceMonthType ?? 0), new { @class = "form-control" })

                                        </div>
                                    }

                                </div>
                                <div class="form-group">
                                    <label for="PriceSold" class="col-md-3 padding-top-5">Giá đã @typeString</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.PriceSold, new { @class = "form-control", placeholder = "vd: 3.2 " })
                                            <span class="input-group-addon" >@moneyUnitType</span>
                                        </div>
                                        @Html.ValidationMessageFor(c => c.PriceSold)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel ">
                        <div class="x_label">
                            <label>
                                Địa chỉ

                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditAddress != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <label for="AddressNo" class="col-md-2 padding-top-5">Địa chỉ tài sản</label>

                                <div class="col-md-2">
                                    @Html.TextBoxFor(c => c.AddressNo, new { @class = "form-control", placeholder = "Số nhà" })
                                    @Html.ValidationMessageFor(c => c.AddressNo)
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.CityId, PstHelper.DropdownListCity(Model.CityId ?? 0), new { onchange = "getDistrict();getStreet();getWard()", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.CityId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.DistrictId, PstHelper.DropdownListDistrict(Model.CityId ?? 0, Model.DistrictId ?? 0), new { onchange = "getStreet();getWard()", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.DistrictId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.WardId, PstHelper.DropdownListWard(Model.DistrictId ?? 0, Model.WardId ?? 0), new { onchange = "", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.WardId)
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(c => c.StreetId, PstHelper.DropdownListStreet(Model.DistrictId ?? 0, Model.StreetId ?? 0), new { onchange = "", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.StreetId)
                                </div>
                                @Html.ValidationMessageFor(c => c.Id)
                            </div>
                        </div>
                    </div>

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditProductDetail == true) {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Đặt điểm sản phẩm
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditProductDetail != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="StreetType" class="col-md-4 padding-top-5">Mặt tiền</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.StreetType, typeof(RealStreetTypeEnum).ToList().ToSelectListItems(Model.Status), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(c => c.StreetType)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DuongRong" class="col-md-4 padding-top-5">Đường rộng</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.DuongRong, new { @class = "form-control", placeholder = "Độ rộng đường/hẻm" })
                                                <span class="input-group-addon">mét</span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.DuongRong)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DienTich" class="col-md-4 padding-top-5">DT đất</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.DienTich, new { @class = "form-control", placeholder = "Diện tích đất" })
                                                <span class="input-group-addon">m<sup>2</sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.DienTich)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DienTichSuDung" class="col-md-4 padding-top-5">DT sử dụng</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.DienTichSuDung, new { @class = "form-control", placeholder = "Diện tích sử dụng" })
                                                <span class="input-group-addon">m<sup>2</sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.DienTichSuDung)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ChieuRong" class="col-md-4 padding-top-5">Chiều rộng</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.ChieuRong, new { @class = "form-control", placeholder = "Chiều rộng" })
                                                <span class="input-group-addon">mét<sup></sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.ChieuRong)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ChieuDai" class="col-md-4 padding-top-5">Chiều dài</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.ChieuDai, new { @class = "form-control", placeholder = "Chiều dài" })
                                                <span class="input-group-addon">mét<sup></sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.ChieuDai)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SoPhongNgu" class="col-md-4 padding-top-5">Phòng ngủ</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.SoPhongNgu, new { @class = "form-control", placeholder = "Số phòng ngủ" })
                                            @*@Html.DropDownListFor(c => c.SoPhongNgu, typeof(RoomNumberEnum).ToList().ToSelectListItems(Model.SoPhongNgu ?? 0, "", "Số phòng ngủ"), new { @class = "form-control" })*@
                                            @Html.ValidationMessageFor(c => c.SoPhongNgu)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SoWc" class="col-md-4 padding-top-5">Toilet</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.SoWc, new { @class = "form-control", placeholder = "Số toilet" })
                                            @Html.ValidationMessageFor(c => c.SoWc)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="KetCau" class="col-md-4 padding-top-5">Kết cấu</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.KetCau, new { @class = "form-control", placeholder = "vd: 1 trệt, 2 lầu" })
                                            @Html.ValidationMessageFor(c => c.KetCau)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SoMatTien" class="col-md-4 padding-top-5">Số mặt tiền</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.SoMatTien, new { @class = "form-control", placeholder = "Số mặt tiền" })
                                            @Html.ValidationMessageFor(c => c.SoMatTien)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Direction" class="col-md-4 padding-top-5">Hướng</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.Direction, typeof(RealDirectionEnum).ToList().ToSelectListItems(Model.Direction ?? 0, "0", "== Chọn hướng =="), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(c => c.Direction)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="LegalStatus" class="col-md-4 padding-top-5">Pháp lý</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.LegalStatus, typeof(LegalFormEnum).ToList().ToSelectListItems(Model.LegalStatus ?? 0, "0", "== Tình trạng pháp lý =="), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(c => c.LegalStatus)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="StatusNow" class="col-md-4 padding-top-5">Hiện trạng</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(c => c.StatusNow, typeof(RealStatusNowEnum).ToList().ToSelectListItems(Model.StatusNow ?? 0, "0", "== Hiện trạng =="), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(c => c.StatusNow)
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.StatusNowPercent, new { @class = "form-control", placeholder = "..." })
                                                <span class="input-group-addon">%</span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.StatusNowPercent)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="HinhDangDat" class="col-md-4 padding-top-5">Hình dáng đất</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(c => c.HinhDangDat, typeof(RealHinhDangDatEnum).ToList().ToSelectListItems(Model.HinhDangDat ?? 0, "0", "== Hình dáng đất =="), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(c => c.HinhDangDat)
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.HinhDangDatNumber, new { @class = "form-control", placeholder = "..." })
                                                <span class="input-group-addon">mét<sup></sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.HinhDangDatNumber)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditContact == true) {

                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Thông tin liên hệ
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditContact != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ContactName" class="col-md-2 padding-top-5">Họ và tên</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.ContactName, new { @class = "form-control", placeholder = "Họ và tên..." })
                                        @Html.ValidationMessageFor(c => c.ContactName)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.ContactType, typeof(RealContactTypeEnum).ToList().ToSelectListItems(Model.HinhDangDat ?? 0, "0", "== Chính chủ/Môi giới/đầu tư =="), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.ContactType)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ContactPhone" class="col-md-2 padding-top-5">Số điện thoại</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.ContactPhone, new { @class = "form-control", placeholder = "Số điện thoại..." })
                                        @Html.ValidationMessageFor(c => c.ContactPhone)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ContactAddress" class="col-md-2 padding-top-5">Địa chỉ</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.ContactAddress, new { @class = "form-control", placeholder = "Địa chỉ..." })
                                        @Html.ValidationMessageFor(c => c.ContactAddress)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ContactResource" class="col-md-2 padding-top-5">Nguồn</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.ContactResource, new { @class = "form-control", placeholder = "Nguồn..." })
                                        @Html.ValidationMessageFor(c => c.ContactResource)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditHoaHong == true) {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Hoa hồng
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditHoaHong != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="form-group">
                                <label for="ContactName" class="col-md-2 padding-top-5">Phí hoa hồng</label>
                                @if (buyOrRent == RealBuyOrRentEnum.Buy) {
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.HoaHongBan, "{0:n2}", new { @class = "form-control", placeholder = "vnd...", aria_describedby = "basic-addon2" })
                                            <span class="input-group-addon" >Hoa Hồng</span>
                                        </div>
                                        @Html.ValidationMessageFor(c => c.HoaHongBan)
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(c => c.HoaHongBanUnitType, typeof(RealUnitHoaHongEnum).ToList().ToSelectListItems(Model.HoaHongBanUnitType ?? 0, "0", "== %/tỷ/triệu =="), new { @class = "form-control" })
                                    </div>
                                }
                                else {
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(c => c.HoaHongThue, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.HoaHongThue)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditNote == true) {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Ghi chú
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditNote != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="">
                            <div>
                                @*<div class="form-group">
                                                                                        <label for="Note1" class="col-md-2 padding-top-5">Giá @typeString</label>
                                                                                        <div class="col-md-8">
                                                                                            @Html.TextAreaFor(c => c.Note1, new { @class = "form-control", placeholder = "vd: 3.2 " })
                                                                                            @Html.ValidationMessageFor(c => c.Note1)
                                                                                        </div>
                                                                                    </div>*@

                                <div class="form-group">
                                    <label for="Note1" class="col-md-2 padding-top-5">1. Khoảng cách đến MT</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Note1, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.Note1)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Note2" class="col-md-2 padding-top-5">2. Hình dáng đất</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Note2, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.Note2)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Note3" class="col-md-2 padding-top-5">3. Tình trạng pháp lý</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Note3, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.Note3)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Note4" class="col-md-2 padding-top-5">4. Lộ giới</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Note4, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.Note4)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Note5" class="col-md-2 padding-top-5">5. Khuyết điểm</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Note5, new { @class = "form-control", placeholder = "" })
                                        @Html.ValidationMessageFor(c => c.Note5)
                                    </div>
                                </div>
                                @if (buyOrRent == RealBuyOrRentEnum.Buy) {
                                    <div class="form-group">
                                        <label for="Note6" class="col-md-2 padding-top-5">6. Lịch sử giá</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(c => c.Note6, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(c => c.Note6)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="UocLuongGiaBan" class="col-md-2 padding-top-5">7. Ước lượng giá bán</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.UocLuongGiaBan, new { @class = "form-control", placeholder = "" })
                                                <span class="input-group-addon" >@moneyUnitType</span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.UocLuongGiaBan)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Note1" class="col-md-2 padding-top-5">8. Giá nhà</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">DTSD</span>
                                                @Html.TextBox("_DienTichSuDung", Model.DienTichSuDung, new { @class = "form-control", placeholder = "DTSD...", id = "_DienTichSuDung" })
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-align-center padding-top-10">
                                            <strong>X</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(c => c.GiaNha, new { @class = "form-control", placeholder = "........" })
                                                <span class="input-group-addon" >triệu/m<sup>2</sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.GiaNha)
                                        </div>
                                        <div class="col-md-1 text-align-center padding-top-10">
                                            <strong class="font-size-17">=</strong>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBox("_GiaNha", ((decimal)(Model.DienTichSuDung ?? 0) * (Model.GiaNha ?? 0)).DecimalFormat(), new { @class = "form-control", placeholder = "Giá nhà...", id = "_GiaNha" })
                                                <span class="input-group-addon" >triệu</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="GiaTriDat" class="col-md-2 padding-top-5">9. Giá trị đất</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                @*@Html.TextBox("_GiaTriDat", Model.DienTichSuDung, new { @class = "form-control", placeholder = "DTSD..." })*@
                                                @Html.TextBoxFor(c => c.GiaTriDat, new { @class = "form-control", placeholder = "Gía trị đất = (7 - 8)/ DT đất" })
                                                <span class="input-group-addon" >triệu/m<sup>2</sup></span>
                                            </div>
                                            @Html.ValidationMessageFor(c => c.Note9)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Note10" class="col-md-2 padding-top-5">10. Ghi chú</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(c => c.Note10, new { @class = "form-control", placeholder = "", rows = 10 })
                                            @Html.ValidationMessageFor(c => c.Note10)
                                        </div>
                                    </div>
                                }
                                else {
                                    <div class="form-group">
                                        <label for="Note10" class="col-md-2 padding-top-5">6. Ghi chú</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(c => c.Note10, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(c => c.Note10)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    if (MySessionManager.SessionData.IsAdmin) {
                        <div class="x_panel">
                            <div class="x_label">
                                <label>Nhân viên</label>
                                <div class="clearfix"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 padding-top-5"><label for="Name">Nhân viên</label></div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(c => c.BrokerId, (Model.BrokerId ?? 0).BrokerList(AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Real.Value()), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.BrokerId)
                                </div>
                            </div>
                        </div>
                    }

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditLocationDescription == true) {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Mô tả vị trí
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditLocationDescription != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(c => c.Description, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(c => c.Description)
                            </div>
                        </div>
                    </div>

                    //if (MySessionManager.SessionData.IsAdmin || Model.Status == RealStatusEnum.Choduyet.Value() || Model.IsAllowEditImage == true) {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>
                                Hình ảnh
                                @if (!MySessionManager.SessionData.IsAdmin && Model.Status != RealStatusEnum.Choduyet.Value() && Model.IsAllowEditImage != true) {
                                    <span style="color: yellow;">(Không có quyền sửa)</span>
                                }
                            </label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Hinh" class="col-md-1 padding-top-5">Đại diện<br />(400x400)</label>
                                    <div class="col-md-6">
                                        <a id="openCkfinder" class="openCkfinder text-align-center" href="#">
                                            @Html.HiddenFor(c => c.Hinh)
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <br />
                                            <strong>Chọn Hình</strong>
                                            <img id="imgCkfinder" width="150" height="150" src="@Model.Hinh" alt="" />
                                        </a>
                                        @Html.ValidationMessageFor(model => model.Hinh)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="HinhNoiThat" class="col-md-1 padding-top-5">
                                        Hình nội thất
                                        <br />
                                        <span class="label label-info image_view_slide cursor-pointer" input="HinhNoiThat">
                                            Xem slide
                                        </span>
                                    </label>
                                    <div class="col-md-11 ckfinder_list" id="boxHinhNoiThat">
                                        @Html.TextBoxFor(c => c.HinhNoiThat, new { @class = "form-control hidden" })
                                        <div class="img-list"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="HinhChiTiet" class="col-md-1 padding-top-5">
                                        Hình chi tiết
                                        <br />
                                        <span class="label label-info image_view_slide cursor-pointer" input="HinhChiTiet">
                                            Xem slide
                                        </span>
                                    </label>
                                    <div class="col-md-11 ckfinder_list" id="boxHinhChiTiet">
                                        @Html.TextBoxFor(c => c.HinhChiTiet, new { @class = "form-control hidden" })
                                        <div class="img-list"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="HinhGiayTo" class="col-md-1 padding-top-5">
                                        Giấy tờ
                                        <br />
                                        <span class="label label-info image_view_slide cursor-pointer" input="HinhGiayTo">
                                            Xem slide
                                        </span>
                                    </label>
                                    <div class="col-md-11 ckfinder_list" id="boxHinhGiayTo">
                                        @Html.TextBoxFor(c => c.HinhGiayTo, new { @class = "form-control hidden" })
                                        <div class="img-list"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-align-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <div class="color-red">
                        @Html.ValidationSummary()
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Fullscreen-Lightbox/src/css/jquery.imageview.css" rel="stylesheet" />

}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>

    <script src="~/content/ckeditor/ckeditor.js"></script>

    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/multiImg.js?@(DateTime.Now.Ticks)"></script>
    <script src="~/Content/Fullscreen-Lightbox/src/js/jquery.imageview.js"></script>

    <script>
        var countTitle = function () {
            var val = $("#Title").val();
            var numval = val.length;
            if (numval > 60) {
                numval = 60;
                val = val.substr(0, 60);
                $("#Title").val(val);
            }


            $('#limitTitle').html('Còn lại: ' + (60 - numval));
        }
        function getDistrict() {
            GetAddress("D", $("#CityId").val(), 0, 0, 0, function (data) {
                $("#DistrictId").html(data);
            });
        }
        function getWard() {
            GetAddress("W", $("#CityId").val(), $("#DistrictId").val(), 0, 0, function (data) {
                $("#WardId").html(data);
            });
        }
        function getStreet() {
            GetAddress("S", $("#CityId").val(), $("#DistrictId").val(), 0, 0, function (data) {
                $("#StreetId").html(data);
            });
        }
        function CalcGiaNha() {
            var dtsd = $("#DienTichSuDung").val();
            var dt = $("#DienTich").val();

            var giaNha = $("#GiaNha").val();
            var uocLoungGiaBan = $("#UocLuongGiaBan").val();

            $("#_DienTichSuDung").val(dtsd);
            var numUocLoungGiaBan = parseFloat(uocLoungGiaBan.replace(/\s/g, ""));
            var numDt = parseFloat(dt.replace(/\s/g, ""));
            var numDtsd = parseFloat(dtsd.replace(/\s/g, ""));
            var numGiaNha = parseFloat(giaNha.replace(/\s/g, ""));
            var _giaNha = numDtsd * numGiaNha;
            $("#_GiaNha").val(_giaNha);
            $("#GiaTriDat").val((numUocLoungGiaBan * 1000 - _giaNha) / numDt);


        }

        $(document).ready(function () {

            countTitle();
            $(document).on("change", "#DienTichSuDung,#GiaNha,#UocLuongGiaBan", function (e) {
                CalcGiaNha();
            });

            CKEDITOR.replace('Description');

        });


    </script>

    <script>
        function formatState(item) {
            if (!item.id) {
                return item.text;
            }
            var $item = $(
                '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
            );
            return $item;
        };


        @*function ReloadCare() {
            $.get('@Url.Action("CustomerCare", "Real", new { customerId = Model.Id })', function (data) {
                $("#CustomerCare").html(data);
            });
        }*@
        var permissionListReload = function () {
            $.get('@Url.Action("CustomerPermissionList","Real",new {isView=true,id=Model.Id})', function (data) {
                $("#CustomerPermission_Content").html(data);
            });
        };

        $(document).ready(function () {
            permissionListReload && permissionListReload();

            @*$(document).on("click", ".care_delete", function (e) {
                e.preventDefault();
                $.get('@Url.Action("CareDelete", "Real", new { id = Model.Id })', function () {
                    ReloadCare();
                });
            });*@

            $("#imgCkfinder").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#openCkfinder img").attr("src", fileUrl);
                    $("#openCkfinder input").val(fileUrl);
                    //$("#Image").val(fileUrl);
                };
                finder.connectorInfo = 't=Real&p=@((Model.CreatedDate).ToString("yyyyMM"))&id=@Model.Id';
                finder.popup();
                return false;
            });

            //$(document).on("click", ".care_add", function (e) {
            //    e.preventDefault();
            //    $("#careModal").modal("show");

            //});

            $("#boxHinhNoiThat, #boxHinhChiTiet,#boxHinhGiayTo").multiImg({
                id: '@Model.Id',
                type: 'Real',
                path: '@((Model.CreatedDate).ToString("yyyyMM"))'
            });

            $("#BrokerId").select2({
                templateResult: formatAvatar,
                placeholder: "Chọn nhân viên..."
            });
        });
    </script>
}


