﻿@using OutsideX.Models
@model EntitiesObject.Entities.WebEntities.Out_Article_GetDataById_Result
@{
    ViewBag.Title = Model.Title.HtmlDecode();
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var list = new List<int> { 7, 8, 9 };
}

<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    @if (list.Contains(Model.ID)) {
                        <a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">@Html.Raw(Model.Title.ToUpper())</a>
                    }
                    else {
                        <a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">TIN TỨC</a>
                    }
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="background-color-white show_content">
                        <div class="padding-15 font-size-14">
                            @if (!list.Contains(Model.ID)) {
                                <div class="color-014b8a font-size-18">
                                    <strong class="text-uppercase">
                                        @Html.Raw(Model.Title)
                                    </strong>
                                </div>
                                <br />
                            }

                            @Html.Raw(HttpUtility.HtmlDecode(Model.Content).GetFullContent())
                        </div>
                        <br />
                        <br />
                        <br />
                        <div></div>
                        @*@{Html.RenderAction("RightBoxInfo", "Layout");}*@
                        <br />
                        @*@{Html.RenderAction("ContactStaff", "Layout");}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>
    </div>
</div>
