﻿@using OutsideX.Models
@using PhuSaiThanhLib
@model List<EntitiesObject.Entities.WebEntities.Out_Article_Search_Result>
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">TIN TỨC</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="list_item ">
                        @foreach (var item in Model)
                        {
                            <div class="item_box item_type_3 background-color-white">
                                <div class="row">
                                    <div class="col-sm-3 item_img">
                                        <a href="@Url.Action("Detail","News",new {id=item.ID})">
                                            <img src="@(string.IsNullOrEmpty(item.Avatar) ? BasicHelper.DefaultImage: item.Avatar.GetFullUrlImage())" a="@item.Avatar.GetFullUrlImage()" class="img-responsive block-center" onerror="CheckImg(this)" />
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="@Url.Action("Detail", "News", new { id = item.ID })">
                                            <div class="item_name text-uppercase">
                                                @Html.Raw(item.Title)
                                            </div>
                                        </a>

                                        <div class="item_content">
                                            @Html.Raw(item.Summary)
                                        </div>
                                        <div>
                                            <a href="@Url.Action("Detail", "News", new { id = item.ID })" class="color-ed1c24"><span class="glyphicon glyphicon-play-circle"></span> Xem tiếp</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("Paging/_HomePaging", new PagingModel(ViewBag.Total, ViewBag.PageSize, ViewBag.PageIndex))

        
        @*<div class="paging_type1 text-align-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="dropdown">
                        <span class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trang 1/20
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cuối</a></li>
                            </ul>
                        </span>

                    </li>
                    <li class="active"><span href="#">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"><img src="~/Content/img/r-icon.png" /></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>

        </div>*@
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>

    </div>
</div>
<div class="clearfix"></div>

@section scripts
{
    <script>
        function getDataPage(pageIndex) {
            var url = '@Url.Action("Index","News")';
            window.location.href = url + "?pageIndex=" + pageIndex;
        }

    </script>
}
