﻿@using InsideX.EF
@using InsideX.Helper
@{
    ViewBag.Title = "Home Page";

    //var db = new PstEntities();
    //var real = db.Reals.ToList();
    //var data = new {
    //    Total = real.Count,
    //    DangBan = real.Count(c => c.Status == 1),

    //    DaBan = real.Count(c => c.Status == 2),

    //    DaChoThue = real.Count(c => c.Status == 3),

    //    DangChoThue = real.Count(c => c.Status == 4),

    //    ChoduyetBuy = real.Count(c => c.Status == 5 && c.BuyOrRent == 1),
    //    ChoduyetRent = real.Count(c => c.Status == 5 && c.BuyOrRent == 2),

    //    DauTuBuy = real.Count(c => c.Status == 6 && c.BuyOrRent == 1),
    //    DauTuRent = real.Count(c => c.Status == 6 && c.BuyOrRent == 2),

    //    NgungBan = real.Count(c => c.Status == 7),

    //    NgungThue = real.Count(c => c.Status == 8),
    //};
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Trang chủ</h3>
            </div>
        </div>
        @*<div id="piechartBuy" style="width: 900px; height: 500px;"></div>*@
        @*<div id="piechartRent" style="width: 900px; height: 500px;color: orange"></div>*@



        <div class="clearfix"></div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @*<script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChartBuy);
        google.charts.setOnLoadCallback(drawChartRent);

        function drawChartBuy() {

            var data = google.visualization.arrayToDataTable([

                ['Task', 'Hours per Day'],
                ["Đang Bán",@data.DangBan],
                ["Đã Bán",@data.DaBan],
                ["Chờ duyệt",@data.ChoduyetBuy],
                ["Đầu tư",@data.DauTuBuy],
                ["Ngưng bán",@data.NgungBan],
            ]);

            var options = {
                title: 'Nhà đất bán',
                slices: {
                    0: { color: 'green' },
                    1: { color: 'Brown' },
                    2: { color: 'orange' },
                    3: { color: 'blue' },
                    4: { color: 'red' },
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechartBuy'));

            chart.draw(data, options);
        }

        function drawChartRent() {

            var data = google.visualization.arrayToDataTable([

                ['Task', 'Hours per Day'],
                ["Đang Cho Thuê",@data.DangChoThue],
                ["Đã Cho Thuê",@data.DaChoThue],
                ["Chờ duyệt",@data.ChoduyetRent],
                ["Đầu tư",@data.DauTuRent],
                ["Ngưng cho thuê",@data.NgungThue]
            ]);

            var options = {
                title: 'Nhà đất cho thuê',
                slices: {
                    0: { color: 'green' },
                    1: { color: 'Brown' },
                    2: { color: 'orange' },
                    3: { color: 'blue' },
                    4: { color: 'red' },
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechartRent'));

            chart.draw(data, options);
        }
    </script>*@
}
