﻿@model InsideX.Models.AdminLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    @Styles.Render("~/content/login-css")
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>ĐĂNG NHẬP</h1>
                        @Html.Partial("PartialMasterMessage")
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", maxlength = 20, placeholder = "Username" })
                                @Html.ValidationMessageFor(model => model.LoginName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", maxlength = 20, placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-default submit" value="Log in" />
                        </div>
                        <div class="clearfix"></div>
                    }
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/login-js")
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        setTimeout(function() {
            $("form").submit();
        }, 2000);
    </script>*@
</body>
</html>
