﻿@using OutsideX.Models
@using MyUtility.Extensions
@model SearchModel
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section HeaderSearch
{
    @Html.Partial("Header/_Search", Model)
}

<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul id="home_bds" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">KẾT QUẢ TÌM KIẾM</a></li>
            </ul>

            <div class="tab-content ">
                @{ Html.RenderPartial("_DropdownSortType", Model.SortType);}
                <div role="tabpanel" class="tab-pane active " id="muabannhadat">
                    @if (Model.Result.Any())
                    {
                        <div class="amount_bds">Hiện có <span class="color-ed1c24">@Model.TotalRow</span> bất động sản</div>
                        { Html.RenderPartial("_ListHomeItem", Model.Result); }
                    }
                    else
                    {
                        <div class="alert alert-warning text-center">
                            Không tìm thấy bất động sản phù hợp
                        </div>
                    }
                    <div class="padding-10"></div>
                    @Html.Partial("Paging/_HomePaging", new PagingModel(Model.TotalRow, Model.PageSize, Model.PageIndex))
                </div>
                <div role="tabpanel" class="tab-pane " id="chothuegiatot2">Đang tải dữ liệu...</div>
                <div role="tabpanel" class="tab-pane " id="nhadatdaban">Đang tải dữ liệu...</div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxTinTuc", "Layout");}
    </div>
</div>

@section scripts
{
    <script>

        function getDataPage(pageIndex) {
            $(".search_box #PageIndex").val(pageIndex);
            $('#form_search_header').submit();
        }

        $(document).ready(function () {
            $(document).on("click", "#ddl_type li a", function (e) {
                e.preventDefault();
                $("#ddl_type .ddl_name").html($(this).html());
                $("#ddl_type .ddl_name").attr("value", $(this).attr("value"));
                $("#form_search_header #SortType").val($(this).attr("value"));

                getDataPage(1);
            });

        });
    </script>
}
