﻿@using BussinessObject
@using EntitiesObject.Entities.WebEntities
@using OutsideX.Models
@model OutsideX.EF.Out_Article_GetDataById_Result
@{
    ViewBag.Title = Model.Title.HtmlDecode();
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">DỊCH VỤ</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="background-color-white">
                        <div class="padding-15 font-size-14">
                            <div class="color-014b8a font-size-18"><strong>@Model.Title.HtmlDecode().ToUpper()</strong></div>
                            <br />

                            @Html.Raw(HttpUtility.HtmlDecode(Model.Content).GetFullContent())
                        </div>
                        <br />
                        <br />
                        <br />
                        <div></div>
                        @*@{Html.RenderAction("RightBoxInfo", "Layout");}*@
                        @*@{
                            Out_BrokerAccount_SelectById_Result staff = null;
                            if (Model != null && Model.AccountID != null)
                            {
                                staff = BoFactory.BrokerAccount.GetById(Model.AccountID);
                            }
                        }*@
                        <div class="background-color-white margin-top-20 hidden">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row">
                                        @if (Model.IsShowEmployee == true)
                                        {
                                            <div class="col-xs-4">
                                                <div class="padding-15 text-align-center">
                                                    <img src="~/Content/img/logoPST.png" class="maxwidth-90 width-100" onerror="CheckImg(this)" />
                                                    @*<img src="@(string.IsNullOrEmpty(staff.AvatarUrl) ? "/Content/img/topLogo.png" : staff.AvatarUrl)" class="width-100" onerror="CheckImg(this)">*@
                                                </div>
                                            </div>
                                            <div class="col-xs-8  padding-top-15 padding-left-15">
                                                <div><strong class="font-size-18 color-014b8a">@*@staff.DisplayName.HtmlDecode().ToUpper()*@ @Model.EmpName</strong></div>
                                                @*<div>Đã xác thực CMND</div>*@
                                                <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold"> @Model.EmpPhone</span></div>
                                                @Model.EmpText
                                            </div>
                                        }
                                        @*<div class="col-xs-4">
                                                <div class="padding-15 text-align-center">
                                                    <img src="~/Content/img/logoPST.png" class="maxwidth-90 width-100" onerror="CheckImg(this)" />
                                                </div>
                                            </div>
                                            <div class="col-xs-8  padding-top-15 padding-left-15">
                                                <div><strong class="font-size-18 color-014b8a"> PHÚ SÀI THÀNH</strong></div>
                                                <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold"> @TinyConfig.PhoneFeedback</span></div>
                                                Để biết thêm thông tin về BĐS này, vui lòng nhập thông tin, nhu cầu cũng như thắc mắc của bạn.
                                            </div>*@
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div id="patientList">
                                        @{Html.RenderAction("ServiceContact", "Layout", new { });}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @*@{Html.RenderAction("ContactStaff", "Layout");}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>
    </div>
</div>