﻿@using OutsideX.Models
@using PhuSaiThanhLib
@model List<EntitiesObject.Entities.WebEntities.Article>
@{
    ViewBag.Title = "Dịch Vụ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <div class="div_center col-md-9">
        <div class="tab_box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">DỊCH VỤ</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="list_item ">
                       @foreach (var item in Model)
                        {
                            <div class="item_box item_type_3 background-color-white">
                                <div class="row">
                                    <div class="col-sm-3 item_img">
                                        <a href="@Url.Action("Detail", "Service", new { id = item.ID })">
                                            <img src="@item.Avatar.GetFullUrlImage()" class="img-responsive block-center" onerror="CheckImg(this)" />
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="@Url.Action("Detail", "Service", new { id = item.ID })">
                                            <div class="item_name text-uppercase">
                                                @Html.Raw(item.Title)
                                            </div>
                                        </a>

                                        <div class="item_content">
                                            @Html.Raw(item.Summary)
                                        </div>
                                        <div>
                                            <a href="@Url.Action("Detail", "Service", new { id = item.ID })" class="color-ed1c24"><span class="glyphicon glyphicon-play-circle"></span> Xem tiếp</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3">
        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-10"></div>

    </div>
</div>
<div class="clearfix"></div>