﻿@model BussinessObject.Bo.WebBo.SystemConfigBo.ContactConfig
@{
    ViewBag.Title = "Thông tin liên hệ";
    ViewBag.PageName = "Thông tin liên hệ";
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("ContactConfig", "WebInfo", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin liên hệ</label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Email">Email</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Email)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Address">Address</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Address)
                            </div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Address">Nhân viên 1</label></div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(c => c.Name1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Name1)
                            </div>
                            <div class="col-md-1 text-align-center padding-top-5"><label  for="">SĐT</label></div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(c => c.Phone1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Address">Nhân viên 2</label></div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(c => c.Name2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Name2)
                            </div>
                            <div class="col-md-1 text-align-center padding-top-5"><label for="">SĐT</label></div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(c => c.Phone2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Morning">Sáng</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Morning, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Morning)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Afternoon">Chiều</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Afternoon, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Afternoon)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Saturday">Thứ 7</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Saturday, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Saturday)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="Sunday">Chủ nhật</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Sunday, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Sunday)
                            </div>
                        </div>
                       
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label>Background header<br/>Size: 1472 x 472 px</label></div>
                            @*<label for="" class="col-sm-1 control-label">Đại diện (400x400)</label>*@
                            <div class="col-sm-6">
                                <a id="openCkfinder" class="openCkfinder text-align-center" href="#" style="width: 100%; max-width: 100%; height: auto; min-width: 150px; min-height: 150px;border: none;">
                                    @Html.HiddenFor(c => c.BackgroundUrl)
                                    @*<span class="glyphicon glyphicon-plus"></span>
                                    <br />*@
                                    @*<strong>Chọn Hình</strong>*@
                                    <img id="imgCkfinder" src="@Model.BackgroundUrl" alt="+ Chọn Hình" style="width: 100%;min-width: 150px;min-height: 50px;height: auto;position: static;" />
                                </a>
                                @Html.ValidationMessageFor(model => model.BackgroundUrl)
                            </div>
                        </div>
                        <br />
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>

                }
            </div>
        </div>
    </div>
</div>


@section css
{
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script>
        $(document).ready(function () {
            $("#openCkfinder").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#openCkfinder img").attr("src", fileUrl);
                    $("#openCkfinder input").val(fileUrl);
                };
                finder.popup();
                return false;
            });

        });
    </script>
}


