﻿@model EntitiesObject.Entities.WebEntities.Xcity
@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using Newtonsoft.Json
@{
    if(Model.Id==0){
        ViewBag.Title = "Tạo mới tỉnh/TP";
        ViewBag.PageName = "Tạo mới tỉnh/TP";
    }
    else
    {
        ViewBag.Title = "Cập nhật tỉnh/TP";
        ViewBag.PageName = "Cập nhật tỉnh/TP";
    }
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Edit", "City", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin tỉnh/TP</label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="CityName">Tên tỉnh/TP</label></div>
                            <div class="col-md-6">
                                @Html.HiddenFor(c => c.Id)
                                @Html.TextBoxFor(c => c.CityName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.CityName)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        @if (Model.IsPublic != false)
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" checked="checked" />
                                        }
                                        else
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" />
                                        }
                                        &nbsp;Hiển thị
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


