﻿@model List<EntitiesObject.Entities.WebEntities.Xcity>
@using InsideX.Helper;
@{
    ViewBag.Title = "Quản Lý Tỉnh/Thành Phố";
    ViewBag.PageName = "Quản Lý Tỉnh/Thành Phố";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row" >

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách Tỉnh/TP</h2>
                            <div class="nav navbar-right">Total: <strong style="color:#f00;" ng-bind="totalRecord"></strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered" id="gridTable">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Tỉnh/TP</th>
                                        <th class="text-align-center">Hiển thị</th>
                                        <th class="text-align-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-align-center">@item.Id</td>
                                            <td>
                                                <a href="@Url.Action("Edit","City",new {id=item.Id})">
                                                    @item.CityName
                                                </a>
                                                
                                            </td>
                                            <td class="text-align-center">
                                                @if (item.IsPublic == true)
                                                {
                                                    <span class="glyphicon glyphicon-ok text-success"></span>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                }
                                            </td>
                                            <td class="text-align-center">
                                                <a href="@Url.Action("Edit","City",new {id=item.Id})"><i class="fa fa-edit"></i></a>
                                                <span class="margin-left-5 margin-right-5">|</span>
                                                <a href="@Url.Action("Delete", "City", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                                                <span class="margin-left-5 margin-right-5">|</span>
                                                <a href="@Url.Action("Index", "District", new { cityId = item.Id })">Xem quận/huyện</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section css
{
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        $(document).ready(function () {

        });
    </script>
}