﻿@using BussinessObject
@{
    var config = BoFactory.SystemConfig.GetContactConfig();
}

<div class="right_box_1">
    <div class="right_box_title hidden">
        <a href=""><label>ĐĂNG TIN</label></a>
    </div>
    <div class="right_box_content" style="padding-top: 0;">
        <div class="right_box_info" style="padding-bottom: 0">
            <div class="name">
                <img src="~/Content/img/phu-sai-thanh.png" class="img-responsive" />
            </div>
            @*<div class="address">@config.Address</div>
            <div class="email"><a href="mailto:@(config.Email)">@config.Email</a></div>
            <div class="phone">
                <strong>@config.Name1</strong> @config.Phone1<br />
                <strong>@config.Name2</strong> @config.Phone2
            </div>*@
            @*<div class="time">
                <br />
                Giờ làm việc:
                <div class="">
                    @if (!string.IsNullOrWhiteSpace(config.Morning))
                    {
                        <span>
                            <strong>• Sáng:</strong> @Html.Raw(config.Morning.Replace(" ","&nbsp;"))<br />
                        </span>
                    }
                    @if (!string.IsNullOrWhiteSpace(config.Afternoon))
                    {
                        <span>
                            <strong>• Chiều:</strong> @Html.Raw(config.Afternoon.Replace(" ", "&nbsp;"))<br />
                        </span>
                    }
                    @if (!string.IsNullOrWhiteSpace(config.Saturday))
                    {
                        <span>
                            <strong>• Thứ 7:</strong> @Html.Raw(config.Saturday.Replace(" ", "&nbsp;"))<br />
                        </span>
                    }
                    @if (!string.IsNullOrWhiteSpace(config.Sunday))
                    {
                        <span>
                            <strong>• Chủ nhật:</strong> @Html.Raw(config.Sunday.Replace(" ", "&nbsp;"))<br />
                        </span>
                    }
               
                </div>
            </div>*@
        </div>
    </div>
</div>

<div class="right_box_2">
    <div class="right_box_title">
        <a href="@Url.Action("KyGui", "Home")">
            <label class="r-icon4">KÝ GỬI NHÀ ĐẤT</label>
        </a>
    </div>
</div>
<div class="div_right_line"></div>
<div class="right_box_2">
    <div class="right_box_title">
        <a href="@Url.Action("Detail", "Service", new { id = 3 })">
            <label class="r-icon1">DỊCH VỤ PHÁP LÝ NHÀ ĐẤT</label>
        </a>
    </div>
</div>
<div class="div_right_line"></div>
<div class="right_box_2">
    <div class="right_box_title">
        <a href="@Url.Action("Detail", "Service", new { id = 4 })">
            <label class="r-icon3">XEM THÔNG TIN QUY HOẠCH</label>
        </a>
    </div>
</div>
<div class="div_right_line"></div>
<div class="right_box_2">
    <div class="right_box_title">
        <a href="@Url.Action("Detail", "Service", new { id = 5 })">
            <label class="r-icon2">TƯ VẤN VAY VỐN NGÂN HÀNG</label>
        </a>
    </div>
</div>
