﻿.width-100{ width: 100%;}
.margin-0{ margin: 0px;}
.margin-5{ margin: 5px;}
.margin-10{ margin: 10px;}
.margin-15{ margin: 15px;}
.margin-20{ margin: 20px;}

.margin-bottom-0 { margin-bottom:  0px;}
.margin-bottom-5 { margin-bottom:  5px;}
.margin-bottom-10{ margin-bottom: 10px;}
.margin-bottom-15{ margin-bottom: 15px;}
.margin-bottom-20{ margin-bottom: 20px;}

.margin-top-0{ margin-top:  0px;}
.margin-top-5{ margin-top:  5px;}
.margin-top-10{ margin-top: 10px;}
.margin-top-15{ margin-top: 15px;}
.margin-top-20{ margin-top: 20px;}

.margin-left-0 { margin-left:  0px;}
.margin-left-5 { margin-left:  5px;}
.margin-left-10{ margin-left: 10px;}
.margin-left-15{ margin-left: 15px;}
.margin-left-20{ margin-left: 20px;}

.margin-right-0 { margin-right:  0px;}
.margin-right-5 { margin-right:  5px;}
.margin-right-10{ margin-right: 10px;}
.margin-right-15{ margin-right: 15px;}
.margin-right-20{ margin-right: 20px;}


.padding-0{ padding: 0px;}
.padding-5{ padding: 5px;}
.padding-10{ padding: 10px;}
.padding-15{ padding: 15px;}
.padding-20{ padding: 20px;}

.padding-bottom-0 { padding-bottom:  0px;}
.padding-bottom-5 { padding-bottom:  5px;}
.padding-bottom-10{ padding-bottom: 10px;}
.padding-bottom-15{ padding-bottom: 15px;}
.padding-bottom-20{ padding-bottom: 20px;}

.padding-top-0 { padding-top:  0px;}
.padding-top-5 { padding-top:  5px;}
.padding-top-10{ padding-top: 10px;}
.padding-top-15{ padding-top: 15px;}
.padding-top-20{ padding-top: 20px;}

.padding-left-0 { padding-left:  0px;}
.padding-left-5 { padding-left:  5px;}
.padding-left-10{ padding-left: 10px;}
.padding-left-15{ padding-left: 15px;}
.padding-left-20{ padding-left: 20px;}

.padding-right-0 { padding-right:  0px;}
.padding-right-5 { padding-right:  5px;}
.padding-right-10{ padding-right: 10px;}
.padding-right-15{ padding-right: 15px;}
.padding-right-20{ padding-right: 20px;}


.text-align-center{ text-align: center;}
.text-align-left{ text-align: left;}
.text-align-right{ text-align: right;}

.block-center{ margin: 0 auto;}

.font-size-16{ font-size: 16px;}
.font-size-14{ font-size: 14px;}


.color-ed1c24{ color: #ed1c24;}
.color-014b8a{ color: #014b8a;}
.color-097ad2{ color: #097ad2;}
.color-666666{ color: #666666;}
.color-023b6d{ color: #023b6d;}
.color-blue{ color: blue;}
.color-white{ color: white;}
.color-black{ color: black;}

.background-color-white{ background-color: white;}
.background-color-0e5490{ background-color: #0e5490;}
.background-color-e0e0e0{ background-color: #e0e0e0; }
.float-right{ float: right;}
.float-left{ float: left;}

.font-size-10 {font-size: 10px;}
.font-size-11 {font-size: 11px;}
.font-size-12 {font-size: 12px;}
.font-size-13 {font-size: 13px;}
.font-size-14 {font-size: 14px;}
.font-size-15 {font-size: 15px;}
.font-size-16 {font-size: 16px;}
.font-size-17 {font-size: 17px;}
.font-size-18 {font-size: 18px;}
.font-size-19 {font-size: 19px;}
.font-size-20 {font-size: 20px;}
.font-size-21 {font-size: 21px;}
.font-size-22 {font-size: 22px;}
.font-size-23 {font-size: 23px;}
.font-size-24 {font-size: 24px;}
.font-size-25 {font-size: 25px;}
.font-size-26 {font-size: 26px;}
.font-size-27 {font-size: 27px;}
.font-size-28 {font-size: 28px;}
.font-size-29 {font-size: 29px;}
.font-size-30 {font-size: 30px;}
.font-size-31 {font-size: 31px;}
.font-size-32 {font-size: 32px;}

a.color-white-a{ color: white;cursor: pointer;}
a.color-white-a:hover,
a.color-white-a:focus,
a.color-white-a:active,
a.color-white-a:after {
    color: white;
    text-decoration: none;
}
.bold{ font-weight: bold;}
.italic{ font-style: italic;}


.maxwidth-640{ max-width: 640px;}
.maxwidth-100{ max-width: 100px;}

.maxheight-100{ max-height: 100px;}


.border-radius-0 { border-radius: 0 ;}
.border-radius-1 { border-radius: 1px ;}
.border-radius-2 { border-radius: 2px ;}
.border-radius-3 { border-radius: 3px ;}
.border-radius-4 { border-radius: 4px ;}
.border-radius-5 { border-radius: 5px ;}
.border-radius-6 { border-radius: 6px ;}
.border-radius-7 { border-radius: 7px ;}
.border-radius-8 { border-radius: 8px ;}
.border-radius-9 { border-radius: 9px ;}
.border-radius-10{ border-radius: 10px;}
.border-none{ border: none;}

 .vertical-align-middle{vertical-align: middle !important;}
 .vertical-align-top{vertical-align: top !important;}
 .vertical-align-text-top{vertical-align: text-top !important;}
 .vertical-align-text-bottom{ vertical-align: text-bottom !important;}

.line-height-20{line-height: 20px;}
.line-height-21{line-height: 21px;}
.line-height-22{line-height: 22px;}
.line-height-23{line-height: 23px;}
.line-height-24{line-height: 24px;}
.line-height-25{line-height: 25px;}
.line-height-26{line-height: 26px;}
.line-height-27{line-height: 27px;}
.line-height-28{line-height: 28px;}
.line-height-29{line-height: 29px;}
.line-height-30{line-height: 30px;}
.line-height-31{line-height: 31px;}
.line-height-32{line-height: 32px;}
.line-height-33{line-height: 33px;}
.line-height-34{line-height: 34px;}
.line-height-35{line-height: 35px;}
.line-height-36{line-height: 36px;}
.line-height-37{line-height: 37px;}
.line-height-38{line-height: 38px;}
.line-height-39{line-height: 39px;}
.line-height-40{line-height: 40px;}
.line-height-41{line-height: 41px;}
.line-height-42{line-height: 42px;}
.line-height-43{line-height: 43px;}
.line-height-44{line-height: 44px;}
.line-height-45{line-height: 45px;}
.line-height-46{line-height: 46px;}
.line-height-47{line-height: 47px;}
.line-height-48{line-height: 48px;}
.line-height-49{line-height: 49px;}
.line-height-50{line-height: 50px;}
.line-height-51{line-height: 51px;}
.line-height-52{line-height: 52px;}
.line-height-53{line-height: 53px;}
.line-height-54{line-height: 54px;}
.line-height-55{line-height: 55px;}
.line-height-56{line-height: 56px;}
.line-height-57{line-height: 57px;}
.line-height-58{line-height: 58px;}
.line-height-59{line-height: 59px;}
.line-height-60{line-height: 60px;}
.line-height-61{line-height: 61px;}
.line-height-62{line-height: 62px;}
.line-height-63{line-height: 63px;}
.line-height-64{line-height: 64px;}
.line-height-65{line-height: 65px;}
.line-height-66{line-height: 66px;}
.line-height-67{line-height: 67px;}
.line-height-68{line-height: 68px;}
.line-height-69{line-height: 69px;}
.line-height-70{line-height: 70px;}
.line-height-71{line-height: 71px;}
.line-height-72{line-height: 72px;}
.line-height-73{line-height: 73px;}
.line-height-74{line-height: 74px;}
.line-height-75{line-height: 75px;}
.line-height-76{line-height: 76px;}
.line-height-77{line-height: 77px;}
.line-height-78{line-height: 78px;}
.line-height-79{line-height: 79px;}
.line-height-80{line-height: 80px;}

a.clear-decoration:hover,
a.clear-decoration:active,
a.clear-decoration:after,
a.clear-decoration:focus
 {
    text-decoration: none;
}
.font-style-italic{font-style: italic}
.position-relative{ position: relative;}
.position-absolute{ position: absolute;}
.position-fixed{ position: fixed;}

.display-block{ display: block;}











