﻿.x_panel {
    margin-top: 30px;
    border-color: #2a3f54;
}

    .x_panel .x_label label {
        font-size: 16px;
        background-color: #008cff;
        color: white;
        margin-top: -35px;
        float: left;
        padding: 10px 20px;
        border-radius: 4px;
        font-weight: normal;
    }

.openCkfinder {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    position: relative;
    color: #008cff;
}

    .openCkfinder span {
        font-size: 30px;
        padding-top: 50px;
    }

    .openCkfinder img {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 0;
        top: 0;
    }

.ckfinder_list .ckfinder_item {
    width: 150px;
    height: 150px;
    float: left;
    background: url('../images/addimg.png?') center center no-repeat #eeeeee;
    margin-right: 15px;
    margin-bottom: 15px;
    /*background-size: 150px 150px;*/
    /*background-color: #eeeeee;*/
    border: 1px solid #cccccc;
    position: relative;
}

    .ckfinder_list .ckfinder_item img {
        width: 150px;
        height: 150px;
    }

    .ckfinder_list .ckfinder_item span {
        position: absolute;
        top: -1px;
        padding: 5px;
        right: -1px;
        background-color: #cccccc;
        text-align: center;
        cursor: pointer;
        z-index: 100;
    }

table.table-noborder tr th,
table.table-noborder tr td {
    border: none !important;
}

table.my_table tr th {
    vertical-align: middle !important;
    text-align: center;
}

.admin_img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border: 1px solid #cccccc;
}

    .admin_img img {
        width: 100%;
    }

.profile_info h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: red !important;
}

.color-red {
    color: red;
}

.imageview .hide {
    display: block !important;
}

.cursor-pointer {
    cursor: pointer;
}

.color-blue {
    color: blue;
}

table.table thead th {
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_processing {
    color: red;
    font-weight: bold;
    background: yellow  !important;
    height: auto !important;
    padding: 20px !important;
}

table td > span {
    line-height: 0;
}