﻿@using BussinessObject
@model EntitiesObject.Entities.WebEntities.Xstreet
@{
    ViewBag.Title = "Tạo mới Tên Đường";
    ViewBag.PageName = "Tạo mới Tên Đường";
    int cityId = ViewBag.cityId ?? 0;
    if (Model.DistrictId > 0)
    {
        var ci = BoFactory.AddressBook.GetDistrictById(Model.DistrictId ?? 0);
        if (ci != null)
        {
            cityId = ci.CityId ?? 0;
        }
    }

    var city = BoFactory.AddressBook.GetCityList().Select(c => new SelectListItem
    {
        Value = c.Id + "",
        Text = c.CityName,
        Selected = c.Id == cityId
    }).ToList();
    city.Insert(0, new SelectListItem
    {
        Value = "0",
        Text = "=== Chọn tỉnh/tp ===",
        Selected = false
    });

    if (Model.DistrictId > 0 && cityId == 0)
    {
        var dis = BoFactory.AddressBook.GetDistrictById(Model.DistrictId ?? 0);
        if (dis != null)
        {
            cityId = dis.CityId??0;
        }
    }
    
    var district = new List<SelectListItem>();

    {
        district.AddRange(BoFactory.AddressBook.GetDistrictByCity(cityId).Select(c => new SelectListItem
    {
        Value = c.Id + "",
        Text = c.DistrictName,
        Selected = c.Id == (Model.DistrictId ?? 0)
    }));
    }

    district.Insert(0, new SelectListItem
    {
        Value = "0",
        Text = "=== Chọn quận/huyện ===",
        Selected = false
    });

    //var ward = new List<SelectListItem>();

    //if (Model.DistrictId > 0)
    //{
    //    ward.AddRange(BoFactory.AddressBook.GetWardByDistrict(Model.DistrictId ?? 0).Select(c => new SelectListItem
    //    {
    //        Value = c.Id + "",
    //        Text = c.WardName,
    //        Selected = c.Id == (Model.DistrictId ?? 0)
    //    }));
    @*  *@}

    @*ward.Insert(0, new SelectListItem
    {
        Value = "0",
        Text = "=== Chọn phường/xã ===",
        Selected = false
    });*@
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Edit", "street", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>@(Model.Id > 0 ? "Sửa" : "Thêm") Tên Đường</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="city">Tỉnh thành</label></div>
                            <div class="col-md-6">
                                @Html.DropDownList("cityId", city, new { @class = "form-control", cityIdid = "cityId" })
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="DistrictName">Quận huyện</label></div>
                            <div class="col-md-6" id="DistrictList">
                                @Html.HiddenFor(c => c.Id)
                                @Html.DropDownListFor(c => c.DistrictId, district, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.DistrictId)
                            </div>
                        </div>
                        @*<div class="row padding-top-10">
                            <div class="col-md-2"><label for="WardId">Phường xã</label></div>
                            <div class="col-md-6" id="WardList">
                                @Html.HiddenFor(c => c.Id)
                                @Html.DropDownListFor(c => c.WardId, ward, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.WardId)
                            </div>
                        </div>*@
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="StreetName">Tên Đường</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.StreetName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.StreetName)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        @if (Model.IsPublic != false)
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" checked="checked" />
                                        }
                                        else
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" />
                                        }
                                        &nbsp;Hiển thị
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#cityId").change(function () {
                $.get('@Url.Action("GetDistrictByCity")', {
                    cityId: $(this).val(),
                    //districtId:$("districtId").val()
                }, function (data) {
                    $("#DistrictList").html(data);
                });
            });

            $(document).on("change", "#DistrictId", function (e) {
                $.get('@Url.Action("GetWardByDistrict")', {
                    districtId: $(this).val(),
                }, function (data) {
                    $("#WardList").html(data);
                });
            });
        });
    </script>
}


