﻿@model OutsideX.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout .cshtml";
}
<div class="padding-20"></div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="box_login background-color-white">
            <div class="box_login_header">
                <a href="@Url.Action("Login","Account")" class="active">ĐĂNG NHẬP</a>
                @*<a href="@Url.Action("Register","Account")">ĐĂNG KÝ</a>*@
                <div class="clearfix"></div>
            </div>
            <div class="padding-10"></div>
            <div class="padding-left-20 padding-right-20">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group-lg">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập..." })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group-lg margin-top-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu..." })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="checkbox margin-top-10">
                        <label>
                            <input type="checkbox" checked="checked"> Ghi nhớ tài khoản.
                        </label>
                    </div>

                    <div class="padding-top-10">
                        <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
                        <div class="text-danger" style="list-style: none;">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    @*<div class="padding-top-10">
                            Bạn chưa có tài khoản? <a href="@Url.Action("Register","Account")">Đăng ký</a><br/>
                            <a href="#">Quên mật khẩu?</a>
                        </div>*@
                }

            </div>
            <div class="padding-20"></div>
            @*<div id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>*@
        </div>

    </div>

</div>
<div class="padding-20"></div>
<div class="padding-20"></div>
