﻿@model OutsideX.Models.RegisterViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout .cshtml";
}

<div class="padding-20"></div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="box_login background-color-white">
            <div class="box_login_header">
                <a href="@Url.Action("Login","Account")" class="">ĐĂNG NHẬP</a>
                <a href="@Url.Action("Register","Account")" class="active">ĐĂNG KÝ</a>
                <div class="clearfix"></div>
            </div>
            <div class="padding-10"></div>
            <div class="padding-left-20 padding-right-20">
                <form>


                    <div class="row">
                        <div class="col-sm-6 padding-right-5">
                            <div class="form-group-lg margin-top-10">
                                <input type="tel" class="form-control" id="" placeholder="Họ">
                            </div>
                        </div>
                        <div class="col-sm-6 padding-left-5">
                            <div class="form-group-lg margin-top-10">
                                <input type="tel" class="form-control" id="" placeholder="Tên">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-lg margin-top-10">
                        <input type="email" class="form-control" id="" placeholder="Email">
                    </div>
                    <div class="form-group-lg margin-top-10">
                        <input type="tel" class="form-control" id="" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group-lg margin-top-10">
                        <input type="password" class="form-control" id="" placeholder="Mật khẩu">
                    </div>

                    <div class="checkbox margin-top-10">
                        <label>
                            Thông qua việc đăng ký này, tôi đồng ý với các <a href="#">điều khoản sử dụng của phusaithanh.com</a>
                        </label>
                    </div>

                    <div class="padding-top-10">
                        <button type="submit" class="btn btn-primary">ĐĂNG KÝ</button>
                    </div>
                    @*<div class="padding-top-10">
                        Bạn chưa có tài khoản? <a href="@Url.Action("Register","Account")">Đăng ký</a><br />
                        <a href="#">Quên mật khẩu?</a>
                    </div>*@
                </form>
            </div>
            <div class="padding-20"></div>
        </div>

    </div>

</div>
<div class="padding-20"></div>
<div class="padding-20"></div>

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
