﻿@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@{
    ViewBag.PageName = ViewBag.Title = "Lịch sử cấp quyền" ;
    const RealBuyOrRentEnum buyOrRent = RealBuyOrRentEnum.Buy;
}
<div class="right_col" role="main">
    <div class="">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <form id="preview_form">
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="RealType" class="col-sm-4 control-label">Loại BĐS</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("RealType", PstHelper.GetListRealTypeEnum(buyOrRent).ToSelectListItems(0, "0", "== Loại BĐS =="), new { @class = "form-control" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label for="RealStatus" class="col-sm-4 control-label">Trạng thái</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("RealStatus", PstHelper.GetListRealStatusEnum(buyOrRent).ToSelectListItems(0, "0", "== Trạng thái =="), new { @class = "form-control" })
                                    </div>
                                </div>*@

                                @*<div class="form-group">
                                    <label for="RealStatusNow" class="col-sm-4 control-label">Hiện trạng</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("RealStatusNow", typeof(RealStatusNowEnum).ToList().ToSelectListItems(0, "0", "== Hiện trạng =="), new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("streetView", typeof(StreetTypeEnum).ToList().ToSelectListItems(0, "0", "== Mặt tiền/Hẻm =="), new { @class = "form-control" })
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <label for="Keyword" class="col-sm-4 control-label">Từ khóa</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("Keyword", "", new { @class = "form-control", placeholder = "#Mã1,#mã2, Vip1,vip2, địa chỉ, tiêu đề... " })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="MinPrice" class="col-sm-4 control-label">Giá (@(buyOrRent == RealBuyOrRentEnum.Buy ? "tỷ" : "triệu"))</label>
                                    <div class="col-sm-3">
                                        @Html.TextBox("MinPrice", "0", new { @class = "form-control", placeholder = "Giá từ..." })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBox("MaxPrice", "0", new { @class = "form-control", placeholder = "Giá đến..." })
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="checkbox">
                                            <label>@Html.CheckBox("IsHotPrice", false) Giá tốt</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="DateFrom" class="col-sm-4 control-label">Từ ngày</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control has-feedback-left" id="DateFrom" name="DateFrom" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="DateTo" class="col-sm-4 control-label">Đến ngày</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control has-feedback-left" id="DateTo" name="DateTo" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label for="deptId" class="col-sm-4 control-label">Nhóm</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("deptId", (List<SelectListItem>)ViewBag.dept, new { @class = "form-control" })
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <label for="BrokerId" class="col-sm-4 control-label">Nhân viên</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("BrokerId", PstHelper.BrokerList(0, AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Customer.Value()), new { @class = "form-control" })
                                    </div>
                                </div>


                                @*<div class="form-group">
                                    <label for="RealDirection" class="col-sm-4 control-label">Hướng</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("RealDirection", typeof(RealDirectionEnum).ToList().ToSelectListItems(0, "0", "== Hướng =="), new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("roomNumber", typeof(RoomNumberEnum).ToList().ToSelectListItems(0, "0", "== Số phòng ngủ =="), new { @class = "form-control" })
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button type="button" id="search" class="btn btn-primary">
                                        <span class="padding-left-20 padding-right-20">Tìm</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            @*<h2>Danh sách BĐS @title</h2>*@
                            <div class="nav navbar-right">Total: <strong id="strongTotal" style="color:#f00;" ng-bind="totalRecord">0</strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-striped table-bordered font-size-13">
                                <thead>
                                    <tr style="vertical-align: middle;">
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Đặc điểm</th>
                                        <th class="text-align-center">Địa chỉ</th>
                                        <th class="text-align-center">Giá</th>
                                        <th class="text-align-center">Hình</th>
                                        <th class="text-align-center">Nhân viên</th>
                                        <th class="text-align-center">Quyền</th>
                                        <th class="text-align-center">Thời gian</th>
                                        @*<th class="text-align-center"></th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>

                                </tfoot>
                            </table>


                            <div class="btn-toolbar bottom tableexport-caption">
                                <button class="btn btn-default xlsx" onclick="exportToExcel()">Export to xlsx</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Fullscreen-Lightbox/src/css/jquery.imageview.css" rel="stylesheet" />

}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script src="~/Content/Fullscreen-Lightbox/src/js/jquery.imageview.js"></script>
    <script type="text/javascript">
        function exportToExcel() {
            var url = '@Url.Action("ExportToExcel")?';
            // url += 'brokerId=' + $('#BrokerId').val();
            //url += 'keyword=' + $('#Keyword').val();
            //url += '&status=' + $('#Status').val();
            ////   url += '&productType=' + $('#productType').val();
            //url += '&dateFrom=' + encodeURIComponent($('#DateFrom input').val());
            //url += '&dateTo=' + encodeURIComponent($('#DateTo input').val());
            //url += '&CustomerType=' + encodeURIComponent($('#CustomerType').val());


            var form = $("#preview_form").serializeArray();
            for (var i = 0; i < form.length; i++) {
                url += '&' + form[i].name + '=' + form[i].value;
            }
            url += '&BuyOrRent=' + '@buyOrRent.Value()';

            var ifa = '<iframe src="' + url + '" style="display: none"></iframe>';
            $("body").append(ifa);


        }


        $(document).ready(function () {
            $('#DateFrom').val('');
            $('#DateTo').val('');
            var dataTable = $('#dataTable').on('xhr.dt', function (e, settings, json, xhr) {
                //console.log(json.recordsTotal);
                $('#strongTotal').html(json.recordsTotal);
            }).DataTable({
                "processing": true,
                //"orderable": false,
                "serverSide": true,
                "lengthChange": false,
                //"pageLength": 1,
                "bFilter": false,
                "bInfo": false,
                "lengthMenu": [[10, 100], [10, 100]],
                "ajax": {
                    "url": '@Url.Action("List","HistoryRealPermission")',
                    "type": "POST",
                    "data": function (d) {
                        var form = $("#preview_form").serializeArray();
                        for (var i = 0; i < form.length; i++) {
                            d[form[i].name] = form[i].value;
                        }
                        d.BuyOrRent = '@buyOrRent';
                    }
                },
                "columns": [
                    { "orderable": false, "data": "Id", className: "text-align-center" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id", "className": "text-align-center" },
                    { "orderable": false, "data": "Id", "className": "text-align-center",width:70 },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    //{ "orderable": false, "data": "Id" },

                    //{ "orderable": false, "data": "Edit", className: "text-align-center" },
                ],
                "columnDefs": [
                    {
                        "targets": 1,
                        "data": null,
                        "render": function (data, type, row) {
                            return ''
                                + '<span class="color-blue">' + row["RealStatusEnum"] + '</span>'
                                //+ '<br/>' + row["RealTypeEnum"]
                                //+ '<br/>' + row['RealStatusNowEnum'] + ' ' + row['StatusNowPercent']
                                + '<br/>Hướng: ' + row['DirectionString'];
                        },
                    },
                    {
                        "targets": 2,
                        "data": null,
                        "render": function (data, type, row) {
                            var html = row["StreetTypeEnum"] + ': ' + row['DuongRong'] + ' m<br/>'
                                + row['AddressNo']
                                + ', ' + row['StreetName']
                                + ", " + row['WardName']
                                + ', ' + row['DistrictName']
                                //+ '<br/><br/>' +
                                //'<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Nội thất: ' + row['HinhNoiThatNumber'] + row['HinhNoiThatView'] + '</span> ' +
                                //'<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Chi tiết: ' + row['HinhChiTietNumber'] + row['HinhChiTietView'] + '</span> ' +
                                //'<span id="" class="font-size-12 label label-info  image_view cursor-pointer"> Giấy tờ: ' + row['HinhGiayToNumber'] + row['HinhGiayToView'] + '</span>'
                            ;
                            return html;
                        },
                    },
                    //{
                    //    "targets": 3,//kết cấu
                    //    "data": null,
                    //    "render": function (data, type, row) {
                    //        return row['ChieuRong'] + ' x ' + row['ChieuDai'] + ' (' + row['DienTich'] + ' m<sup>2</sup>)'
                    //            + '<br/>Hình dáng: ' + row['RealHinhDangDatEnum'] + ' ' + row['HinhDangDatNumber'] + ' m'
                    //            + '<br/>' + row['KetCau']
                    //            + "<br/>" + row['SoPhongNgu'] + ' phòng ngủ, ' + row['SoWc'] + ' toilet';

                    //    },
                    //},
                    {
                        "targets": 3,
                        "data": null,
                        "render": function (data, type, row) {
                            var html = '';

                            //if (row['Status'] == 2 || row['Status'] == 3) {
                            //    html += '<font style="color:red;"> Đã bán: ' + row['PriceSold'] + ' ' + row['UnitTypeString'] + '</font><br/>';
                            //}
                            html += 'Giá: <span class="color-blue">' + row['Price'] + ' ' + row['UnitTypeString'] + '</span>';
                            //html += '<br/>Ước lượng: ' + row['UocLuongGiaBan'] + ' tỷ'
                            //    + "<br/>Giá nhà: " + row['DienTichSuDung'] + ' (DTSD) x ' + row['GiaNha'] + ' (triệu/m<sup>2</sup>)' + ' = ' + row['_GiaNha'] + ' triệu'
                            //    + '<br/>Giá đất: ' + row['GiaTriDat'] + ' (triệu/m<sup>2</sup>)';


                            return html;
                        },
                    },
                    {
                        "targets": 4,
                        "data": null,
                        "className": "text-align-center",
                        "render": function (data, type, row) {
                            return '<img src="' + row["Hinh"] + '" width="80" height="80" alt="no image" />';
                        },
                    },
                    {
                        "targets": 5,
                        "data": null,
                        "render": function (data, type, row) {
                            return '<img src="' + row["Avatar"] + '" width="50" height="50" alt="no image" />' +
                                '<br/>' + row["DisplayName"];
                        },
                    },
                    {
                        "targets": 6,
                        "data": null,
                        "render": function (data, type, row) {
                            return row['Role']
                            ;
                        },
                    },
                    {
                        "targets": 7,
                        "data": null,
                        "render": function (data, type, row) {
                            return row['HistoryUpdatedDateString']
                                + '<br/>' + row["HistoryTimeLimitString"]
                            ;
                        },
                    },

                    @*{
                        "targets": 7,
                        "data": null,
                        "render": function (data, type, row) {
                            var url = '@Url.Action("RealPermission","Real")?id=' + row["Id"];
                            var isAdmin = '@MySessionManager.SessionData.IsAdmin.ToString()';
                            var html = '' +
                                '<a data-toggle="tooltip" data-placement="top" title="Sửa"  class="edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a>' +
                                '<br/> <a data-toggle="tooltip" data-placement="top" title="Xóa" class="delete" href="javascript:void(0)"><i class="fa fa-trash"></i></a>';
                            
                            if (isAdmin == 'True') {
                                html += '<br/> <a data-toggle="tooltip" data-placement="top" title="Quyền sửa"  class="" href="javascript:void(0)"  onclick="openModal(\'' + url + '\')"><i class="glyphicon glyphicon-log-in"></i></a>';
                                html += '<br/> <a data-toggle="tooltip" data-placement="top" title="Quyền xem"  class="" href="javascript:void(0)"  onclick="openModal(\'' + '@Url.Action("CustomerPermissionList","Real")?id=' + row["Id"] + '\',1000)"><i class="glyphicon glyphicon-log-out"></i></a>';
                            }

                            html += '<br/> <a data-toggle="tooltip" data-placement="top" title="Chi tiết"  class="" target="_blank" href="@(TinyHelper.WebDomain)RealEstate/DetailCustomer/' + row["Id"] + '"  ><i class="glyphicon glyphicon-th-list"></i></a>' +
                                '' +
                                '';
                            return html;
                        },
                    },*@


                ],
                //dom: 'Bfrtip',
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf', 'print'
                //],
                "language": datatableLanguage,
                fnDrawCallback: function () {
                    //$('html, body').animate({
                    //    scrollTop: 0
                    //}, 1000);
                    $('[data-toggle="tooltip"]').tooltip();

                }
            });

            $('#dataTable tbody').on('click', 'a.edit', function () {
                var data = dataTable.row($(this).parents('tr')).data();
                var href = '@Url.Action("Update" + buyOrRent.ToString())?id=' + data["Id"];
                window.open(href);
            });

            $('#dataTable tbody').on('click', 'a.delete', function () {
                if (confirm('Chắc chắn xóa ?')) {
                    var data = dataTable.row($(this).parents('tr')).data();
                    $.post('@Url.Action("Delete","Real")', { id: data["Id"] }, function (res) {
                        if (res == true)
                            $('#dataTable').DataTable().ajax.reload();
                        else alert(res);
                    });
                }
            });

            $('#dataTable tbody').on('click', 'span.image_view', function () {
                if ($(this).children('a').length > 0) {
                    $(this).imageview();
                    $(this).children('a')[0].click();

                }
            });

            $('#DateFrom').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateTo').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateFrom').val('');
            $('#DateTo').val('');

            $("#search").click(function () {
                //dataTable.reload();
                $('#dataTable').DataTable().ajax.reload();
            });

            $("#BrokerId").select2({
                templateResult: formatAvatar,
            });

            $(document).on("keypress", "#preview_form input,#preview_form select", function (e) {
                if (e.keyCode == 13) {
                    $('#dataTable').DataTable().ajax.reload();
                }
            });

            $(document).on("change", "#preview_form input[type=checkbox], #preview_form select", function (e) {
                $('#dataTable').DataTable().ajax.reload();
            });
        });
    </script>
}