﻿@using BussinessObject
@using EntitiesObject.Entities.WebEntities
@using OutsideX.Models
@using PhuSaiThanhLib
@model EntitiesObject.Custom.RealEstateInfo
@{
    ViewBag.Title = "DetailCustomer";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var recent = ViewBag.Recent as List<Out_RealEstate_RecentViewed_Result> ?? new List<Out_RealEstate_RecentViewed_Result>();
    var similar = ViewBag.Similar as List<Out_RealEstate_SearchSimilar_Result> ?? new List<Out_RealEstate_SearchSimilar_Result>();
    var address = new Out_AddressBook_SelectById_Result();
    var addressString=string.Empty;
    var allowView = MySessionManager.IsAuthen && (MySessionManager.IsAdmin || MySessionManager.SessionData.ID == Model.RealEstateOnSale.AdminId);
    var permission = BoFactory.RealEstatePermission.GetPermission(Model.RealEstateOnSale.ProductId, MySessionManager.SessionData.ID);
    var isViewAlbum = false;
    var isViewAddress = false;
    var isViewAlbumLegal = false;
    var isViewBroker = false;
    var isViewContact = false;
    if (!allowView)
    {
        if (permission != null)
        {
            isViewAlbum = permission.IsViewAlbum.GetValueOrDefault() ;
            isViewAlbumLegal = permission.IsViewAlbumLegal.GetValueOrDefault();
            isViewAddress = permission.IsViewAddress.GetValueOrDefault();
            isViewBroker = permission.IsViewBroker.GetValueOrDefault();
            isViewContact = permission.IsViewContact.GetValueOrDefault();
        }
    }
}
@if (Model != null)
{
    address = BoFactory.AddressBook.GetById(Model.Address.Id);
    addressString = string.Join(", ", new List<string> { address.StreetName, address.WardName, address.DistrictName, address.CityName });

    <div class="div_breadcrumb">
        Phú Sài Thành
        <span class="glyphicon glyphicon-menu-right"></span>
        @(Model.RealEstate.ProductType.ToProductType())
        <span class="glyphicon glyphicon-menu-right"></span>
        @address.CityName
        <span class="glyphicon glyphicon-menu-right"></span>
        @address.DistrictName
        <span class="glyphicon glyphicon-menu-right"></span>
        @address.WardName
        <span class="glyphicon glyphicon-menu-right"></span>
        @address.StreetName
        <span class="glyphicon glyphicon-menu-right"></span>
        <span>@Model.RealEstate.ProductName</span>
    </div>

    <div class="row">
        <div class="div_center col-md-9">
            <div class="bds_detail">
                <div class="padding-15 background-color-white">
                    @if (allowView && (isViewAlbum || isViewAlbumLegal))
                    {
                        <div class="clearfix div_gallery" style="max-width: 100%;">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                @{
                                    var images = (Model.RealEstateAlbum.ImagesUrl ?? "").Split(';').ToList();
                                }
                                @foreach (var item in images)
                                {
                                    <li data-thumb="@item.GetFullUrlImage()">
                                        <img src="@item.GetFullUrlImage()" onerror="CheckImg(this)" />
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <img src="@Model.RealEstate.ImgCover" alt="@Model.RealEstate.ProductName" class="width-100" onerror="CheckImg(this)" />
                    }
                </div>
                
                <div class="font-size-20 color-097ad2 padding-top-10">@Model.RealEstate.ProductName</div>
                <div class="font-size-14 color-666666">@address.StreetName, @address.WardName, @address.DistrictName, @address.CityName</div>
                <div class="margin-top-15 background-color-white padding-10">
                    @*<div class="row">
                        <div class="col-md-3"><label class="font-size-16">THÔNG TIN CHÍNH</label></div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-5">
                                    <table class="table table_noborder">
                                        <tr><td><strong>Giá</strong></td><td>: @Html.Raw(Model.RealEstateOnSale.Price.DecimalToText())</td></tr>
                                        <tr><td><strong>Diện tích sử dụng</strong></td><td>: @(Model.RealEstate.Wwith)x@(Model.RealEstate.Hheight)m (@(Model.RealEstate.SContruction)m<sup>2</sup>)</td></tr>
                                        <tr><td><strong>Diện tích đất</strong></td><td>: @(Model.RealEstate.SLand)m<sup>2</sup></td></tr>
                                        <tr><td><strong>Ngày đăng</strong></td><td>: @((Model.RealEstate.CreateDate??DateTime.Now).ToString("dd/MM/yyyy"))</td></tr>
                                        <tr><td><strong>Mã BDS</strong></td><td>: @DateTime.Now.ToString("yyyyMMdd")@Model.RealEstate.Id</td></tr>
                                    </table>
                                </div>
                                <div class="col-md-5">
                                    <table class="table table_noborder">
                                        <tr><td><strong>Số phòn ngủ</strong></td><td>: @(Model.RealEstate.NBedRoom ?? 0)</td></tr>
                                        <tr><td><strong>Số phòng WC</strong></td><td>: @(Model.RealEstate.NBathRoom ?? 0)</td></tr>
                                        <tr><td><strong>Pháp lý</strong></td><td>: Sổ hồng</td></tr>
                                        <tr><td><strong>Hướng</strong></td><td>: @(Model.RealEstate.ViewDirection.ToDirection())</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>*@

                    <table class="table table-bordered background-color-white">
                        <tbody>
                            <tr>
                                <td class="color-023b6d bold">GIÁ</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Html.Raw(Model.RealEstateOnSale.Price.DecimalToText("<span class='color-ed1c24'><span class='font-size-30 bold'>{0}</span> <span class='font-size-20'>{1}</span></span>"))
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="color-023b6d bold">THÔNG TIN  CHI TIẾT</td>
                                <td class="font-size-14">
                                    <div class="padding-left-10">
                                        <div class="row">
                                            <div class="col-lg-6 color-black">
                                                <strong>Vị trí:</strong> @addressString
                                                <br> <strong>Hẻm:</strong> --
                                                <br> <strong>Diện tích:</strong> @(Model.RealEstate.Wwith)x@(Model.RealEstate.Hheight)m (@(Model.RealEstate.SContruction)m<sup>2</sup>)
                                                <br> <strong>Kết cấu:</strong>@Model.RealEstate.NFloor.ConvertFloor() ( DTSD: @(Model.RealEstate.SContruction)m<sup>2</sup>)
                                            </div>
                                            <div class="col-lg-6 color-black">
                                                <strong>Số phòng ngủ:</strong> @(Model.RealEstate.NBedRoom ?? 0)
                                                <br><strong>Số phòng WC:</strong> @(Model.RealEstate.NBathRoom ?? 0)
                                                <br><strong>Pháp lý:</strong> -
                                                <br><strong>Hướng:</strong> @(Model.RealEstate.ViewDirection.ToDirection())
                                                <br><strong>Mã BĐS:</strong> @DateTime.Now.ToString("yyyyMMdd")@Model.RealEstate.Id
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="color-023b6d bold">MÔ TẢ</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Html.Raw(Model.RealEstate.FullNote)
                                    </div>
                                </td>
                            </tr>
                            @if (allowView && isViewAddress)
                            {
                                <tr>
                                    <td class="color-023b6d bold">ĐỊA CHỈ</td>
                                    <td>
                                        <div class="padding-left-10">
                                            @Html.Raw(string.Join(", ", new List<string> { address.AddressNo,address.StreetName, address.WardName, address.DistrictName, address.CityName }))
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (allowView && isViewContact)
                            {
                                var contact = BoFactory.AddressBook.GetContactBook(Model.RealEstateOnSale.ContactId.GetValueOrDefault());
                                if (contact != null)
                                {
                                    <tr>
                                        <td class="color-023b6d bold">LIÊN HỆ</td>
                                        <td>
                                            <div class="padding-left-10">
                                                @Html.Raw(string.Join(" - ", new List<string> { contact.ContactName, contact.Mobile }))
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (allowView && isViewBroker)
                            {
                                var broker = BoFactory.BrokerAccount.GetOne(Model.RealEstateOnSale.BrokerId.GetValueOrDefault());
                                if (broker != null)
                                {
                                    <tr>
                                        <td class="color-023b6d bold">MÔI GIỚI</td>
                                        <td>
                                            <div class="padding-left-10">                                            
                                                @Html.Raw(string.Join(" - ", new List<string> {broker.DisplayName,broker.Phone}))
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
                @*<div class="padding-15"></div>*@
                @*<div class="padding-15 background-color-white">
                    <div class="clearfix div_gallery" style="max-width:100%;">
                        <ul id="image_custome_detail" class="gallery list-unstyled cS-hidden">

                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                            <li data-thumb="@Url.Action("Index","Home")//Content/img/ex3-small.jpg">
                                <img src="~/Content/img/ex3.jpg" class="width-100" />
                            </li>
                        </ul>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">


                    </div>
                </div>
                <div class="padding-15"></div>
                <div>
                    <div id="map" style="height: 450px;"></div>
                </div>

                @{
    var staff = BoFactory.BrokerAccount.GetById(Model.Broker.Id);
                }
                @if (staff != null)
                {
                    <div class="background-color-white margin-top-20">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4 padding-right-0">
                                        <div class="padding-15">
                                            <img src="@(string.IsNullOrEmpty(staff.AvatarUrl) ? "/Content/img/ico-user.png" : staff.AvatarUrl)" class="width-100" onerror="CheckImg(this)">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 padding-left-0 padding-top-15">
                                        <div><strong class="font-size-18 color-014b8a">@staff.DisplayName.HtmlDecode().ToUpper()</strong></div>
                                        <div>Đã xác thực CMND</div>
                                        <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold">@staff.Mobile</span></div>
                                        Để hỏi về BĐS này, vui lòng nhập thông tin và câu hỏi của bạn:
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="patientList">
                                    @{Html.RenderAction("ContactToStaff", "Layout", new { brokerId = staff.Id });}
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
        <div class="div_right col-md-3">
            @Html.Partial("RightBox/_DangTin")
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxPhuong", "Layout", new { cityId = Model.Address.CityId, districtId = Model.Address.DistrictId, wardId = Model.Address.WardId });}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxTinTuc", "Layout");}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
            <div class="padding-top-10"></div>
        </div>
    </div>
}


<div class="clearfix"></div>
@if (recent.Any())
{
    <div class="padding-10"></div>
    Html.Partial("_BoxDaXem", recent);
}

@if (recent.Any())
{
    <div class="padding-10"></div>
    Html.Partial("_BoxTuongTu", similar);
}

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLdbPH8Vu3ohUSchJRDnyeEgBrlWUpGgM&callback=initMap" async defer></script>

    <script>
        @*@{
            var add = string.Empty;
            double lat = 10.7661102;
            double lon = 106.6700959;
            if (Model != null && Model.Address != null)
            {
                if (!string.IsNullOrEmpty(Model.Address.GLatitude))
                {
                    double.TryParse(Model.Address.GLatitude, out lat);
                }

                if (!string.IsNullOrEmpty(Model.Address.GLongtitude))
                {
                    double.TryParse(Model.Address.GLongtitude, out lon);
                }


            }

        }
        var lat = @lat;
        var lon = @lon;*@
        var map;
        function initMap() {
            var api = 'https://maps.googleapis.com/maps/api/geocode/json?address=@(Html.Raw(addressString))&key=AIzaSyCvTx8F0hFehLSfpXqFA-005A6l-YoGqLo';
            $.getJSON(api, {}, function (data) {
                if (data.status == "OK" && data.results.length > 0) {
                    console.log("lat: ", data.results[0].geometry.location.lat);
                    console.log("lon: ", data.results[0].geometry.location.lng);
                    console.log("add: ", '@Html.Raw(addressString)');

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng },
                        zoom: 16
                    });
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#content-slider, #content-slider1").lightSlider({
                loop: true,
                keyPress: true,
                item: 5,
                pager: false
            });
            $('#image_custome_detail').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 4,
                slideMargin: 0,
                speed: 1000,
                auto: false,
                loop: true,
                //autoWidth: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
}
