﻿@{
    ViewBag.Title = "Nhà Đất Bán";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="div_breadcrumb">
    Phú Sài Thành<span class="glyphicon glyphicon-menu-right"></span> Mua bán nhà đất <span class="glyphicon glyphicon-menu-right"></span> TP.HCM <span class="glyphicon glyphicon-menu-right"></span> Quận 6
</div>

<div class="row">
    <div class="div_center col-md-9">
        @{Html.RenderAction("BoxGiaTot", "Layout");}

        <div class="tab_box margin-top-20">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">NHÀ ĐẤT GIÁ TỐT</a></li>
                <li role="presentation"><a href="#muabannhadat" aria-controls="chothuegiatot" role="tab" data-toggle="tab">CHO THUÊ GIÁ TỐT</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab_box_ddl">
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bất động sản nổi bật
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="#">Giá giảm dần</a></li>
                            <li><a href="#">Giá tăng dần</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                        </ul>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    
                    @*<div class="list_item ">

                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="item_box item_type_2 background-color-white margin-top-15">
                                <div class="row margin-0">
                                    <div class="col-sm-3 item_img padding-10">
                                        <a href="@Url.Action("DetailCustomer", "RealEstate")">
                                            <img src="~/Content/img/ex_home.jpg" class="img-responsive block-center" />
                                        </a>
                                    </div>
                                    <div class="col-sm-9 item_content">
                                        <div class="item_name">
                                            <div class="item_price"><span class="color-ed1c24"><span class="font-size-22"><strong>1,2 </strong></span><span class="font-size-14">tỷ</span></span></div>
                                            <a href="@Url.Action("DetailCustomer", "RealEstate")" class="item_link_hover is_hot_@(item.IsHot.ToString().ToLower()) ">
                                                Nhà đất mặt tiền, lầu 1 đường tân hóa quận @i giấy tờ đầy đủ, chính chủ, miễn trung gian
                                            </a>
                                        </div>
                                        <div class="address">Phạm Đình Hổ, Phường 11, Quận 6, TP.HCM</div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <strong>Căn Hộ</strong>
                                                <br />
                                                <strong>Hướng: </strong> Đông bắc
                                            </div>
                                            <div class="col-md-3">
                                                <strong>Mặt tiền</strong>
                                                <br />
                                                <strong>Kinh doanh</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong>Diện tích:</strong> 120m2
                                                <br />
                                                <strong>DTSD:</strong> 240m2
                                            </div>
                                            <div class="col-md-3">
                                                <div class="item_tg">
                                                    <span>37 phút trước </span>
                                                    <br /><span class="item_eye">357</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>*@
                </div>
                <div role="tabpanel" class="tab-pane" id="chothuenhadat">B</div>
                <div role="tabpanel" class="tab-pane" id="nhadatdaban">B</div>
            </div>


        </div>

        <div class="paging_type1 text-align-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="dropdown">
                        <span class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trang 1/20
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cuối</a></li>
                            </ul>
                        </span>

                    </li>
                    <li class="active"><span href="#">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"><img src="~/Content/img/r-icon.png" /></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="div_right col-md-3 ">

        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxPhuong", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxTinTuc", "Layout");}
    </div>
</div>