﻿@using MyUtility.Extensions
@using OutsideX.Models
@model List<OutsideX.EF.Out_Real_Search_Result>
@{
    ViewBag.Title = "Nhà Đất Bán";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<div class="div_breadcrumb">
        Phú Sài Thành<span class="glyphicon glyphicon-menu-right"></span> Mua bán nhà đất <span class="glyphicon glyphicon-menu-right"></span> TP.HCM <span class="glyphicon glyphicon-menu-right"></span> Quận 6
    </div>*@

<div class="row">
    <div class="div_center col-md-9">
        @*@{Html.RenderAction("BoxGiaTot", "Layout");}*@

        <div class="tab_box margin-top-20">
            <ul class="nav nav-tabs" role="tablist" id="home_bds">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">CHO THUÊ GIÁ TỐT</a></li>
                @*<li role="presentation"><a href="#chothuegiatot2" aria-controls="chothuegiatot2" role="tab" data-toggle="tab">CHO THUÊ NHÀ ĐẤT</a></li>*@
            </ul>
            <div class="tab-content">
                <div class="tab_box_ddl">
                    <div class="dropdown" id="ddl_type">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ddl_name" value="">Bất động sản nổi bật</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="#" value="1">Giá giảm dần</a></li>
                            <li><a href="#" value="2">Giá tăng dần</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                        </ul>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="amount_bds">Hiện có <span class="color-ed1c24">@ViewBag.Total</span> bất động sản</div>
                    @{ Html.RenderPartial("_ListHomeItem", Model);}


                    @*<div class="list_item">
                        @foreach (var item in Model)
                        {
                            <div class="item_box item_type_2 background-color-white margin-top-15">
                                <div class="row margin-0">
                                    <div class="col-sm-3 item_img padding-10">
                                        <a title="@item.ProductName" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id, productId = item.ProductId })" target="_blank">
                                            <img src="@item.ImgCover.GetFullUrlImage()" class="img-responsive block-center" onerror="CheckImg(this)" />
                                        </a>
                                    </div>
                                    <div class="col-sm-9 item_content">
                                        <div class="item_name">
                                            <div class="item_price">@Html.Raw(item.Price.DecimalToText("<span class='color-ed1c24'><span class='font-size-16'><strong>{0} </strong></span><span class='font-size-14'>{1}</span></span>"))</div>
                                            <a title="@item.ProductName" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id, productId = item.ProductId })" class="item_link_hover is_hot_@(item.IsHot.ToString().ToLower()) " target="_blank">
                                                @item.ProductName
                                            </a>
                                        </div>
                                        <div class="address">@string.Concat(@item.WardName, ", ", item.DistrictName, ", ", item.CityName)</div>
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6">
                                                <strong>@(item.ProductType.GetValueOrDefault() == 0 ? "-------" : item.ProductType.GetValueOrDefault().ToEnum<RealTypeEnum>().Text())</strong>
                                                <br />
                                                <strong>Hướng: </strong> @item.ViewDirection.ToDirection()
                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                @switch (item.StreetType)
                                                {
                                                    case (int)RealStreetTypeEnum.MatTien:
                                                        <strong>Mặt tiền</strong>
                                                        <br />
                                                        <strong>Kinh doanh</strong>
                                                        break;
                                                    case (int)RealStreetTypeEnum.MatTienNoiBo:
                                                    <strong>Mặt tiền</strong>
                                                    <br />
                                                    <strong>Nội bộ</strong>
                                                        break;
                                                    case (int)RealStreetTypeEnum.HemTren5Met:
                                                    <strong>Hẻm</strong>
                                                    <br />
                                                    <strong>Trên 5 mét</strong>
                                                        break;
                                                    case (int)RealStreetTypeEnum.HemDuoi5Met:
                                                    <strong>Hẻm</strong>
                                                    <br />
                                                    <strong>Dưới 5 mét</strong>
                                                        break;
                                                }
                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                <strong>Diện tích:</strong> @item.SLand.ToDetault() m<sup>2</sup>
                                                <br />
                                                <strong>DTSD:</strong> @item.SContruction.ToDetault() m<sup>2</sup>
                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                <div class="item_tg">
                                                    <strong>Mã số: #</strong>@item.ProductId
                                                    <br /><span class="item_eye">@(item.ViewCount ?? 0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>*@
                    <div class="padding-10"></div>
                    @Html.Partial("Paging/_HomePaging", new PagingModel(ViewBag.Total, ViewBag.PageSize, ViewBag.PageIndex))
                </div>
                <div role="tabpanel" class="tab-pane padding-top-15" id="chothuegiatot2"></div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3 ">

        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxPhuong", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxTinTuc", "Layout");}
    </div>
</div>

@section scripts
{
    <script>
        function getDataPage(pageIndex) {
            var tabName = $('#home_bds li.active a').attr("aria-controls");
            var tabId = 0;
            switch (tabName) {
                case "muabannhadat":
                    tabId = 1;
                    break;
                case "chothuegiatot2":
                    tabId = 2;
                    break;
                default:
                    tabId = 0;
                    break;
            }

            $.post('@Url.Action("NhaDatBan", "Api")', {
                pageIndex: pageIndex,
                pageSize: '@ViewBag.PageSize',
                tab: 2,
                tabName: tabName,
                isHot:true,
                priceType: $("#ddl_type .ddl_name").attr("value"),
            }, function (html) {
                $("#" + tabName).html(html);
            });
        }


        $(document).ready(function () {
            var tab1 = true;
            var tab2 = true;

            $('#home_bds a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                var id = e.target.getAttribute("aria-controls");
                switch (id) {
                    case "chothuegiatot2":
                        if (tab1) {
                            tab1 = false;
                            getDataPage(1);
                        }
                        break;
                    case "nhadatdaban":
                        if (tab2) {
                            tab2 = false;
                            getDataPage(1);
                        }
                        break;
                    default:
                        break;

                }
            });
            $(document).on("click", "#ddl_type li a", function (e) {
                e.preventDefault();
                $("#ddl_type .ddl_name").html($(this).html());
                $("#ddl_type .ddl_name").attr("value", $(this).attr("value"));
                getDataPage(1);
            });
        });
    </script>
}
