﻿@using MyUtility.Extensions
@using OutsideX.EF
@using OutsideX.Models
@using PhuSaiThanhLib
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@model OutsideX.EF.Out_Real_Get_By_Id_Result
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var recent = ViewBag.Recent as List<Out_Real_Search_Result> ?? new List<Out_Real_Search_Result>();
    var similar = ViewBag.Similar as List<Out_Real_Search_Result> ?? new List<Out_Real_Search_Result>();
    var addressString = string.Empty;
    //var addressMap = string.Empty;

    var role = new LevelAccessModel(Model.BrokerId ?? 0, Model.Id);

}
@if (Model != null) {
    addressString = string.Join(", ", new List<string> { Model.WardName, Model.DistrictName, Model.CityName });
    //addressMap = string.Join(", ", new List<string> { Model.AddressNo, Model.StreetName, Model.WardName, Model.DistrictName, Model.CityName });

    <div class="div_breadcrumb">
        Phú Sài Thành
        <span class="glyphicon glyphicon-menu-right"></span>
        @if (Model.Type != 0) {
            <a href="@Url.Action("Index", "Search", new {ProductType = Model.Type})">@(Model.Type.NumberToEnumToText<RealTypeBuyEnum>())</a>
            <span class="glyphicon glyphicon-menu-right"></span>
        }

        <a href="@Url.Action("Index", "Search", new { Model.CityId })">@Model.CityName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { Model.CityId, Model.DistrictId })">@Model.DistrictName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { Model.CityId, Model.DistrictId, Model.WardId })">@Model.WardName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { Model.CityId, Model.DistrictId, Model.WardId, Model.StreetId })">@Model.StreetName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <span>@Model.Title</span>
    </div>

    <div id="imageView" class="hidden">
        @{
        var stringImg = "";
        if (role.IsViewAlbum) {
            stringImg += ";" + Model.HinhChiTiet;
        }

        stringImg += ";" + Model.HinhNoiThat;

        if (role.IsViewAlbumLegal) {
            stringImg += ";" + Model.HinhGiayTo;
        }
        var images = stringImg.Split(';').Where(c => c.Length > 0).ToList();


        }

        @if (images.Any()) {
            foreach (var item in images) {
                <a class="lsb-preview &quot2&quot" data-lsb-group="gallery1" href="@item.GetFullUrlImage()">
                    <img src="@item.GetFullUrlImage()" onerror=" CheckImg(this) " />
                </a>
            }
        }
        else {
            <a class="lsb-preview &quot2&quot" data-lsb-group="gallery1" href="/Content/img/pst.jpg">
                <img src="/Content/img/pst.jpg" onerror=" CheckImg(this) " class="width-100" />
            </a>
        }
    </div>

    <div class="row">
        <div class="div_center col-md-9">
            <div class="bds_detail">
                <div class="padding-15 background-color-white">
                    <div class="clearfix div_gallery" style="max-width: 100%;">
                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                            @if (images.Any()) {
                                foreach (var item in images) {
                                    <li class="text-align-center" data-thumb="@item.GetFullUrlImage()"><img src="@item.GetFullUrlImage()" onerror=" CheckImg(this) " /></li>
                                }
                            }
                            else {
                                <li data-thumb="@Model.Hinh"><img src="/Content/img/pst.jpg" onerror=" CheckImg(this) " class="width-100" /></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="font-size-20 color-097ad2 padding-top-10">@Html.Raw(Model.Title)</div>
                <div class="font-size-14 color-666666">@Html.Raw(addressString)</div>

                <div class="margin-top-15">
                    <table class="table table-bordered background-color-white">
                        <tr>
                            <td class="color-023b6d bold" style="min-width: 120px;vertical-align: middle;">GIÁ THƯƠNG LƯỢNG</td>
                            <td>
                                <div class="padding-left-10">
                                    <span class="color-ed1c24">
                                        <span class="font-size-30 bold">@Model.Price.GetValueOrDefault().ToString("0.##")</span>
                                        <span class="font-size-20">@(Model.BuyOrRent == RealBuyOrRentEnum.Buy.Value() ? "tỷ" : "triệu")</span>
                                    </span>
                                </div>
                            </td>
                        </tr>

                        <tr class="hide-desktop">
                            <td class="color-023b6d bold" colspan="2" style="width: auto;">CHI TIẾT</td>
                        </tr>
                        <tr class="hide-desktop">
                            <td class="font-size-14" colspan="2">
                                @TableContent()
                            </td>
                        </tr>

                        <tr class="hide-mobile">
                            <td class="color-023b6d bold" style="width: auto;">CHI TIẾT</td>
                            <td class="font-size-14">
                                @TableContent()
                            </td>
                        </tr>
                        <tr class="hide-desktop">
                            <td class="color-023b6d bold" colspan="2">MÔ TẢ</td>
                        </tr>
                        <tr class="hide-desktop">
                            <td colspan="2">
                                <div class="padding-left-10 line-height-30">
                                    @Description()
                                </div>
                            </td>
                        </tr>
                        <tr class="hide-mobile">
                            <td class="color-023b6d bold">MÔ TẢ</td>
                            <td>
                                <div class="padding-left-10 line-height-30">
                                    @Description()
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="color-ed1c24 text-uppercase text-align-center bold">
                                    Quý khách vui lòng liên hệ hotline CSKH để được tư vấn<br /><strong>090 959 3986</strong>
                                </div>
                            </td>
                        </tr>
                        @if (MySessionManager.IsAuthen && !MySessionManager.SessionData.IsTuVan) {
                            <tr>
                                <td class="color-023b6d bold">HOA HỒNG</td>
                                <td>
                                    <div class="padding-left-10">
                                        @if (Model.BuyOrRent == RealBuyOrRentEnum.Buy.Value()) {
                                            <strong> @((Model.HoaHongBan ?? 0).ToString("0.##")) @(Model.HoaHongBanUnitType.NumberToEnumToText<RealUnitHoaHongEnum>("-")) </strong>
                                        }
                                        else {
                                            <strong> @(Model.HoaHongThue) </strong>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (role.IsViewAddress) {
                            <tr>
                                <td class="color-023b6d bold">ĐỊA CHỈ</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Html.Raw(string.Join(", ", new List<string> { Model.AddressNo, Model.StreetName, Model.WardName, Model.DistrictName, Model.CityName }))
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (role.IsViewContact) {
                            <tr>
                                <td class="color-023b6d bold">NGUỒN TÀI SẢN</td>
                                <td>
                                    <div class="padding-left-10">
                                        <strong> @(Model.ContactType.NumberToEnumToText<RealContactTypeEnum>())</strong><br />
                                        <strong>Họ và tên:</strong> @Model.ContactName<br />
                                        <strong>SĐT:</strong> @Model.ContactPhone<br />
                                        <strong>Nguồn:</strong> @Model.ContactResource
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (role.IsViewBroker) {
                            <tr>
                                <td class="color-023b6d bold">NHÂN VIÊN KTTS</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Model.DisplayName<br />
                                        @Model.EmpPhone<br />
                                        @Model.EmpEmail
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (MySessionManager.IsAuthen && !MySessionManager.SessionData.IsTuVan) {

                            <tr>
                                <td class="color-023b6d bold">GHI CHÚ</td>
                                <td>
                                    <div>1. Khoảng cách đến MT: @Model.Note1</div>
                                    <div>2. Hình dáng đất: @Model.Note2</div>
                                    <div>3. Tình trạng pháp lý: @Model.Note3</div>
                                    <div>4. Lộ giới: @Model.Note4</div>
                                    <div>5. Khuyết điểm: @Model.Note5</div>
                                    <div>6. Lịch sử giá: @Model.Note6</div>
                                    <div>7. Ước lượng giá bán: @Model.UocLuongGiaBan.DecimalFormat() tỷ</div>
                                    @{
                            var giaNha = (decimal)(Model.DienTichSuDung ?? 0) * (Model.GiaNha ?? 0);
                                    }
                                    <div>8. Giá nhà: @Model.DienTichSuDung m<sup>2</sup> x @((Model.GiaNha ?? 0).DecimalFormat()) triệu/m<sup>2</sup> = @(giaNha.DecimalFormat()) triệu/m2</div>

                                    <div>9. Giá trị đất: @(Model.GiaTriDat.DecimalFormat()) triệu/m<sup>2</sup></div>
                                    <div>
                                        10. Ghi chú:
                                        <div class="padding-left-10">
                                            @Html.Raw((Model.Note10 ?? "").Replace("\n", "</br>"))
                                        </div>
                                    </div>
                                    <div class="padding-left-10">
                                        @*@Html.Raw((Model.Note10 ?? "").Replace("\n", "</br>"))*@
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>

                </div>
                <div class="padding-15">
                </div>
                <div>
                    <div id="map" style="height: 450px;"></div>
                </div>
                @{
                    <div class="background-color-white margin-top-20">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="padding-15 text-align-center">
                                            <img src="~/Content/img/logoPST.png" class="maxwidth-90 width-100" onerror="CheckImg(this)" />
                                            @*<img src="@(string.IsNullOrEmpty(staff.AvatarUrl) ? "/Content/img/topLogo.png" : staff.AvatarUrl)" class="width-100" onerror="CheckImg(this)">*@
                                        </div>
                                    </div>
                                    <div class="col-xs-8  padding-top-15 padding-left-15">
                                        <div><strong class="font-size-18 color-014b8a">@*@staff.DisplayName.HtmlDecode().ToUpper()*@ PHÚ SÀI THÀNH</strong></div>
                                        @*<div>Đã xác thực CMND</div>*@
                                        <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold"> @TinyConfig.PhoneFeedback</span></div>
                                        Để biết thêm thông tin về BĐS này, vui lòng nhập thông tin, nhu cầu cũng như thắc mắc của bạn.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="patientList">
                                    @{Html.RenderAction("ContactToStaff", "Layout", new { brokerId = Model.BrokerId ,realId=Model.Id});}
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="clearfix"></div>
            @if (similar.Any()) {
                <div class="padding-10"></div>
                Html.RenderPartial("_BoxTuongTu", similar);
            }
            <div class="clearfix"></div>
            @if (recent.Any()) {
                <div class="padding-10"></div>
                Html.RenderPartial("_BoxDaXem", recent);
            }
        </div>
        <div class="div_right col-md-3">
            @Html.Partial("RightBox/_DangTin")
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxQuan", "Layout", new { cityId = Model.CityId, districtId = Model.DistrictId, wardId = Model.WardId, saleOrRent = Model.BuyOrRent });}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxPhuong", "Layout", new { cityId = Model.CityId, districtId = Model.DistrictId, wardId = Model.WardId, saleOrRent = Model.BuyOrRent });}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxTinTuc", "Layout");}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
            <div class="padding-top-10"></div>

        </div>
    </div>
}



@helper TableContent()
{
    <div class="row">
        <div class="col-lg-6">
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Mã BĐS</strong></div>
                <div class="col-xs-6">: #@Model.Id</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>@((Model.StreetType ?? 1).ToEnum<RealStreetTypeEnum>().Text())</strong></div>
                <div class="col-xs-6">: @(Model.DuongRong ?? 0) m</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Số mặt tiền</strong></div>
                <div class="col-xs-6">: @Model.SoMatTien</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>DT đất</strong></div>
                <div class="col-xs-6">: @(Model.ChieuRong) x @(Model.ChieuDai ?? 0) (@(Model.DienTich ?? 0) m<sup>2</sup>)</div>
            </div>
            @if (Model.HinhDangDat.HasValue) {
                <div class="row padding-top-5 padding-bottom-5">
                    <div class="col-xs-6"><strong>Hình dáng đất</strong></div>
                    <div class="col-xs-6">
                        : @(Model.HinhDangDat.NumberToEnumToText<RealHinhDangDatEnum>())
                        @if (Model.HinhDangDatNumber.HasValue) {
                            <span>(@Model.HinhDangDatNumber m<sup>2</sup>)</span>
                        }
                    </div>
                </div>
            }
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>DT sử dụng</strong></div>
                <div class="col-xs-6">: @((Model.DienTichSuDung ?? 0).DecimalFormat()) m<sup>2</sup></div>
            </div>
            <div class="row padding-top-5 padding-bottom-5 hide-desktop">
                <div class="col-xs-6"><strong>Kết cấu</strong></div>
                <div class="col-xs-6">: @(Model.KetCau)</div>
            </div>

        </div>

        <div class="col-lg-6">
            @if (Model.StatusNow.HasValue && Model.StatusNow.Value > 0) {
                <div class="row padding-top-5 padding-bottom-5">
                    <div class="col-xs-6"><strong>Hiện trạng</strong></div>
                    <div class="col-xs-6">
                        : @((Model.StatusNow ?? 0).NumberToEnumToText<RealStatusNowEnum>())
                        @if (Model.StatusNowPercent.HasValue && Model.StatusNowPercent.Value > 0) {
                            <span> @Model.StatusNowPercent %</span>
                        }
                    </div>
                </div>
            }
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Số phòng ngủ</strong></div>
                <div class="col-xs-6">: @(Model.SoPhongNgu ?? 0)</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Số phòng WC</strong></div>
                <div class="col-xs-6">: @(Model.SoWc ?? 0)</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Pháp lý</strong></div>
                <div class="col-xs-6">: Sổ hồng</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Hướng</strong></div>
                <div class="col-xs-6">: @(Model.Direction.NumberToEnumToText<RealDirectionEnum>())</div>
            </div>
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-xs-6"><strong>Ngày</strong></div>
                <div class="col-xs-6">: @((Model.UpdatedDate ?? Model.CreatedDate).ToString("dd/MM/yyyy"))</div>
            </div>
        </div>
        <div class="col-lg-12 hide-mobile">
            <div class="row padding-top-5 padding-bottom-5">
                <div class="col-lg-3 col-xs-6"><strong>Kết cấu</strong></div>
                <div class="col-lg-9 col-xs-6">: @(Model.KetCau)</div>
            </div>
        </div>
    </div>
}

@helper Description()
{
    <div>

        <div class="padding-left-10 line-height-30">
            <div>MS: #@Model.Id</div>

            @Html.Raw(Model.Description)
            <br />
            - Diện tích: @Model.ChieuRong x @(Model.ChieuDai)m  (@(Model.DienTich ?? 0) m<sup>2</sup>)
            @if (Model.HinhDangDat.HasValue) {
                <span> - @(Model.HinhDangDat.NumberToEnumToText<RealHinhDangDatEnum>())</span>
            }
            @if (Model.HinhDangDatNumber.HasValue) {
                <span> - @(Model.HinhDangDatNumber ?? 0)m</span>
            }
            <br />
            - Kết cấu: @Model.KetCau
            @if (Model.DienTichSuDung.HasValue) {
                <span> - DTSD: @Model.DienTichSuDung m<sup>2</sup></span>
            }

            <br />
            @if (Model.StatusNow.HasValue && Model.StatusNow.Value > 0) {
                <span>- Hiện trạng nhà: @(Model.StatusNow.NumberToEnumToText<RealStatusNowEnum>())</span>
                if (Model.StatusNowPercent.HasValue && Model.StatusNowPercent.Value > 0) {
                    <span> @Model.StatusNowPercent %</span>
                }
            }
            @if (Model.Direction.HasValue) {
                <span> - Hướng: @(Model.Direction.NumberToEnumToText<RealDirectionEnum>())</span>
            }
            <br />
            - Giá: @(Model.Price.GetValueOrDefault().DecimalFormat()) @(Model.BuyOrRent == RealBuyOrRentEnum.Buy.Value() ? "tỷ" : "triệu")  còn thương lượng.
            <br />
            Công ty BĐS Phú Sài Thành, 362 Trần Văn Kiểu, Phường 11, Quận 6
        </div>

    </div>
}



@section styles{
    <link href="~/Content/lightbox/lsb.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/lightbox/lsb.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLdbPH8Vu3ohUSchJRDnyeEgBrlWUpGgM&callback=initMap" async defer></script>
    <script>
        var isLogin = '@(MySessionManager.SessionData != null)';
        var map;
        function initMap() {
            var api = 'https://maps.googleapis.com/maps/api/geocode/json?address=@(Html.Raw(addressString))&key=AIzaSyCvTx8F0hFehLSfpXqFA-005A6l-YoGqLo';
            $.getJSON(api, {}, function (data) {
                console.log(data);
                if (data.status == "OK" && data.results.length > 0) {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng },
                        zoom: 17
                    });
                    if (isLogin == 'True') {
                        var cityCircle = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.35,
                            map: map,
                            center: { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng },
                            radius: Math.sqrt(100) * 15
                        });
                    }
                }
            });
        }

        function ShowImageModal(value) {

            //$("#imageView").html(html);
            $('.lightspeed-box').remove();
            $.fn.lightspeedBox({
                autoPlayback: true,
                zIndex: 3000
            });
        }


        $(document).ready(function () {

            var qtyItemDisplay = 4;
            var width = window.innerWidth;
            if (width <= 1200)
                qtyItemDisplay = 4;
            if (width <= 768)
                qtyItemDisplay = 3;
            if (width <= 550)
                qtyItemDisplay = 2;
            if (width <= 300)
                qtyItemDisplay = 1;


            $(document).on("click", "#image-gallery .lslide", function (e) {
                e.preventDefault();
                ShowImageModal();
            });

            $("#content-slider,#content-slider1").lightSlider({
                //loop: true,
                //keyPress: true,
                //item: 5,
                //pager: false
                loop: true,
                keyPress: true,
                item: qtyItemDisplay,
                pager: false,
                speed: 5000,
                pause: 10000,
                enableTouch: false,
                enableDrag: false,
                freeMove: false,
                auto: true,
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 10,
                slideMargin: 0,
                speed: 1000,
                auto: false,
                loop: true,
                enableTouch: false,
                enableDrag: false,
                freeMove: false,
                autoWidth: false,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                    var $li = $('#image-gallery > li.active');
                    var h = $li.height();
                    $('#image-gallery > li > img').css("max-height", h + 'px');
                },
                //onAfterSlide:function() {

                //}
            });
        });
    </script>
}
