﻿@using BussinessObject
@using EntitiesObject.Entities.WebEntities
@using Microsoft.Ajax.Utilities
@using MyUtility.Extensions
@using OutsideX.Models
@model EntitiesObject.Custom.RealEstateInfo
@{
    ViewBag.Title = Model.RealEstate.ProductName;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var recent = ViewBag.Recent as List<Out_RealEstate_RecentViewed_Result> ?? new List<Out_RealEstate_RecentViewed_Result>();
    var similar = ViewBag.Similar as List<Out_RealEstate_SearchSimilar_Result> ?? new List<Out_RealEstate_SearchSimilar_Result>();
    var address = new Out_AddressBook_SelectById_Result();
    var addressString = string.Empty;
    var addressMap = string.Empty;
    var allowView = MySessionManager.IsAuthen && (MySessionManager.IsAdmin || MySessionManager.SessionData.ID == Model.RealEstateOnSale.AdminId || MySessionManager.SessionData.BrokerId == Model.RealEstateOnSale.BrokerId);

    RealEstatePermission permission = null;
    var isViewAlbum = false;
    var isViewAddress = false;
    var isViewAlbumLegal = false;
    var isViewBroker = false;
    var isViewContact = false;
    var isOwner = MySessionManager.IsAuthen && (MySessionManager.SessionData.ID == Model.RealEstateOnSale.AdminId || MySessionManager.SessionData.BrokerId == Model.RealEstateOnSale.BrokerId);
    if (!allowView)
    {
        permission = MySessionManager.IsAuthen ? BoFactory.RealEstatePermission.GetPermission(Model.RealEstateOnSale.ProductId, MySessionManager.SessionData.ID) : null;
        if (permission != null)
        {
            allowView = true;
            var isFull = permission.IsFullPermission.GetValueOrDefault();
            if (isFull)
            {
                isViewAlbum = true;
                isViewAlbumLegal = true;
                isViewAddress = true;
                isViewBroker = true;
                isViewContact = true;
            }
            else
            {
                isViewAlbum = permission.IsViewAlbum.GetValueOrDefault();
                isViewAlbumLegal = permission.IsViewAlbumLegal.GetValueOrDefault();
                isViewAddress = permission.IsViewAddress.GetValueOrDefault();
                isViewBroker = permission.IsViewBroker.GetValueOrDefault();
                isViewContact = permission.IsViewContact.GetValueOrDefault();
            }
        }
    }
}
@if (Model != null)
{
    address = BoFactory.AddressBook.GetById(Model.Address.Id);
    addressString = string.Join(", ", new List<string> { address.StreetName, address.WardName, address.DistrictName, address.CityName });
    addressMap = string.Join(", ", new List<string> { address.AddressNo, address.StreetName, address.WardName, address.DistrictName, address.CityName });

    <div class="div_breadcrumb">
        Phú Sài Thành
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { Model.RealEstate.ProductType })">@(Model.RealEstate.ProductType.ToProductType())</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new {  address.CityId })">@address.CityName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { address.CityId, address.DistrictId })">@address.DistrictName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { address.CityId, address.DistrictId, address.WardId })">@address.WardName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <a href="@Url.Action("Index", "Search", new { address.CityId, address.DistrictId, address.WardId,address.StreetId })">@address.StreetName</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        <span>@Model.RealEstate.ProductName</span>
    </div>

    <div id="imageView" class="hidden">
        @if (allowView && (isViewAlbum || isViewAlbumLegal || MySessionManager.IsAdmin || isOwner))
        {
            var images = (Model.RealEstateAlbum.ImagesUrl ?? "").Split(';').ToList();
            if (isViewAlbumLegal || MySessionManager.IsAdmin || isOwner)
            {
                images.AddRange((Model.RealEstateAlbum.ImagesLegalUrl ?? "").Split(';').ToList());
            }
            foreach (var item in images)
            {
                <a class="lsb-preview &quot2&quot" data-lsb-group="gallery1" href="@item.GetFullUrl()">
                    <img src="@item.GetFullUrl()" onerror=" CheckImg(this) " />
                </a>
            }
        }
        else
        {
            <a class="lsb-preview &quot2&quot" data-lsb-group="gallery1" href="/Content/img/pst.jpg">
                <img src="/Content/img/pst.jpg" onerror=" CheckImg(this) " class="width-100" />
            </a>
        }
    </div>

    <div class="row">
        <div class="div_center col-md-9">
            <div class="bds_detail">
                <div class="padding-15 background-color-white">
                    <div class="clearfix div_gallery" style="max-width: 100%;">
                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                            @if (allowView && (isViewAlbum || isViewAlbumLegal || MySessionManager.IsAdmin || isOwner))
                            {
                                var images = (Model.RealEstateAlbum.ImagesUrl ?? "").Split(';').ToList();
                                if (isViewAlbumLegal || MySessionManager.IsAdmin || isOwner)
                                {
                                    images.AddRange((Model.RealEstateAlbum.ImagesLegalUrl ?? "").Split(';').ToList());
                                }
                                foreach (var item in images)
                                {
                                    <li class="text-align-center" data-thumb="@item.GetFullUrl()">
                                        <img src="@item.GetFullUrl()" onerror=" CheckImg(this) " />
                                    </li>
                                }
                            }
                            else
                            {
                                <li data-thumb="@Model.RealEstate.ImgCover">
                                    @*<img src="@Model.RealEstate.ImgCover" onerror="CheckImg(this)" class="width-100" />*@
                                    <img src="/Content/img/pst.jpg" onerror=" CheckImg(this) " class="width-100" />

                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="font-size-20 color-097ad2 padding-top-10">@Html.Raw(Model.RealEstate.ProductName)</div>
                <div class="font-size-14 color-666666">@Html.Raw(addressString)</div>

                <div class="margin-top-15">
                    <table class="table table-bordered background-color-white">
                        <tr>
                            <td class="color-023b6d bold">GIÁ</td>
                            <td>
                                <div class="padding-left-10">
                                    <span class="color-ed1c24">
                                        <span class="font-size-30 bold">@Model.RealEstateOnSale.Price.GetValueOrDefault().ToString("0.##")</span>
                                        <span class="font-size-20">@(Model.RealEstateOnSale.PriceUnit.GetValueOrDefault(1).NumberToEnum<UnitEnum>().Text().ToLower())</span>
                                    </span>
                                </div>
                            </td>
                        </tr>

                        <tr class="hide-desktop">
                            <td class="color-023b6d bold" colspan="2" style="width: auto;">CHI TIẾT</td>
                        </tr>
                        <tr class="hide-desktop">
                            <td class="font-size-14" colspan="2">
                                @TableContent()
                            </td>
                        </tr>

                        <tr class="hide-mobile">
                            <td class="color-023b6d bold" style="width: auto;">CHI TIẾT</td>
                            <td class="font-size-14">
                                @TableContent()
                            </td>
                        </tr>
                        <tr class="hide-desktop">
                            <td class="color-023b6d bold" colspan="2">MÔ TẢ</td>
                        </tr>
                        <tr class="hide-desktop">
                            <td colspan="2">
                                <div class="padding-left-10 line-height-30">
                                    @Html.Raw(Model.RealEstate.FullNote)
                                </div>
                            </td>
                        </tr>
                        <tr class="hide-mobile">
                            <td class="color-023b6d bold">MÔ TẢ</td>
                            <td>
                                <div class="padding-left-10 line-height-30">
                                    @Html.Raw(Model.RealEstate.FullNote)
                                </div>
                            </td>
                        </tr>
                        @if (MySessionManager.IsAuthen)
                        {
                            <tr>
                                <td class="color-023b6d bold">HOA HỒNG</td>
                                <td>
                                    <div class="padding-left-10">
                                        @{
                            var bonusUnit = "";
                            switch (Model.RealEstateOnSale.BonusValueUnit)
                            {
                                case (int)UnitEnum.Percent:
                                    bonusUnit = "%";
                                    break;
                                case (int)UnitEnum.Million:
                                    bonusUnit = "Triệu";
                                    break;
                                case (int)UnitEnum.Billion:
                                    bonusUnit = "Tỷ";
                                    break;
                            }
                                        }
                                        <strong> @Model.RealEstateOnSale.BonusValue.GetValueOrDefault().ToString("0.##") @bonusUnit </strong> 
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (allowView && (isViewAddress || MySessionManager.IsAdmin || isOwner))
                        {
                            <tr>
                                <td class="color-023b6d bold">ĐỊA CHỈ</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Html.Raw(string.Join(", ", new List<string> { address.AddressNo, address.StreetName, address.WardName, address.DistrictName, address.CityName }))
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (allowView && (isViewContact || MySessionManager.IsAdmin || isOwner))
                        {
                            var contact = BoFactory.AddressBook.GetContactBook(Model.RealEstateOnSale.ContactId.GetValueOrDefault());
                            if (contact != null)
                            {
                                <tr>
                                    <td class="color-023b6d bold">NGUỒN TÀI SẢN</td>
                                    <td>
                                        <div class="padding-left-10">
                                            @*@Html.Raw(string.Join(" - ", new List<string> { contact.ContactName, contact.Mobile }))*@
                                            <strong> @(Model.RealEstateOnSale.IsOwner.GetValueOrDefault().ToEnum<OwnerEnum>().Text())</strong>@*<span class="italic"> (Chính chủ hay Môi giới)</span>*@<br />
                                            <strong>Tên chủ tài sản:</strong> @contact.ContactName<br />
                                            <strong>SĐT:</strong> @contact.Mobile
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        @if (allowView && (isViewBroker || MySessionManager.IsAdmin || isOwner))
                        {
                            var broker = BoFactory.BrokerAccount.GetOne(Model.RealEstateOnSale.BrokerId.GetValueOrDefault());
                            if (broker != null)
                            {
                                <tr>
                                    <td class="color-023b6d bold">NHÂN VIÊN KTTS</td>
                                    <td>
                                        <div class="padding-left-10">
                                            @broker.DisplayName<br />
                                            @broker.Phone<br />
                                            @broker.Email
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        @if (MySessionManager.IsAuthen)
                        {

                            <tr>
                                <td class="color-023b6d bold">GHI CHÚ</td>
                                <td>
                                    <div class="padding-left-10">
                                        @Html.Raw((Model.RealEstateOnSale.Notes ?? "").Replace("\n", "</br>"))
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2">
                                <div class="color-ed1c24 text-uppercase text-align-center bold">
                                    Quý khách vui lòng liên hệ hotline CSKH: 090 959 3986  -  Nhấn phím 2 để được tư vấn
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="padding-15">
                </div>
                <div>
                    <div id="map" style="height: 450px;"></div>
                </div>
                @{
                        Out_BrokerAccount_SelectById_Result staff = null;
                        if (Model != null && Model.Broker != null)
                        {
                            staff = BoFactory.BrokerAccount.GetById(Model.Broker.Id);
                        }
                }
                @if (staff != null)
                {
                    <div class="background-color-white margin-top-20">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="padding-15 text-align-center">
                                            <img src="~/Content/img/logoPST.png" class="maxwidth-90 width-100" onerror="CheckImg(this)" />
                                            @*<img src="@(string.IsNullOrEmpty(staff.AvatarUrl) ? "/Content/img/topLogo.png" : staff.AvatarUrl)" class="width-100" onerror="CheckImg(this)">*@
                                        </div>
                                    </div>
                                    <div class="col-xs-8  padding-top-15 padding-left-15">
                                        <div><strong class="font-size-18 color-014b8a">@*@staff.DisplayName.HtmlDecode().ToUpper()*@ PHÚ SÀI THÀNH</strong></div>
                                        @*<div>Đã xác thực CMND</div>*@
                                        <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold"> @TinyConfig.PhoneFeedback</span></div>
                                        Để biết thêm thông tin về BĐS này, vui lòng nhập thông tin, nhu cầu cũng như thắc mắc của bạn.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="patientList">
                                    @{Html.RenderAction("ContactToStaff", "Layout", new { brokerId = staff.Id });}
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="div_right col-md-3">
            @Html.Partial("RightBox/_DangTin")
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxQuan", "Layout", new { cityId = Model.Address.CityId, districtId = Model.Address.DistrictId, wardId = Model.Address.WardId, SaleOrRent = Model.RealEstateOnSale.SaleOrRent });}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxPhuong", "Layout", new { cityId = Model.Address.CityId, districtId = Model.Address.DistrictId, wardId = Model.Address.WardId, SaleOrRent = Model.RealEstateOnSale.SaleOrRent });}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxTinTuc", "Layout");}
            <div class="padding-top-10"></div>
            @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
            <div class="padding-top-10"></div>

        </div>
    </div>
}
<div class="clearfix"></div>
@if (recent.Any())
{
    <div class="padding-10"></div>
    Html.RenderPartial("_BoxDaXem", recent);
}
@if (similar.Any())
{
    <div class="padding-10"></div>
    Html.RenderPartial("_BoxTuongTu", similar);
}

@helper TableContent()
{
    <div class="row">
        <div class="col-md-6">
            <table class="table table_noborder">
                <tr><td style="width: 50%;"><strong>@((Model.RealEstate.StreetType ?? 1).ToEnum<RealStreetTypeEnum>().Text())</strong></td><td>: @(Model.RealEstate.LaneWidth ?? 0) m</td></tr>
                <tr><td><strong>DT sử dụng</strong></td><td>: @(Model.RealEstate.SContruction)m<sup>2</sup></td></tr>
                <tr><td><strong>DT đất</strong></td><td>: @(Model.RealEstate.Wwith)x@(Model.RealEstate.Hheight)m (@(Model.RealEstate.SLand.ToDetault()) m<sup>2</sup>)</td></tr>
                <tr><td><strong>Số mặt tiền</strong></td><td>: @Model.RealEstate.FrontenNo.GetValueOrDefault()</td></tr>
                <tr><td><strong>Mã BĐS</strong></td><td>: #@Model.RealEstateOnSale.ProductId</td></tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table_noborder">
                <tr><td style="width: 50%;"><strong>Kết cấu</strong></td><td>: @Model.RealEstate.StructureNotes</td></tr>
                <tr><td><strong>Số phòng ngủ</strong></td><td>: @(Model.RealEstate.NBedRoom.ToDetault())</td></tr>
                <tr><td><strong>Số phòng WC</strong></td><td>: @(Model.RealEstate.NBathRoom.ToDetault())</td></tr>
                <tr><td><strong>Pháp lý</strong></td><td>: Sổ hồng</td></tr>
                <tr><td><strong>Hướng</strong></td><td>: @(Model.RealEstate.ViewDirection.ToDirection())</td></tr>
                <tr><td><strong>Ngày đăng</strong></td><td>: @((Model.RealEstate.CreateDate ?? DateTime.Now).ToString("dd/MM/yyyy"))</td></tr>
            </table>
        </div>
    </div>
}



@section styles{
    <link href="~/Content/lightbox/lsb.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/lightbox/lsb.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLdbPH8Vu3ohUSchJRDnyeEgBrlWUpGgM&callback=initMap" async defer></script>
    <script>
        var isLogin = '@(MySessionManager.SessionData != null)';
        var map;
        function initMap() {
            var api = 'https://maps.googleapis.com/maps/api/geocode/json?address=@(Html.Raw(addressString))&key=AIzaSyCvTx8F0hFehLSfpXqFA-005A6l-YoGqLo';
            $.getJSON(api, {}, function (data) {
                console.log(data);
                if (data.status == "OK" && data.results.length > 0) {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng },
                        zoom: 17
                    });
                    if (isLogin == 'True') {
                        var cityCircle = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.35,
                            map: map,
                            center: { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng },
                            radius: Math.sqrt(100) * 15
                        });
                    }
                }
            });
        }

        function ShowImageModal(value) {

            //$("#imageView").html(html);
            $('.lightspeed-box').remove();
            $.fn.lightspeedBox({
                autoPlayback: true,
                zIndex: 3000
            });
        }


        $(document).ready(function () {

            var qtyItemDisplay = 5;
            var width = window.innerWidth;
            if (width <= 1200)
                qtyItemDisplay = 4;
            if (width <= 768)
                qtyItemDisplay = 3;
            if (width <= 550)
                qtyItemDisplay = 2;
            if (width <= 300)
                qtyItemDisplay = 1;


            $(document).on("click", "#image-gallery .lslide", function (e) {
                e.preventDefault();
                ShowImageModal();
            });

            $("#content-slider,#content-slider1").lightSlider({
                //loop: true,
                //keyPress: true,
                //item: 5,
                //pager: false
                loop: true,
                keyPress: true,
                item: qtyItemDisplay,
                pager: false,
                speed: 5000,
                pause: 10000,
                enableTouch: false,
                enableDrag: false,
                freeMove: false,
                auto: true,
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 10,
                slideMargin: 0,
                speed: 1000,
                auto: false,
                loop: true,
                enableTouch: false,
                enableDrag: false,
                freeMove: false,
                autoWidth: false,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                    var $li = $('#image-gallery > li.active');
                    var h = $li.height();
                    $('#image-gallery > li > img').css("max-height", h + 'px');
                },
                //onAfterSlide:function() {

                //}
            });
        });
    </script>
}
