﻿@using MyUtility.Extensions
@using OutsideX.Models
@model List<OutsideX.EF.Out_Real_Search_Result>
@{
    ViewBag.Title = "Nhà Đất Bán";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<div class="div_breadcrumb">
        Phú Sài Thành<span class="glyphicon glyphicon-menu-right"></span> Mua bán nhà đất <span class="glyphicon glyphicon-menu-right"></span> TP.HCM <span class="glyphicon glyphicon-menu-right"></span> Quận 6
    </div>*@

<div class="row">
    <div class="div_center col-md-9">
        @*@{Html.RenderAction("BoxGiaTot", "Layout");}*@

        <div class="tab_box margin-top-20">
            <ul class="nav nav-tabs" role="tablist" id="home_bds">
                <li role="presentation" class="active"><a href="#muabannhadat" aria-controls="muabannhadat" role="tab" data-toggle="tab">MUA BÁN GIÁ TỐT</a></li>
                @*<li role="presentation"><a href="#chothuegiatot2" aria-controls="chothuegiatot2" role="tab" data-toggle="tab">CHO THUÊ NHÀ ĐẤT</a></li>*@
            </ul>
            <div class="tab-content">
                @{ Html.RenderPartial("_DropdownSortType", 1);}
                <div role="tabpanel" class="tab-pane active padding-top-15" id="muabannhadat">
                    <div class="amount_bds">Hiện có <span class="color-ed1c24">@ViewBag.Total</span> bất động sản</div>
                    @{ Html.RenderPartial("_ListHomeItem", Model);}
                    <div class="padding-10"></div>
                    @Html.Partial("Paging/_HomePaging", new PagingModel(ViewBag.Total, ViewBag.PageSize, ViewBag.PageIndex))
                </div>
                <div role="tabpanel" class="tab-pane padding-top-15" id="chothuegiatot2"></div>
            </div>
        </div>
    </div>
    <div class="div_right col-md-3 ">

        @Html.Partial("RightBox/_DangTin")
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxPhuong", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxXemNhieu", "Layout");}
        <div class="padding-top-5"></div>
        @{Html.RenderAction("RightBoxTinTuc", "Layout");}
    </div>
</div>

@section scripts
{
    <script>
        function getDataPage(pageIndex) {
            var tabName = $('#home_bds li.active a').attr("aria-controls");
            var tabId = 0;
            switch (tabName) {
                case "muabannhadat":
                    tabId = 1;
                    break;
                case "chothuegiatot2":
                    tabId = 2;
                    break;
                default:
                    tabId = 0;
                    break;
            }

            $.post('@Url.Action("NhaDatBan", "Api")', {
                pageIndex: pageIndex,
                pageSize: '@ViewBag.PageSize',
                tab: 1,
                tabName: tabName,
                isHot:true,
                priceType: $("#ddl_type .ddl_name").attr("value"),
            }, function (html) {
                $("#" + tabName).html(html);
            });
        }


        $(document).ready(function () {
            var tab1 = true;
            var tab2 = true;

            $('#home_bds a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                var id = e.target.getAttribute("aria-controls");
                switch (id) {
                    case "chothuegiatot2":
                        if (tab1) {
                            tab1 = false;
                            getDataPage(1);
                        }
                        break;
                    case "nhadatdaban":
                        if (tab2) {
                            tab2 = false;
                            getDataPage(1);
                        }
                        break;
                    default:
                        break;

                }
            });
            $(document).on("click", "#ddl_type li a", function (e) {
                e.preventDefault();
                $("#ddl_type .ddl_name").html($(this).html());
                $("#ddl_type .ddl_name").attr("value", $(this).attr("value"));
                getDataPage(1);
            });
        });
    </script>
}
