﻿@using MyUtility.Extensions
@using OutsideX.EF
@using OutsideX.Models
@model dynamic
@{
    Layout = null;
    var model1 = ViewBag.model1 as List<Out_Real_SelectTopHot_Result>;
    var model2 = ViewBag.model2 as List<Out_Real_SelectTopHot_Result>;
}
<div class="tab_box box_gia_tot" id="">
    <ul class="nav nav-tabs" role="tablist">
        @{
            var action = "";
            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
            if (routeValues.ContainsKey("action"))
            {
                action = (string)routeValues["action"];
            }
        }
        @switch (action)
        {
            case "NhaDatBan":
                <li role="presentation" class="active" id="showTop"><a href="#nhadatgiatot" aria-controls="nhadatgiatot" role="tab" data-toggle="tab">MUA BÁN GIÁ TỐT</a></li>
                break;
            case "NhaDatChoThue":
            <li role="presentation" class="active" id="showHot"><a href="#chothuegiatot" aria-controls="chothuegiatot" role="tab" data-toggle="tab">CHO THUÊ GIÁ TỐT</a></li>
                break;
            default:
            <li role="presentation" class="active" id="showTop"><a href="#nhadatgiatot" aria-controls="nhadatgiatot" role="tab" data-toggle="tab">MUA BÁN GIÁ TỐT</a></li>
            <li role="presentation" id="showHot"><a href="#chothuegiatot" aria-controls="chothuegiatot" role="tab" data-toggle="tab">CHO THUÊ GIÁ TỐT</a></li>
                break;
        }

    </ul>

    <div class="tab-content borer_red background-color-white">
        <div role="tabpanel" class="tab-pane @(action != "NhaDatChoThue"?"active":"") " id="nhadatgiatot">
            <div class="box_slider padding-10">
                <ul class="home-slider">
                    @{Html.RenderPartial("_ListPriceHotItem", PstHelper.ConvertToRealSearchModel(model1));}
                </ul>
                <div class=" text-align-right">
                    <a title="Xem thêm" href="@Url.Action("NhaDatGiaTot", "RealEstate", new {  })">Xem thêm...</a>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane @(action == "NhaDatChoThue"?"active":"")" id="chothuegiatot">
            <div class="box_slider padding-10">
                @if (model2 != null && model2.Any())
                {
                    <ul class="home-slider">
                        @{Html.RenderPartial("_ListPriceHotItem", PstHelper.ConvertToRealSearchModel(model2));}
                    </ul>


                    <div class=" text-align-right">
                        <a title="Xem thêm" href="@Url.Action("ChoThueGiaTot", "RealEstate", new {choThue = true})">Xem thêm...</a>
                    </div>
                }
                else
                {
                    @*<div class="alert alert-warning"></div>*@
                }
            </div>
        </div>
    </div>
</div>