﻿@model OutsideX.Models.ContactToStaff
@{
    Layout = null;
}


<div class="background-color-white margin-top-20">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4 padding-right-0">
                    <div class="padding-15">
                        <img src="~/Content/img/ico-user.png" class="width-100">
                    </div>
                </div>
                <div class="col-sm-8 padding-left-0 padding-top-15">
                    <div><strong class="font-size-18 color-014b8a">MINH QUÂN</strong></div>
                    <div>Đã xác thực CMND</div>
                    <div><img src="~/Content/img/ico-phone.png"> <span class="font-size-18 color-ed1c24 bold">0909 077 247</span></div>
                    Để hỏi về BĐS này, vui lòng nhập thông tin và câu hỏi của bạn:
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @{Html.RenderAction("ContactToStaff");}
        </div>
    </div>
</div>

