﻿@using MyUtility.Extensions
@using OutsideX.Models
@using PhuSaiThanhLib
@model List<OutsideX.EF.Out_Real_Search_Result>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="right_box_3">
        <div class="right_box_title">
            <label class="r-icon2">XEM NHIỀU NHẤT</label>
        </div>
        <div class="div_right_line2"></div>
        <br />
        <div class="right_box_content">
            @foreach (var item in Model)
            {
                @*<div class="r_bottom_line">
                        <a class="item_link_right_hover" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id, productId = item.ProductId })">• @Html.Raw(item.ProductName)</a>
                    </div>*@
                <div class="media">
                    <div class="media-left">
                        <a class="item_link_right_hover" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id})" title="@item.Title">
                            <img class="media-object" src="@item.Hinh.GetFullUrlImage()" width="64" height="64" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id})" title="@item.Title">

                            <div class="font-size-15 media-heading">
                                @Html.Raw(item.Title.MaxLength(35))
                                <div class="">
                                    @Html.Raw(item.Price.DecimalToText(""))
                                    <span class='color-ed1c24'><span class='font-size-16'><strong>@item.Price.DecimalFormat("0") </strong></span><span class='font-size-14'>@(item.BuyOrRent.ToUnitBuyOrRent())</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

}
