﻿@using OutsideX.Models
@using PhuSaiThanhLib
@model List<OutsideX.EF.Out_Article_GetTopArticle_Result>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="right_box_3">
        <div class="right_box_title">
            <label class="r-icon2">TIN TỨC</label>
        </div>
        <div class="div_right_line2"></div>
        <br />
        <div class="right_box_content">
            @foreach (var item in Model)
            {
                <div class="media">
                    <div class="media-left">
                        <a class="item_link_right_hover" href="@Url.Action("Detail", "News", new { id = item.ID })" title="@Html.Raw(item.Title)">
                            <img class="media-object" src="@(string.IsNullOrEmpty(item.Avatar) ? BasicHelper.DefaultImage : item.Avatar.GetFullUrlImage())" width="64" height="64" alt="@Html.Raw(item.Title)">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="@Url.Action("Detail", "News", new { id = item.ID })" title="@item.Title">
                            <div class="font-size-15 media-heading">
                                @Html.Raw(item.Title.MaxLength(70))
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <br/>
    <br/>
}
