﻿@{
    Layout = null;
}
<div class="right_box_info">
    <div class="name">
        <img src="~/Content/img/phu-sai-thanh.png" class="img-responsive">
    </div>
    <div class="address">334 Chợ Lớn, P.11, Q.6, TP.HCM</div>
    <a href="mailto:phusaithanh.pst@gmail.com">
        <div class="email">phusaithanh.pst@gmail.com</div>
    </a>
</div>