﻿@model List<OutsideX.EF.Out_RealEstate_CountByDistrict_Result>
@{
    Layout = null;
     //ViewBag.districtId = districtId;
     //       ViewBag.wardId = wardId;
}
<div class="right_box_4 padding-left-10 padding-right-10">
    <div class="right_box_title">
        <label class="r-icon2">NHÀ ĐẤT @ViewBag.cityName</label>
    </div>
    <div class="div_right_line2"></div>
    <div class="right_box_content padding-top-10 padding-bottom-10 color-black">
        @foreach (var item in Model)
        {
            <div class="margin-bottom-5">
                <a href="@Url.Action("Index", "Search", new { cityId = ViewBag.cityId, districtId = item.DistrictId, SaleOrRent = ViewBag.saleOrRent })" class="@(item.DistrictId == ViewBag.districtId ? "color-ed1c24" : "")">
                    <span class="glyphicon glyphicon-play-circle margin-right-5 "></span>@item.DistrictName (@item.TotalProduct)
                </a>
            </div>
        }
    </div>
</div>

