﻿@model OutsideX.Models.ContactToStaff
@{
    Layout = null;
}
@if (ViewBag.Success == true)
{
    <br />
    <div class="padding-20">
        <div class="alert alert-success text-align-center">
            Để được tư vấn thông tin chi tiết, vui lòng nhập thông tin và yêu cầu của bạn
        </div>
    </div>
}
else
{
    <div id="">
        @using (Ajax.BeginForm("ContactToStaff", "Layout", new AjaxOptions
        {//GetPatients is name of method in PatientController
            InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
            UpdateTargetId = "patientList",
            //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
        }))
        {
            <div class="padding-15">
                <div class="maxwidth-640">

                    <div class="form-group">
                        @Html.TextBoxFor(c => c.FullName, new { type = "", @class = "form-control border-radius-0", placeholder = "Họ tên..." })
                        @Html.ValidationMessageFor(c => c.FullName)
                        @Html.HiddenFor(c => c.BrokerId)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(c => c.Phone, new { type = "", @class = "form-control border-radius-0", placeholder = "Số điện thoại..." })
                        @Html.ValidationMessageFor(c => c.Phone)


                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(c => c.Email, new { type = "email", @class = "form-control border-radius-0", placeholder = "Email..." })
                        @Html.ValidationMessageFor(c => c.Email)
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(c => c.Content, new { @class = "form-control border-radius-0", placeholder = "Yêu cầu của bạn...", rows = "4" })
                        @Html.ValidationMessageFor(c => c.Content)
                    </div>
                    <div>
                        <!--<button type="submit" class="btn btn-default background-color-0e5490 color-white border-radius-4 border-none">Gửi Thư</button>-->
                        <button type="submit" class="btn btn-primary">Gửi Thư</button>
                    </div>
                </div>
            </div>
        }
    </div>
}
