﻿@model List<OutsideX.EF.Out_Real_Search_Result>

@if (Model.Any())
{
    <div class="tab_box">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nhadatgiatot" aria-controls="nhadatgiatot" role="tab" data-toggle="tab">BẤT ĐỘNG SẢN ĐÃ XEM</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active padding-top-15 padding-bottom-15" id="nhadatgiatot">
                <div class="box_slider">
                    <ul id="content-slider" class="content-slider">
                        @{Html.RenderPartial("_ListPriceHotItem", Model);}
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

