﻿@model List<OutsideX.EF.Out_Real_Search_Result>
@if (Model.Any())
{
    <div class="tab_box">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nhadatgiatot" aria-controls="nhadatgiatot" role="tab" data-toggle="tab">BẤT ĐỘNG SẢN TƯƠNG TỰ</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active padding-top-10 padding-bottom-10" id="nhadatgiatot">
                <div class="box_slider">
                    <ul id="content-slider1" class="content-slider">
                        @{Html.RenderPartial("_ListPriceHotItem", Model);}
                    </ul>
                    <div class=" text-align-right">
                        <a title="Xem thêm" href="@Url.Action("NhaDatTuongTu", "RealEstate", new { Price = ViewBag.Price, SaleOrRent = ViewBag.SaleOrRent,wardId=ViewBag.WardId })">Xem thêm...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
