﻿@model int
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
<div class="tab_box_ddl padding-5">
    <div class="dropdown" id="ddl_type">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="ddl_name" value="">@(Model.NumberToEnumToText<DropdownSortTypeEnum>())</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            @foreach (var item in (typeof(DropdownSortTypeEnum).ToList()))
            {
                <li><a href="javascript:void(0)" value="@item.Key">@item.Value</a></li>
            }
        </ul>

    </div>
</div>