﻿@using BussinessObject
@using Microsoft.Ajax.Utilities
@using OutsideX.Models
@using PhuSaiThanhLib
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='~/favicon.ico?3' rel='shortcut icon' type='image/x-icon' />
    @{
        var version =  DateTime.Now.Ticks;
        //const string version =  DateTime.Now.Ticks;
    } 
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>Phú Sài Thành</title>
    }
    else
    {
        <title>Phú Sài Thành - @ViewBag.Title</title>
    }

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/common.css?v=@(version)" rel="stylesheet" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap_MultiSelect_DropDown/bootstrap-multiselect.css" rel="stylesheet" />
    @RenderSection("styles", false)

    <link href="~/Content/css/main.css?v=@(version)" rel="stylesheet" />
    <link href="~/Content/css/mobile.css?v=@(version)" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var imgError = '@Url.Content("~/Content/img/pst.jpg")';
    </script>

    <script src="~/Scripts/header-script.js"></script>
</head>
<body class="noselect">
    <div class="main_div">
        @{
            string headerType = ViewBag.HeaderType;
            string footerType = ViewBag.FooterType;
        }
        @switch (headerType)
        {
            case "HeaderType2":

                <div class="div_header2 header_bg3">
                    @*@{ Html.RenderAction("NavBar", "Layout", new RouteValueDictionary() { { "navBar", ViewBag.NavBar } }); }*@
                    @Html.Partial("Header/_NavBar")
                </div>
                break;
            case "HeaderType3":
                <div class="div_header1 header_bg1" style="background: url('@BoFactory.SystemConfig.GetContactConfig().BackgroundUrl.GetFullUrlImage()') top center transparent no-repeat;">
                    @Html.Partial("Header/_NavBar")
                    @RenderSection("HeaderSearch", false)
                </div>
                break;

            case "HeaderType1":
            default:
                <div class="div_header1 header_bg1" style="background: url('@BoFactory.SystemConfig.GetContactConfig().BackgroundUrl.GetFullUrlImage()') top center transparent no-repeat;">
                    @Html.Partial("Header/_NavBar")
                    @Html.Partial("Header/_Search", new SearchModel())
                </div>
                break;
        }

        @RenderSection("Breadcrumb", false)

        <div class="div_content1 container padding-top-20">
            @RenderBody()
        </div>

        @*@switch (footerType)
            {
                case "FooterType2":
                    <div class="div_footer4">
                        @Html.Partial("Footer/FooterInfo")
                    </div>
                    break;
                case "FooterType1":
                default:
                    <div class="div_footer1">
                        @Html.Partial("Footer/FooterListLink")
                        @Html.Partial("Footer/FooterInfo")
                    </div>
                    break;

            }*@

        <div class="div_footer5">
            @Html.Partial("Footer/FooterInfo")
        </div>



    </div>
    @{
        var config = BoFactory.SystemConfig.GetContactConfig();
        
    }
   

    <div class="btt_w" style="">
        <div class="main_div">
            <div class="bbt_w2" style="">
                <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
            </div>
        </div>
    </div>
    <div class="phone-pixel">
        <a href="tel:@(config.Phone1)"><span class="glyphicon glyphicon-phone-alt"></span><b>@(config.Phone1)<b></b></b></a>
    </div>
    @if (MySessionManager.IsAuthen)
    {
        <div class="hidden">
            <iframe src="@(BasicHelper.FullDomainAdmin)/CrossSite/Login?username=@(MySessionManager.SessionData.LoginName)&password=@(MySessionManager.SessionData.Employee.Password)"></iframe>
        </div>
    }

    @if (MySessionManager.SessionData != null && MySessionManager.SessionData.IsAdmin)
    {
        <script> var AllowRightClick = true; </script>
    }
    else
    {
        <script> var AllowRightClick = false;</script>
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/blockui-master/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/Bootstrap_MultiSelect_DropDown/bootstrap-multiselect.js"></script>
    <script>
        var imgError = '@Url.Content("~/Content/img/pst.jpg")';
        var getDistrictUrl = '@Url.Action("GetDistrict","Api")';
        var getWardUrl = '@Url.Action("GetWard","Api")';
        var getStreetUrl = '@Url.Action("GetStreet","Api")';
    </script>
    <script src="~/Content/js/main.js?v=@(version)"></script>
    @RenderSection("scripts", required: false)

    <div id="fb-root"></div>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106135752-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=688566928019625";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
