﻿@using MyUtility.Extensions
@using OutsideX.Models
@using PhuSaiThanhLib
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@using RealTypeEnum = PhuSaiThanhLib.Real.RealTypeEnum
@model List<OutsideX.EF.Out_Real_Search_Result>
@*@model IEnumerable<dynamic>*@

<div class="list_item">
    @foreach (var item in Model) {
        <div class="item_box item_type_2 background-color-white margin-top-15">
            <div class="row margin-0">
                <div class="col-sm-3 item_img padding-10 image_1">
                    <a title="@item.Title" class="" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id })" target="_blank">
                        <img src="@(((string)item.Hinh).GetFullUrlImage())" class="img-responsive block-center" onerror="CheckImg(this)" />
                        @if (item.Vip != null && item.Vip > 0) {
                            <img class="vip" src="~/Content/img/VIP@(item.Vip).png" />
                        }
                    </a>
                </div>
                <div class="col-sm-9 item_content">
                    <div class="item_name">
                        <div class="item_price">
                            @*@Html.Raw((item.Price as decimal?).DecimalToText("<span class='color-ed1c24'><span class='font-size-16'><strong>{0} </strong></span><span class='font-size-14'>{1}</span></span>"))*@
                            <span class='color-ed1c24'><span class='font-size-16'><strong>@(item.Price.DisplayDecimal()) </strong></span><span class='font-size-14'> @(item.BuyOrRent == RealBuyOrRentEnum.Buy.Value() ? "tỷ" : "triệu")</span></span>
                        </div>
                        <a title="@item.Title" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id })" class="item_link_hover is_hot_@(item.IsPriceHot.ToString().ToLower()) " target="_blank">
                            @item.Title
                        </a>
                    </div>
                    <div class="address">@string.Concat(@item.WardName, ", ", item.DistrictName, ", ", item.CityName)</div>
                    <div class="">@((item.UpdatedDate??item.CreatedDate).ToString("dd/MM/yyyy"))</div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <strong>@((item.Type as int?).GetValueOrDefault() == 0 ? "-------" : (item.Type as int?).GetValueOrDefault().NumberToEnumToText<RealTypeEnum>())</strong>
                            <br />
                            <strong>Số phòng: </strong>@((item.SoPhongNgu ?? 0))
                        </div>
                        <div class="col-md-3 col-xs-6 padding-right-0">
                            @switch ((item.StreetType)) {
                                //@switch (((int?)item.StreetType).ToEnum<RealStreetTypeEnum>()) {
                                case 1://RealStreetTypeEnum.MatTien.Value() 
                                    <strong>Mặt tiền:</strong><span> kinh doanh</span>
                                    break;
                                    case 2://RealStreetTypeEnum.MatTienNoiBo.Value():
                                <strong>Mặt tiền: </strong><span>nội bộ</span>
                                    break;
                                    case 3://RealStreetTypeEnum.HemTren5Met.Value():
                                <strong>Hẻm: </strong><span>trên 5 mét</span>
                                    break;
                                    case 4://RealStreetTypeEnum.HemDuoi5Met.Value():
                                <strong>Hẻm: </strong><span>dưới 5 mét</span>
                                    break;
                            }
                            <br />
                            <strong>Hướng: </strong> @((item.Direction as int?).ToDirection())


                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Diện tích:</strong> @TinyHelper.ToIntDetault(item.DienTich) m<sup>2</sup>
                            <br />
                            <strong>DTSD:</strong> @TinyHelper.ToIntDetault(item.DienTichSuDung) m<sup>2</sup>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="item_tg">
                                <strong>Mã số: #</strong>@(item.Id)
                                <br />
                                <span class="item_eye">@(item.ViewCount ?? 0)</span>
                                @*@{
                            var updateText = "";
                            var date = item.UpdatedDate ?? item.CreatedDate;
                            updateText = date.ToString("yyyy/MM/dd");
                                }*@
                                @*<span class="">@(updateText)</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>