﻿@using MyUtility.Extensions
@using OutsideX.Models
@using PhuSaiThanhLib
@using PhuSaiThanhLib.Enum
@*@model IEnumerable<dynamic>*@
@model IEnumerable<OutsideX.EF.Out_Real_Search_Result>
@foreach (var item in Model)
{
    <li>
        <div class="box_slider_item background-color-white">
            <a title="@item.Title" class="img_giatot" href="@Url.Action("DetailCustomer","RealEstate",new {id=item.Id})" target="_blank">
                <img src="@((item.Hinh as string).GetFullUrlImage())" class="width-100" onerror="CheckImg(this)" />
            </a>
            <div class="padding-top-10">
                <a title="@item.Title" href="@Url.Action("DetailCustomer","RealEstate",new {id=item.Id})" target="_blank">
                    <div class="font-size-15 color-097ad2 fix_height is_hot_@((item.IsPriceHot.ToString()))">@((item.Title as string).ToTitleGiaTot())</div>
                </a>
                <div class="margin-top-5">
                    <strong>Giá:</strong>
                    <span class='color-ed1c24'><span class='font-size-16'><strong>@(((decimal?)item.Price).DisplayDecimal()) </strong></span><span class='font-size-14'> @((int)item.BuyOrRent == RealBuyOrRentEnum.Buy.Value() ? "tỷ" : "triệu")</span></span>

                    @*@Html.Raw((item.Price as decimal?).DecimalToText("<span class='color-ed1c24'><span class='font-size-16'><strong>{0} </strong></span><span class='font-size-14'>{1}</span></span>"))*@
                </div>
                <div class="font-size-14"><strong>Diện Tích:</strong> @(item.DienTich)m<sup>2</sup></div>
                <div class="font-size-14"><strong>DTSD:</strong> @(item.DienTichSuDung)m<sup>2</sup></div>
                <div class="font-size-14"><strong>Hướng:</strong> @(((int?)item.Direction).NumberToEnumToText<RealDirectionEnum>("-"))</div>
                <div class="font-size-14 margin-top-5">
                    <strong>Mã số: #</strong>@item.Id
                </div>
            </div>
        </div>
    </li>
}