﻿@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='~/favicon.ico?1' rel='shortcut icon' type='image/x-icon' />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @{
        string version = "1.4";
    }
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>Phú Sài Thành</title>

    }
    else
    {
        <title>Phú Sài Thành - @ViewBag.Title</title>
    }

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/common.css?v=@(version)" rel="stylesheet" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/main.css?v=@(version)" rel="stylesheet" />
    <link href="~/Content/css/mobile.css?v=@(version)" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main_div">
        <div class="div_header2 header_bg3">
            @Html.Partial("Header/_NavBar")
        </div>

        @*<div class="div_content1 container padding-top-20">
            </div>*@
        <div class="div_footer1">
            @RenderBody()
            @Html.Partial("Footer/FooterInfo")


        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/main.js?v=@(DateTime.Now.Ticks)"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
