﻿body {
    background-color: white;
}

    body a:hover,
    body a:active,
    body a:after,
    body a:focus {
        text-decoration: none;
    }

    body * {
        font-family: arial;
    }

    body .main_div {
        width: 100%;
        max-width: 1472px;
        background-color: #f0f0f0;
        margin: 0 auto;
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.div_header1 {
    max-width: 1472px;
    padding-top: 40px;
    margin: 0 auto;
    min-height: 472px;
}

.div_header2 {
    max-width: 1472px;
    padding-top: 40px;
    margin: 0 auto;
    min-height: 103px;
}

.header_bg1 {
    /*background: url('../img/top-bg.png') top center transparent no-repeat;*/
}

.header_bg2 {
    background: url('../img/top-bg2.png') top center transparent no-repeat;
}

.header_bg3 {
    background: url('../img/top-bg3.png') top center transparent no-repeat;
}

.navbar-default {
    border-top: 2px solid #014b8a;
    border-bottom: 2px solid #014b8a;
    height: 63px;
    background-color: #ed1c24;
    margin-bottom: 0;
    border-radius: 0;
}

.container {
    max-width: 1119px;
}

.navbar-default a.navbar-brand {
    padding: 0;
    height: 59px;
}

.navbar-default .navbar-right > li > a {
    height: 59px;
    padding: 20px 13px;
    font-size: 16px;
    color: white;
}

.navbar-default .navbar-right > li:hover > a {
    color: white;
    background-color: #014b8a;
}

.navbar-default .navbar-right > li.active > a,
.navbar-default .navbar-right > li.active > a:hover {
    background-color: #014b8a;
    color: white;
}

.top_box {
    position: relative;
    max-width: 100%;
}

.top_box_contain {
    position: absolute;
    right: 0;
    top: -30px;
    background-color: #014b8a;
    height: 30px;
    /*width: 323px;*/
    -ms-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 20px;
}

#image-gallery li img {
    max-width: 100%;
}

.top_box_contain a {
    color: white;
    padding-left: 25px;
    margin-right: 11px;
}

    .top_box_contain a.dn {
        background: url('../img/dang-nhap.png') no-repeat left center transparent;
    }

    .top_box_contain a.dk {
        background: url('../img/dang-ky.png') no-repeat left center transparent;
    }

    .top_box_contain a.hd {
        margin-right: 0;
        background: url('../img/hoi-dap.png') no-repeat left center transparent;
    }

.search_box .nav-tabs > li > a {
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top: 4px solid transparent;
    -ms-border-radius: 0;
    border-radius: 0;
    background: url('../img/tran-2.png') repeat transparent;
    color: black;
}

.search_box {
    margin-top: 92px;
    padding-right: 0;
    padding-left: 0;
}

    .search_box .nav-tabs {
        border-bottom: 0px;
    }

        .search_box .nav-tabs > li {
            margin-bottom: 0;
        }

            .search_box .nav-tabs > li.active > a,
            .search_box .nav-tabs > li.active > a:focus,
            .search_box .nav-tabs > li.active > a:hover {
                border-left: 0;
                border-bottom: 0;
                border-right: 0;
                border-top: 4px solid #dd1d27;
                -webkit-box-shadow: none;
                -ms-box-shadow: none;
                box-shadow: none;
                background: url('../img/tran-1.png') repeat transparent;
                color: white;
                font-size: 16px;
            }

    .search_box .tab-content {
        background: url('../img/tran-1.png') repeat transparent;
        /*min-height: 152px;*/
    }

        .search_box .tab-content .tab-pane {
            /*padding: 0px 5px;*/
        }

            .search_box .tab-content .tab-pane input[type=text] {
                height: 32px;
                border: 1px solid #cccccc;
                border-radius: 0;
            }

            .search_box .tab-content .tab-pane select {
                height: 32px;
                border-radius: 0;
            }

.show_content {
    max-width: 100%;
    overflow: hidden;
}

    .show_content * {
        max-width: 100%;
    }


.search_advance > a {
    color: white;
    font-size: 16px;
    background: url('../img/arow_b.png') no-repeat right center transparent;
    padding-right: 24px;
    /*line-height: 32px;*/
}

.search_box_left {
    padding-right: 0;
}

.search_box_right {
    padding-left: 0;
}

.div_content1 {
    margin-top: 18px;
    padding-left: 0;
    padding-right: 0;
    /*position: relative;*/
}

.div_center {
    /*width: 100%;*/
    /*float: left;*/
}

.div_right {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 323px;*/
    /*min-height: 500px;*/
    /*background-color: red;*/
    /*float: right;*/
}

.tab_box .tab-content {
    /*background-color: white;*/
}

.tab_box .nav-tabs {
    border-bottom: 2px solid #ed1c24;
}

    .tab_box .nav-tabs li {
        height: 38px;
        background-color: #0a3551;
        margin-bottom: 0;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

        .tab_box .nav-tabs li.active {
            background-color: #ed1c24;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
        }

        .tab_box .nav-tabs li a,
        .tab_box .nav-tabs li a:hover,
        .tab_box .nav-tabs li a:active,
        .tab_box .nav-tabs li a:focus,
        .tab_box .nav-tabs li a:after {
            color: white;
            font-size: 16px;
            background: url('../img/ico-home.png') no-repeat left 5px top 7px transparent;
            border-radius: 0;
            border: none;
            padding-left: 35px;
            padding-top: 10px;
            padding-bottom: 8px;
        }

.borer_red {
    border: 2px solid #ed1c24;
    border-top: 0px;
}

.item_box {
}

.item_type_1 {
    padding: 10px 0;
    font-size: 14px;
    color: black;
}

    .item_type_1 .item_name {
        color: #097ad2;
        font-size: 15px;
        text-align: left;
        overflow: hidden;
    }

    .item_type_1 img {
        width: 100%;
        max-width: 100%;
    }

.item_eye {
    background: url('../img/eye.png') no-repeat left center transparent;
    padding-left: 20px;
}

.item_edit {
    background: url('../img/edit.png') no-repeat left center transparent;
    padding-left: 20px;
}

.item_delete {
    background: url('../img/delete.png') no-repeat left center transparent;
    padding-left: 20px;
}


.item_type_1 .item_name,
.item_type_1 .item_price,
.item_type_1 .item_dt,
.item_type_1 .item_h {
    color: black;
}

.item_type_1 .item_tg {
    color: #7a7a7a;
}

.div_item_1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 7px;
    padding-right: 7px;
}

    .div_item_1 > div {
        padding-left: 7px;
        padding-right: 7px;
    }


.right_box_1 .right_box_title {
    background-color: #0c3852;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 3px;
}

    .right_box_1 .right_box_title label {
        color: white;
        padding-left: 32px;
        font-size: 24px;
        font-weight: normal;
        background: url('../img/dang-tin.png') no-repeat left center transparent;
    }

.right_box_1 .right_box_content {
    padding-top: 10px;
}

.right_box_info {
    background-color: white;
    padding-top: 5px;
    overflow: hidden;
    padding-bottom: 20px;
}

    .right_box_info > div {
        font-size: 16px;
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .right_box_info .name {
        height: 60px;
        width: 100%;
        padding: 13px 15px;
    }

    .right_box_info .address {
        background: url('../img/location.png') no-repeat left 16px top 5px transparent;
        padding-left: 43px;
        /*height: 30px;*/
    }

    .right_box_info .email {
        background: url('../img/email.png') no-repeat left 16px center transparent;
        padding-left: 43px;
    }

    .right_box_info .phone {
        background: url('../img/phone.png') no-repeat left 16px top 4px transparent;
        padding-left: 43px;
    }

    .right_box_info .time {
        padding-left: 16px;
    }

        .right_box_info .time > div {
            padding-left: 26px;
        }

.div_right_line {
    height: 2px;
    width: 100%;
    background-color: #0a3551;
}

.right_box_2 {
    /*margin-top: 2px;*/
}

    .right_box_2 .right_box_title {
        height: 57px;
        background-color: #023b6d;
        color: white;
        line-height: 57px;
        /*font-size: 16px;*/
    }

        .right_box_2 .right_box_title label {
            padding-left: 50px;
            color: white;
            cursor: pointer;
        }

        .right_box_2 .right_box_title .r-icon1 {
            background: url('../img/r-icon1.png') no-repeat left 7px center transparent;
        }

        .right_box_2 .right_box_title .r-icon2 {
            background: url('../img/r-icon2.png') no-repeat left 7px center transparent;
        }

        .right_box_2 .right_box_title .r-icon3 {
            background: url('../img/r-icon3.png') no-repeat left 7px center transparent;
        }

        .right_box_2 .right_box_title .r-icon4 {
            background: url('../img/kygui1.png') no-repeat left 7px center transparent;
        }

.right_box_3 .right_box_title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

    .right_box_3 .right_box_title label {
        color: #ed1c24;
    }

/*.div_hotline {
    position: fixed;
    top: 50%;
    right: 0;
    height: 0px;
    width: 100%;
    z-index: 1000;
}

    .div_hotline .a_hotline {
        float: right;
        background: url('/Content/img/hotline.png') center center transparent no-repeat;
        width: 322px;
        height: 78px;
        padding-left: 90px;
        padding-top: 17px;
        margin-right: -243px;
        transition: margin-right 1s;
    }

    .div_hotline .hotline {
        font-size: 30px;
        color: white;
        margin-right: -243px;
        display: block;
    }

    .div_hotline .a_hotline:hover {
        margin-right: 0;
    }

        .div_hotline .a_hotline:hover .hotline {
        }

.hotline_mobile {
    display: none;
}*/
.phone-pixel {
    background: #e21a22;
    position: fixed;
    bottom: 0px;
    right: 0;
    padding: 5px 12px 2px 12px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    line-height: 25px;
    z-index: 999;
    text-transform: uppercase;
}

    .skype-pixel a,
    .phone-pixel a {
        color: #fff;
    }

        .phone-pixel a span {
            color: #fff;
            font-size: 19px;
            float: left;
            margin: 0px 10px 0 0;
        }

    .phone-pixel b {
        color: #fff;
        font-size: 20px;
    }

    .phone-pixel:hover {
        background: #000000;
    }

        .phone-pixel:hover a, .phone-pixel:hover a span, .phone-pixel:hover a b {
            color: #e21a22;
        }

.div_right_line2 {
    height: 1px;
    background-color: #363535;
    border-top: 1px solid #b9b8b8;
    border-bottom: 1px solid #6d6d6d;
}

.r_bottom_line {
    border-bottom: 1px solid #cbcccb;
}

.right_box_3 .right_box_content .r_bottom_line {
    padding: 5px 0;
    font-weight: bold;
}

.right_box_4 {
    background-color: white;
}

    .right_box_4 .right_box_title {
        /*height: 40px;*/
        /*line-height: 40px;*/
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
        /*text-align: center;*/
    }

    .right_box_4 .right_box_content > div {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .right_box_4 .right_box_content a {
        font-size: 16px;
        /*color: black;*/
    }

.item_type_2 {
    /*padding: 10px;*/
    /*margin-bottom: 15px;*/
}

.item_link_hover:hover,
.item_link_hover:active,
.item_link_hover:focus,
.item_link_hover:after {
    text-decoration: none;
    color: #333333;
}

a.item_link_right_hover {
    color: black;
}

    a.item_link_right_hover:hover,
    a.item_link_right_hover:active,
    a.item_link_right_hover:focus,
    a.item_link_right_hover:after {
        text-decoration: none;
        color: #187ccf;
    }

.item_type_2 .item_img a {
    display: block;
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.item_type_2 .item_img .image_1 {
    position: relative;
}

    .item_type_2 .item_img.image_1 .vip {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
    }

.item_type_2 .item_img img {
    width: 100%;
    max-width: 200px;
    /*height: 110px;*/
    height: auto;
}

.item_type_2 .item_name {
    font-size: 15px;
    font-weight: bold;
    color: #097ad2;
    height: 48px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .item_type_2 .item_name .item_price {
        float: right;
        color: #ed1c24;
        padding-right: 20px;
        padding-left: 10px;
    }

.item_type_2 .address {
    font-size: 14px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0;
}

.item_type_2 .item_tg {
    font-size: 14px;
}

.item_type_2 .item_eye {
    background: url(../img/eye.png) no-repeat left center transparent;
    padding-left: 20px;
}

/**/
.item_type_3 {
    padding: 12px 0;
    margin-bottom: 15px;
}

    .item_type_3 .item_img {
        padding: 0 27px;
    }

        .item_type_3 .item_img img {
            width: 100%;
            max-width: 100%;
            height: 118px;
        }

    .item_type_3 .item_name {
        font-size: 15px;
        font-weight: bold;
        color: #014b8a;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .item_type_3 .item_content {
        font-size: 14px;
        color: black;
        padding: 5px 0;
        padding-right: 5px;
    }



/**/
.paging_type1 .pagination > li > a,
.paging_type1 .pagination > li > span {
    margin-left: 1px;
}

    .paging_type1 .pagination > li > a,
    .paging_type1 .pagination > li > span a,
    .paging_type1 .pagination > li > span {
        border: none;
        background-color: white;
        color: black;
        border-radius: 0;
    }

.paging_type1 .pagination > li.active > a,
.paging_type1 .pagination > li.active > span {
    background-color: #ed1c24;
    color: white;
}

.paging_type1 .pagination > li > span a:hover,
.paging_type1 .pagination > li > span a:focus,
.paging_type1 .pagination > li > span a:active,
.paging_type1 .pagination > li > span a:after {
    text-decoration: none;
}

.paging_type1 .pagination .dropdown .caret {
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.paging_type1 .pagination .dropdown-menu {
    min-width: 0;
    max-width: 100%;
    width: 70px;
    left: auto;
    right: 0;
    text-align: center;
    border-radius: 0;
}

.pagination button {
    height: 20px;
    padding: 0 5px;
    margin-top: -2px;
}

.pagination input.current_page_number {
    height: 20px;
    width: 30px;
    text-align: center;
    /*display: none;*/
}

.pagination .li_paging:hover span.current_page_number {
    display: none;
}

.pagination .li_paging:hover input.current_page_number {
    display: inline;
}


.div_footer1 {
    min-height: 527px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    background: url(../img/footer.jpg) no-repeat bottom center #e6e6e6;
}

.div_footer2 {
    min-height: 293px;
}

.div_footer3 {
    min-height: 233px;
}

.div_footer4 {
    /*min-height: 527px;*/
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    background-color: #011b34;
}

.div_footer5 {
    /*min-height: 527px;*/
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    background-color: #011b34;
}

    .div_footer5 .div_footer3 {
        background: url('../img/footer_bg.jpg') center center no-repeat #011b34;
    }

.slide_box .prev {
    background: url(../img/trai.png) no-repeat left center transparent;
    width: 50px;
}

.slide_box .next {
    background: url(../img/phai.png) no-repeat right center transparent;
    width: 50px;
}

.div_breadcrumb {
    height: 30px;
    font-size: 14px;
    color: #ed1c24;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .div_breadcrumb > span {
        color: #7e7e7e;
    }

.tab_box_ddl {
    /*position: relative;*/
    height: 45px;
    padding: 10px 0;
}

    .tab_box_ddl .dropdown {
        /*position: absolute;*/
        /*right: 0;*/
        /*top: -40px;*/
        float: right;
    }

        .tab_box_ddl .dropdown > a {
            display: block;
            width: 183px;
            height: 38px;
            line-height: 38px;
            /*background-color: white;*/
            text-align: center;
            /*border: 1px solid #cccccc;*/
            color: black;
        }

            .tab_box_ddl .dropdown > a:hover,
            .tab_box_ddl .dropdown > a:active,
            .tab_box_ddl .dropdown > a:after,
            .tab_box_ddl .dropdown > a:focus {
                text-decoration: none;
                color: black;
            }

    .tab_box_ddl .dropdown-menu {
        border-radius: 0;
        background-color: white;
        border: 1px solid #cccccc;
        margin-top: 0px;
        width: 183px;
        color: black;
    }

.nav_ddl {
    position: relative;
}

    .nav_ddl .nav_ddl_pannel {
        display: none;
        position: absolute;
        top: 59px;
        right: 0;
        width: 230px;
        background-color: #014b8a;
        z-index: 1000;
        padding-bottom: 5px;
    }

    .nav_ddl:hover .nav_ddl_pannel {
        display: block;
        padding-left: 0px;
    }

    .nav_ddl .nav_ddl_pannel li {
        width: 100%;
        padding-right: 10px;
        list-style: none;
    }

        .nav_ddl .nav_ddl_pannel li a {
            color: white;
            /*height: 36px;*/
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            display: block;
            padding-left: 15px;
        }

            .nav_ddl .nav_ddl_pannel li a:hover,
            .nav_ddl .nav_ddl_pannel li a:focus,
            .nav_ddl .nav_ddl_pannel li a:after,
            .nav_ddl .nav_ddl_pannel li a:active {
                text-decoration: none;
                cursor: pointer;
                background-color: #023b6c;
            }

.box_slider .box_slider_item {
}

.lSAction > .lSPrev {
    top: 30%;
    height: 50px;
    left: 0;
    background: url(../img/trai.png) no-repeat left center transparent;
}

.lSAction > .lSNext {
    top: 30%;
    height: 50px;
    right: 0;
    background: url(../img/phai.png) no-repeat right center transparent;
}

.right_box_canhan {
    border: 1px solid #0c3852;
    background-color: white;
}

    .right_box_canhan .right_box_title {
        height: 40px;
        line-height: 40px;
        background-color: #0c3852;
        color: white;
        padding-left: 10px;
    }

    .right_box_canhan .right_box_content ul {
        padding: 0;
        margin: 0;
    }

    .right_box_canhan .right_box_content li {
        list-style: none;
        border-bottom: 1px solid #0c3852;
        padding-left: 10px;
    }

        .right_box_canhan .right_box_content li:last-child {
            border-bottom: 0px;
        }


        .right_box_canhan .right_box_content li a {
            height: 40px;
            line-height: 40px;
            display: block;
            width: 100%;
        }

        .right_box_canhan .right_box_content li:hover,
        .right_box_canhan .right_box_content li.active {
            background-color: #e0e0e0;
        }

            .right_box_canhan .right_box_content li:hover a,
            .right_box_canhan .right_box_content li.active a,
            .right_box_canhan .right_box_content li a:hover,
            .right_box_canhan .right_box_content li a:active,
            .right_box_canhan .right_box_content li a:after,
            .right_box_canhan .right_box_content li a:focus {
                color: #ed1c24;
                text-decoration: none;
                cursor: pointer;
            }

.table_qlt.table-bordered > tbody > tr > td,
.table_qlt.table-bordered > tbody > tr > th,
.table_qlt.table-bordered > tfoot > tr > td,
.table_qlt.table-bordered > tfoot > tr > th,
.table_qlt.table-bordered > thead > tr > td,
.table_qlt.table-bordered > thead > tr > th {
    border-color: #c3c3c3;
}

.table_qlt.table > caption + thead > tr:first-child > td,
.table_qlt.table > caption + thead > tr:first-child > th,
.table_qlt.table > colgroup + thead > tr:first-child > td,
.table_qlt.table > colgroup + thead > tr:first-child > th,
.table_qlt.table > thead:first-child > tr:first-child > td,
.table_qlt.table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #c3c3c3;
    border-bottom: 0px;
}

.form-group-small select.form-control {
    height: 25px;
    padding: 0;
    border-radius: 0;
}

.form-group-small input.form-control {
    height: 25px;
    /*padding: 0;*/
    border-radius: 0;
}

.p_list {
    padding: 0;
    margin: 0;
}

.p_item {
    padding: 0;
    margin: 0;
    position: relative;
}

.p_bg {
    background: url('../img/p_bg_notactive.png') center center repeat-x transparent;
    height: 80px;
}

.p_bg_active {
    background: url('../img/p_bg.png') center center repeat-x transparent;
    height: 80px;
}

.p_icon {
    background: url('../img/p_icon.png') center center repeat-x transparent;
    height: 80px;
}

.control-label-left {
    text-align: left !important;
}

.p_icon > span {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #cccccc;
    float: right;
    text-align: center;
    padding-top: 5px;
    color: black;
    margin-top: 23px;
}

.p_bg_active .p_icon > span {
    background-color: #014b8a;
    color: white;
}

.p_text {
    position: absolute;
    right: -85px;
    bottom: 0;
    width: 200px;
    text-align: center;
}

.radio_tab .nav-tabs {
    border: none;
}

    .radio_tab .nav-tabs > li > a {
        border: none;
        color: #014b8a;
        cursor: pointer;
        padding-left: 22px;
        background: none;
        margin-right: 15px;
    }

    .radio_tab .nav-tabs > li.active > a {
        background: url('../img/ok.png') left center no-repeat transparent;
    }

    .radio_tab .nav-tabs > li > a:hover,
    .radio_tab .nav-tabs > li > a:active,
    .radio_tab .nav-tabs > li > a:focus,
    .radio_tab .nav-tabs > li > a:after {
        border: none;
    }

.box_login input.form-control {
    border-radius: 0;
    border-color: #e6e6e6;
    box-shadow: none;
}

    .box_login input.form-control:active,
    .box_login input.form-control:after,
    .box_login input.form-control:focus
    /*.box_login input.form-control:hover*/ {
        box-shadow: none;
        border-color: #014b8a;
    }

.box_login_header {
    border-bottom: 1px solid #e6e6e6;
}

    .box_login_header a {
        float: left;
        padding: 15px 20px;
        font-weight: bold;
        border-right: 1px solid #e6e6e6;
        box-shadow: none;
        border-radius: 0;
        font-size: 18px;
        border-top: 4px solid transparent;
    }

        .box_login_header a.active {
            border-top: 4px solid #014b8a;
        }

.field-validation-error {
    color: #f84f4f;
}

.btt_w {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.bbt_w2 {
    width: 100%;
    bottom: 10px;
}

#back-to-top {
    /*position: fixed;*/
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    margin-right: 40px;
    float: right;
    margin-bottom: 50px;
    border-radius: 100px;
    border: 1px solid #cccccc;
    padding: 6px;
    font-weight: bold;
}

    #back-to-top:hover {
        background: black;
        color: white;
        border: red;
    }

    #back-to-top.show {
        opacity: 1;
    }

#content {
    height: 2000px;
}

.lSSlideOuter .lSPager.lSGallery img {
    height: 70px;
}

.img_giatot {
    display: block;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.box_slider .fix_height {
    max-height: 42px;
    overflow: hidden;
}

#search_button {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    height: 32px;
    line-height: 32px;
    background-color: #ec3944;
}

body a.is_hot_true,
body a > div.is_hot_True {
    color: #ed1c24;
}

.amount_bds {
    margin-top: -28px;
}
/*#region max-width : 1200px*/
@media only screen and (max-width : 1200px) {
}
/*#endregion*/

/*#region max-width : 992px*/
@media only screen and (max-width : 992px) {
}

/*#endregion*/

/*#region max-width : 768px*/
@media only screen and (max-width : 768px) {
    /*.div_hotline {
        display: none;
    }*/

    /*.hotline_mobile {
        display: table;
        text-align: center;
        background-color: #eb2629;
        font-size: 30px;
        color: white;
        float: left;
        margin-bottom: -45px;
        padding-top: 5px;
        width: 100%;
    }

        .hotline_mobile a {
            color: white;
            font-weight: bold;
            font-size: 30px;
            cursor: pointer;
        }*/
    .phone-pixel {
        left: 50%;margin-left: -80px;
        right: auto;
    }
}
/*#endregion*/

/*#region max-width : 480px*/
@media only screen and (max-width : 480px) {

    .tab_box .nav-tabs li {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        height: 30px;
    }

        .tab_box .nav-tabs li a {
            font-size: 12px;
            padding-left: 25px;
            background-position: 1px 3px;
            padding-right: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
}
/*#endregion*/

/*#region max-width : 320px*/
@media only screen and (max-width : 320px) {
}
/*#endregion*/


@media only screen and (min-width : 992px) {
    .item_type_2 .item_content, .div_right {
        padding-left: 0;
    }
}
