﻿


/*#region max-width : 1200px*/
@media only screen and (max-width : 1200px) {
    .right_box_2 .right_box_title label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
/*#endregion*/

/*#region max-width : 992px*/
@media only screen and (max-width : 992px) {

    .div_header1 .container-fluid,
    .div_header1 .navbar-collapse,
    .div_header2 .container-fluid,
    .div_header2 .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .search_advance {
        text-align: center;
        padding-top: 8px;
    }
    /*#form_search_header .col-sm-4,*/
    #form_search_header .col-sm-4 {
        padding-top: 5px;
    }

    .mobile-text-right {
        text-align: right;
    }

    #form_search_header .margin-top-15 {
        margin-top: 0;
    }

    .item_type_3 {
        padding-left: 15px;
        padding-right: 15px;
    }

        .item_type_3 .item_img {
            padding: 0 15px;
        }

    .item_type_2 .item_img a {
        height: auto;
    }

    .item_type_2 .item_img img {
        max-width: 100%;
    }

    .item_type_3 .item_img img {
        height: auto;
    }

    .item_type_3 .item_img a {
        display: block;
        width: 100%;
        max-height: 200px;
        overflow-y: hidden;
    }
}

/*#endregion*/

/*#region max-width : 768px*/
@media only screen and (max-width : 768px) {
    .div_header1 .container-fluid,
    .div_header1 .navbar-collapse,
    .div_header2 .container-fluid,
    .div_header2 .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }

    .div_content1 > .row, #form_search_header > .row {
        margin-left: 0;
        margin-right: 0;
    }

        #form_search_header > .row > div {
            padding-left: 0;
            padding-right: 0;
        }

    .navbar-default {
        height: auto;
    }

    .search_box {
        margin-top: 20px;
    }

    .nav_ddl .nav_ddl_pannel {
        display: block;
        width: 100%;
        background-color: transparent;
        padding-left: 0;
    }

    .navbar-collapse {
        overflow-x: inherit;
    }

    .nav > li {
        position: inherit;
    }

    .nav_ddl .nav_ddl_pannel {
        position: inherit;
    }

    .item_type_2 .item_img a {
        height: 300px;
    }

    .hide-768 {
        display: none;
    }

    .hide-mobile {display: none;}
    /*.show-mobile {display: none;}*/

}
/*#endregion*/

/*#region max-width : 480px*/
@media only screen and (max-width : 480px) {
    .navbar-toggle {
        margin-right: 0;
    }

    .item_type_2 .item_img a {
        height: 210px;
    }

    .hide-480 {
        display: none;
    }
}
/*#endregion*/

/*#region max-width : 320px*/
@media only screen and (max-width : 320px) {
    .hide-320 {
        display: none;
    }
}
/*#endregion*/


@media only screen and (min-width : 768px) {
    .hide-desktop {display: none;}
}