﻿@model List<EntitiesObject.Entities.WebEntities.Xdistrict>


<option value="0">Quận/Huyện</option>
@foreach (var item in Model)
{
    <option class="remove-data" value="@item.Id">@item.DistrictName</option>
}

