﻿@model List<EntitiesObject.Entities.WebEntities.Xstreet>


@*<option value="0">Đường</option>*@
@foreach (var item in Model)
{
    <option class="remove-data" value="@item.Id">@item.StreetName</option>
}

