﻿@model List<EntitiesObject.Entities.WebEntities.Xward>


@*<option value="0">Phường/Xã</option>*@
@foreach (var item in Model)
{
    <option class="remove-data" value="@item.Id">@item.WardName</option>
}

