﻿@using OutsideX.Models
@model List<OutsideX.EF.Out_Real_Search_Result>
<div class="amount_bds">Hiện có <span class="color-ed1c24">@ViewBag.Total</span> bất động sản</div>
@{ Html.RenderPartial("_ListHomeItem", Model);}


@*<div class="list_item">
    @foreach (var item in Model)
    {
        <div class="item_box item_type_2 background-color-white margin-top-15">
            <div class="row margin-0">
                <div class="col-sm-3 item_img padding-10">
                    <a title="@item.ProductName" class="" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id, productId = item.ProductId })" target="_blank">
                        <img src="@item.ImgCover.GetFullUrlImage()" class="img-responsive block-center" onerror="CheckImg(this)" />
                    </a>
                </div>
                <div class="col-sm-9 item_content">
                    <div class="item_name">
                        <div class="item_price">
                            @Html.Raw(item.Price.DecimalToText("<span class='color-ed1c24'><span class='font-size-16'><strong>{0} </strong></span><span class='font-size-14'>{1}</span></span>"))
                        </div>
                        <a title="@item.ProductName" href="@Url.Action("DetailCustomer", "RealEstate", new { id = item.Id, productId = item.ProductId })" class="item_link_hover is_hot_@(item.IsHot.ToString().ToLower()) " target="_blank">
                            @item.ProductName
                        </a>
                    </div>
                    <div class="address">@string.Concat(@item.WardName, ", ", item.DistrictName, ", ", item.CityName)</div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <strong>@(item.ProductType.GetValueOrDefault() == 0 ? "-------" : item.ProductType.GetValueOrDefault().ToEnum<RealTypeEnum>().Text())</strong>
                            <br />
                            <strong>Hướng: </strong> @item.ViewDirection.ToDirection()
                        </div>
                        <div class="col-md-3 col-xs-6">
                            @switch (item.StreetType)
                            {
                                case (int)RealStreetTypeEnum.MatTien:
                                    <strong>Mặt tiền</strong>
                                    <br />
                                    <strong>Kinh doanh</strong>
                                    break;
                                case (int)RealStreetTypeEnum.MatTienNoiBo:
                                <strong>Mặt tiền</strong>
                                <br />
                                <strong>Nội bộ</strong>
                                    break;
                                case (int)RealStreetTypeEnum.HemTren5Met:
                                <strong>Hẻm</strong>
                                <br />
                                <strong>Trên 5 mét</strong>
                                    break;
                                case (int)RealStreetTypeEnum.HemDuoi5Met:
                                <strong>Hẻm</strong>
                                <br />
                                <strong>Dưới 5 mét</strong>
                                    break;
                            }

                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Diện tích:</strong> @item.SLand.ToDetault() m<sup>2</sup>
                            <br />
                            <strong>DTSD:</strong> @item.SContruction.ToDetault() m<sup>2</sup>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="item_tg">
                                <strong>Mã số: #</strong>@item.ProductId
                                <br />
                                <span class="item_eye">@(item.ViewCount ?? 0)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>*@
<div class="padding-10"></div>
@Html.Partial("Paging/_HomePaging", new PagingModel(ViewBag.Total, ViewBag.PageSize, ViewBag.PageIndex))
