﻿@using InsideX.Models
@using MyUtility.Extensions
@model System.Collections.Generic.List<InsideX.EF.Employee>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-align-center">#Mã</th>
            <th class="text-align-center">Tên nhân viên</th>
            <th class="text-align-center" style="width: 100px;">Hình đại diện</th>
            <th class="text-align-center">Email/Điện thoại/Địa chỉ</th>
            <th class="text-align-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            <tr>
                <td class="text-align-center">@item.ID</td>
                <td class="text-info">
                    <div class="color-blue">@item.Username</div>
                    @item.DisplayName
                </td>

                <td class="">Tên nhân viên</td>
                <td class="text-align-center">
                    <img width="80" height="80" src="@item.Avatar" alt="No img" />
                </td>
                <td class="text-align-center">
                    @item.Email<br />
                    @item.Phone<br />
                    @item.Address
                </td>

                <td class="text-align-center">
                    <a class="text-danger" href="@Url.Action("Update", new {id = @item.ID})">
                        <span class="glyphicon glyphicon-edit"></span> Sửa
                    </a>
                    <br />
                    <a class="text-danger" href="@Url.Action("Delete", new {id = @item.ID})" onclick=" return confirm('Chắc chắn xóa ?') ">
                        <span class="glyphicon glyphicon-trash"></span> Xóa
                    </a>

                </td>

            </tr>
        }

    </tbody>
</table>