﻿@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@{
    ViewBag.Title = "Danh sách nhân viên";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        @*<div class="">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="">
                        <div class="">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="type2" class="col-sm-4 control-label">Loại nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("empType", typeof(EmployeeTypeEnum).ToList().ToSelectListItems(0, "0", "== Loại Nhân Viên =="), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bdsType" class="col-sm-4 control-label">Cấp nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("empLevel", typeof(EmployeeLevelEnum).ToList().ToSelectListItems(0, "0", "== Cấp nhân viên =="), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deptId" class="col-sm-4 control-label">Nhóm</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("deptId", (List<SelectListItem>)ViewBag.dept, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Keyword" class="col-sm-4 control-label">Từ khóa</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Keyword" name="Keyword" class="form-control" placeholder="@("@")ID, tên KH..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <button type="button" id="search" class="btn btn-primary">
                                                <span class="padding-left-20 padding-right-20">Tìm</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>*@
        <div class="clearfix"></div>
        <div class="">
            <div class="">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Admin</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float:right;">
                                    <a href="@Url.Action("Update")"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Quyền</th>
                                        <th>Loại nhân viên</th>
                                        <th>Nhóm</th>
                                        <th>Cấp</th>
                                        @*<th>Tên đăng nhập</th>*@
                                        <th>Tên</th>
                                        <th>Hình đại diện</th>
                                        <th>Email/Điện thoại/Địa chỉ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />


}



@section scripts
{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>

    <script>
        var dataTable = $('#dataTable').on('xhr.dt', function(e, settings, json, xhr) {
            //console.log(json.recordsTotal);
            $('#strongTotal').html(json.recordsTotal);
        }).DataTable({
            "processing": true,
            //"orderable": false,
            "serverSide": true,
            "lengthChange": false,
            //"pageLength": 1,
            "bFilter": false,
            "bInfo": false,
            "lengthMenu": [[500], [500]],
            "ajax": {
                "url": '@Url.Action("EmployeeList")',
                "type": "POST",
                "data": function(d) {

                    //d.dateFrom = $("#DateFrom").val();
                    //d.dateTo = $("#DateTo").val();
                    //d.type = "type.Value()";
                    //d.type2 = $("#type2").val();
                    //d.bdsType = $("#bdsType").val();
                    //d.customerStatus = $("#customerStatus").val();
                    //d.deptId = $("#deptId").val();
                    //d.direction = $("#direction").val();
                    //d.roomNumber = $("#roomNumber").val();
                    //d.price = $("#price").val();
                    //d.streetView = $("#streetView").val();
                    //d.keyword = $("#Keyword").val();
                }
            },

            "columns": [
                { "orderable": false, "data": "ID", className: "text-align-center" },
                { "orderable": false, "data": "RoleString" },
                { "orderable": false, "data": "TypeString" },
                { "orderable": false, "data": "DeptName" },
                { "orderable": false, "data": "LevelString" },
                { "orderable": false, "data": "Username" },
                //{ "orderable": false, "data": "DisplayName" },
                //{ "orderable": false, "data": "ID" },
                { "orderable": false, "data": "ID" },
                { "orderable": false, "data": "ID", className: "text-align-center" },
            ],
            "columnDefs": [
                    {
                        "targets": 5,
                        "data": null,
                        "render": function (data, type, row) {
                            return '<span class="color-blue">' + row["Username"] + '</span>' + '<br/>' + row["DisplayName"];
                        },
                    },
                {
                    "targets": 6,
                    "data": null,
                    "render": function (data, type, row) {
                        return '<img src="' + row["Avatar"] + '" width="80" height="80" alt="no image" />';
                    },
                },
                {
                    "targets": 7,
                    "data": null,
                    "render": function (data, type, row) {
                        return row['Email'] + '<br/>' + row['Phone'] + '<br/>' + row['Address'];
                    },
                },
                {
                    "targets": 8,
                    "data": null,
                    "render": function (data, type, row) {
                        return '<a class="edit" href="' + '@Url.Action("Update")/' + row["ID"] + '"><i class="fa fa-edit"></i></a> ' +
                            '&nbsp;|&nbsp; ' +
                            '<a class="delete" href="javascript:void(0)" onclick="DeleteEmployee(' + row["ID"] + ')"><i class="fa fa-trash"></i></a>';
                    },
                    //"defaultContent":
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                "emptyTable": "Không có dữ liệu"
            },
            fnDrawCallback: function() {
                $('html,body').animate({
                    scrollTop: 0
                }, 1000);
            }
        });

        var DeleteEmployee=function(id) {
            $.post('@Url.Action("Delete")', { id: id }, function (res) {
                $('#dataTable').DataTable().ajax.reload();
            });
        }

        @*$('#dataTable tbody').on('click', 'a.edit', function () {
            var data = dataTable.row($(this).parents('tr')).data();
            var href = '@Url.Action("Update")?id=' + data["Id"];
            window.open(href);
        });
        $('#dataTable tbody').on('click', 'a.delete', function () {
            if (confirm('Chắc chắn xóa ?')) {
                var data = dataTable.row($(this).parents('tr')).data();
                $.post('@Url.Action("Delete")', { id: data["Id"] }, function (res) {
                    $('#dataTable').DataTable().ajax.reload();
                });
            }
        });*@

    </script>
}