﻿@using InsideX.EF
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@*@model List<InsideX.EF.Ins_Employee_ByDept_List_Result>*@
@{
    //var goupType = Model.GroupBy(c => new { c.Type }).OrderBy(c => c.Key.Type);
}
<table id="dataTable" class="table table-bordered">
    <thead>
        <tr>
            <th class="text-align-center" style="width: 200px">Loại nhân viên</th>
            @*<th class="text-align-center">Nhóm</th>*@
            <th class="text-align-center">#Mã</th>
            <th class="text-align-center">Quyền</th>
            <th class="text-align-center">Tên nhân viên</th>
            <th class="text-align-center" style="width: 100px;">Hình đại diện</th>
            <th class="text-align-center">Email/Điện thoại/Địa chỉ</th>
            <th class="text-align-center"></th>
        </tr>
    </thead>
    <tbody>

        @{
            var type = 0;
            var db = new PstEntities();
            var emps = db.Employees.Where(c => c.Deleted != true&&c.Role==3).OrderBy(c => c.Type).ThenBy(c => c.Username).ToList();
        }

        @foreach (var item in emps) {
            <tr>

                @if (type != item.Type) {
                    type = item.Type;
                    <td class="vertical-align-middle" rowspan="@emps.Count(c=>c.Type==item.Type)">@(item.Type.NumberToEnumToText<EmployeeTypeEnum>())</td>
                }

                <td class="text-align-center">@item.ID</td>
                <td class="text-align-left">
                    @(item.Role.NumberToEnumToText<AdminRoleEnum>())

                </td>
                <td class="text-info">
                    <div class="color-blue">@item.Username</div>

                    @item.DisplayName
                    @foreach (var detail in item.DepartmentDetails.Where(c => c.IsLeader || c.IsSubLeader)) {
                        if (detail.IsLeader) {
                            <br />
                            <span class="color-ed1c24">(Nhóm trưởng của @detail.Department.Name)</span>
                            <span>@(item.Level.NumberToEnumToText<EmployeeLevelEnum>())</span>
                        }
                        if (detail.IsSubLeader) {
                            <br />
                            <span class="color-ed1c24">(Nhóm phó của @detail.Department.Name)</span>
                            <span>@(item.Level.NumberToEnumToText<EmployeeLevelEnum>())</span>
                        }
                    }


                </td>
                <td class="text-align-center">
                    <img width="80" height="80" src="@item.Avatar" alt="No img" />
                </td>
                <td class="text-align-center">
                    @item.Email<br />
                    @item.Phone<br />
                    @item.Address
                </td>
                <td class="text-align-center">
                    <a class="text-danger" href="@Url.Action("Update", new {id = @item.ID})">
                        <span class="glyphicon glyphicon-edit"></span> Sửa
                    </a>
                    @if (item.Role != AdminRoleEnum.Admin.Value()) {
                        <br />
                        <a class="text-danger" href="@Url.Action("Delete", new {id = @item.ID})" onclick=" return confirm('Chắc chắn xóa ?') ">
                            <span class="glyphicon glyphicon-trash"></span> Xóa
                        </a>
                    }

                    <br />
                </td>
            </tr>
        }



        @*@foreach (var gType in goupType) {
                var groupDept = gType.GroupBy(c => new { c.DeptId, c.DeptName }).OrderBy(c => c.Key.DeptName);

                var gD = 0;
                foreach (var gDept in groupDept) {
                    var i = 0;
                    gD = 0;
                    foreach (var item in gDept.OrderBy(c => c.Username)) {
                        <tr>

                            @if (type != gType.Key.Type) {
                                type = gType.Key.Type;
                                <td class="vertical-align-middle" rowspan="@gType.Count()">@(gType.Key.Type.NumberToEnumToText<EmployeeTypeEnum>())</td>
                            }

                            @if (gD == 0) {
                                <td class="vertical-align-middle" rowspan="@gDept.Count()">@gDept.Key.DeptName</td>
                            }
                            <td class="text-align-center">@item.ID</td>
                            <td class="text-align-left">
                                @(item.Role.NumberToEnumToText<AdminRoleEnum>())

                            </td>
                            <td class="text-info">
                                <div class="color-blue">@item.Username</div>

                                @item.DisplayName
                                @if (item.IsLeader) {
                                    <br />
                                    <span class="color-ed1c24">(Nhóm trưởng)</span>
                                    <span>@(item.Level.NumberToEnumToText<EmployeeLevelEnum>())</span>
                                }
                                @if (item.IsSubLeader) {
                                    <br />
                                    <span class="color-ed1c24">(Nhóm phó)</span>
                                    <span>@(item.Level.NumberToEnumToText<EmployeeLevelEnum>())</span>
                                }

                            </td>
                            <td class="text-align-center">
                                <img width="80" height="80" src="@item.Avatar" alt="No img" />
                            </td>
                            <td class="text-align-center">
                                @item.Email<br />
                                @item.Phone<br />
                                @item.Address
                            </td>
                            <td class="text-align-center">
                                <a class="text-danger" href="@Url.Action("Update", new {id = @item.ID})" >
                                    <span class="glyphicon glyphicon-edit"></span> Sửa
                                </a>
                                @if (item.Role != AdminRoleEnum.Admin.Value()) {
                                    <br />
                                    <a class="text-danger" href="@Url.Action("Delete", new {id = @item.ID})" onclick=" return confirm('Chắc chắn xóa ?') ">
                                        <span class="glyphicon glyphicon-trash"></span> Xóa
                                    </a>
                                }

                                <br />
                            </td>
                        </tr>
                                i++;
                                gD++;
                    }

                }
            }*@


    </tbody>
</table>