﻿@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@{
    ViewBag.Title = "Danh sách nhân viên";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        @*<div class="">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="">
                        <div class="">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="type2" class="col-sm-4 control-label">Loại nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("empType", typeof(EmployeeTypeEnum).ToList().ToSelectListItems(0, "0", "== Loại Nhân Viên =="), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bdsType" class="col-sm-4 control-label">Cấp nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("empLevel", typeof(EmployeeLevelEnum).ToList().ToSelectListItems(0, "0", "== Cấp nhân viên =="), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deptId" class="col-sm-4 control-label">Nhóm</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("deptId", (List<SelectListItem>)ViewBag.dept, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Keyword" class="col-sm-4 control-label">Từ khóa</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Keyword" name="Keyword" class="form-control" placeholder="@("@")ID, tên KH..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <button type="button" id="search" class="btn btn-primary">
                                                <span class="padding-left-20 padding-right-20">Tìm</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>*@
        <div class="clearfix"></div>
        @if (MySessionManager.SessionData.IsSupperAdmin)
        {
           <div class="x_content">
            <div class="x_panel" id="ContainerData">
                <div class="x_content">
                    @{Html.RenderAction("AdminTable");}

                </div>
            </div>
        </div> 
        }
        
        <div class="clearfix"></div>
        <div class="">
            <div class="">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        @*<div class="x_title">
                            <h2>Admin</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float:right;">
                                    <a href="@Url.Action("Update")"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>*@
                        <div class="x_content">
                            @{Html.RenderAction("IndexTable");}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />


}



@section scripts
{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>

    <script>

    </script>
}