﻿@using InsideX.Helper
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.EF.Employee



@{
    ViewBag.Title = ViewBag.PageName = "Cập nhật thông tin cá nhân";

}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("UpdateProfile", "Employee", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" })) {
                    @Html.HiddenFor(c => c.ID)
                    @Html.HiddenFor(c => c.Username)

                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin cơ bản</label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="Username" class="col-sm-3 padding-top-5">Tên đăng nhập</label>
                                    <div class="col-sm-4">
                                        <label>@Model.Username</label>
                                    </div>
                                    @*<div class="col-sm-4">
                                            <div class="checkbox"><label><input type="checkbox" name="isChangeUsername" value="true" />Đổi tên đăng nhập</label></div>
                                        </div>*@
                                </div>

                                <div class="form-group">
                                    <label for="Password" class="col-sm-3 padding-top-5">Mật khẩu</label>
                                    <div class="col-sm-4">
                                        @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Password)
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox"><label><input type="checkbox" name="isChangePassword" value="true" />Đổi mật khẩu</label></div>
                                    </div>
                                </div>
                                @if (!MySessionManager.SessionData.IsAdmin) {
                                    <div class="form-group">
                                        <label for="Type" class="col-sm-3 padding-top-5">Loại nhân viên</label>
                                        <div class="col-sm-4">
                                            @(Model.Type.NumberToEnumToText<EmployeeTypeEnum>())
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Type" class="col-sm-3 padding-top-5">Cấp nhân viên</label>
                                        <div class="col-sm-4">
                                            @(Model.Type.NumberToEnumToText<EmployeeLevelEnum>("Chưa có cấp"))
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Type" class="col-sm-3 padding-top-5">Nhóm</label>
                                        <div class="col-sm-4">
                                            @foreach (var item in MySessionManager.SessionData.Employee.DepartmentDetails) {
                                                <div>@item.Department.Name</div>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin chi tiết</label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="Avatar" class="col-sm-3 padding-top-5">Đại diện<br />(400x400)</label>
                                    <div class="col-sm-6">
                                        <a id="openCkfinder" class="openCkfinder text-align-center" href="#">
                                            @Html.HiddenFor(c => c.Avatar)
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <br />
                                            <strong>Chọn Hình</strong>
                                            <img id="imgCkfinder" width="150" height="150" src="@Model.Avatar" alt="" />
                                        </a>
                                        @Html.ValidationMessageFor(model => model.Avatar)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="DisplayName" class="col-sm-3 padding-top-5">Tên đầy đủ</label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(c => c.DisplayName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.DisplayName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Phone" class="col-sm-3 padding-top-5">Điện thoại</label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Phone)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Email" class="col-sm-3 padding-top-5">Email</label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Email)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-3 padding-top-5">Địa chỉ</label>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Address)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="text-align-center">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/multiImg.js?@(DateTime.Now.Ticks)"></script>

    <script>

        $(document).ready(function () {
            $("#openCkfinder").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#openCkfinder img").attr("src", fileUrl);
                    $("#openCkfinder input").val(fileUrl);
                };
                finder.connectorInfo = 't=Employee@(MySessionManager.SessionData.ID)&p=@(Model.CreateDate.ToString("yyyyMM"))&id=@Model.ID';
                finder.popup();
                return false;
            });



        });
    </script>
}


