﻿@using InsideX.EF
@using InsideX.Helper
@model List<InsideX.EF.Ins_GetAreaList_Result>
@{
    var cus = ViewBag.Customer as Customer;
}
@Html.Hidden("RequireDistrict", cus.RequireDistrict)
@Html.Hidden("RequireArea", cus.RequireArea,new{id=""})
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Quận</th>
            <th>Khu vực</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.DistrictName</td>
                <td>@item.Name</td>
                <td><a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="deleteArea(@item.Id)"><span class="glyphicon glyphicon-trash"></span> Xóa</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                @Html.DropDownList("DistrictId", PstHelper.DropdownListDistrict(1, 0), new { onchange = "getArea()", @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("RequireArea", new List<SelectListItem> { new SelectListItem { Text = "== Chọn khu vực ==", Value = "" } }, new { @class = "form-control" })
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" onclick="AddArea()"><span class="glyphicon glyphicon-plus"></span> Thêm</button>
            </td>
        </tr>

    </tfoot>
</table>
<script>

    function getArea() {
        debugger;
        GetAddress("A", 0, $("#DistrictId").val(), 0, 0, function (data) {
            $("#RequireArea").html(data);
        });
    }

    function AddArea() {
        var areaId = $('#RequireArea').val();
        $.post('@Url.Action("AddArea","Customer")', {
            id: $('#Id').val(),
            areaId: $('#RequireArea').val(),
            districtId: $('#DistrictId').val(),
        }, function () {
            GetAreaView();
        });
    }
</script>