﻿@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@model InsideX.EF.CustomerCare
@{
    Layout = null;
}

@if (ViewBag.Success == true)
{
    <div class="text-align-center alert">Đã lưu thành công</div>
    <script>ReloadCare()</script>
}
else
{
    using (Ajax.BeginForm("CareUpdate", "Customer", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "contentMyModel",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    }))
    {
        <div id="loader" class=" alert" style="display: none">
            Loading...<img src="~/Content/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
        </div>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@(Model.Id > 0 ? "Sửa" : "Thêm") chăm sóc khách hàng</h4>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="RealId" class="col-sm-4 control-label">Mã tài sản</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(c => c.RealId, new {@class = "form-control", placeholder = "Mã tài sản"})
                            @Html.ValidationMessageFor(c => c.RealId)
                            @Html.HiddenFor(c => c.Id)
                            @Html.HiddenFor(c => c.CustomerId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BrockerId" class="col-sm-4 control-label">Nhân viên hỗ trợ</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(c => c.BrockerId, PstHelper.BrokerList(Model.BrockerId ?? 0, AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Customer.Value()), new { @class = "form-control", id = "careAdminId" })
                            @Html.ValidationMessageFor(c => c.BrockerId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CareDate" class="col-sm-4 control-label">Ngày</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control has-feedback-left" id="CareDate" name="Date" placeholder="" aria-describedby="inputSuccess2Status2" value="@Model.Date.ToStringDefault("yyyy/MM/dd")">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-3">
                            (VD: 2017/12/31)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Note" class="col-sm-4 control-label">Ghi chú</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(c => c.Note, new {@class = "form-control", placeholder = "Ghi chú", rows = "5"})
                            @Html.ValidationMessageFor(c => c.Note)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CareImageLIst" class="col-sm-4 padding-top-5">
                            Hình ảnh
                            @*<br />
                            <span class="label label-info image_view_slide cursor-pointer" input="CareImageLIst">
                                Xem slide
                            </span>*@
                        </label>
                        <div class="col-sm-8 ckfinder_list" id="boxCareImageLIst">
                            @Html.TextBoxFor(c => c.CareImageLIst, new { @class = "form-control hide" })
                            <div class="img-list"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div>
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }

    <script>
        $(document).ready(function() {
          
            $('#CareDate').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY/MM/DD'
                }
            });

            setTimeout(function() {
                $("#careAdminId").select2({
                    templateResult: formatAvatar,
                    placeholder: "chọn nhân viên..."
                });
            }, 300);

            $("#boxCareImageLIst").multiImg({
                id: '@Model.CustomerId/Care/',
                type: 'Customer',
                path: '@((Model.CreatedDate ?? DateTime.Now).ToString("yyyyMM"))'
            });

        });
    </script>

}

