﻿@using InsideX.EF
@using InsideX.Helper
@using InsideX.Models
@using MyUtility.Extensions
@using PhuSaiThanhLib
@using PhuSaiThanhLib.Enum
@model List<InsideX.EF.Ins_CustomerCare_List_Buy_CusId_Result>
@if (Model != null) {
    var level = MySessionManager.SessionData.GetLevelReal();
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-align-center">#Mã TS</th>
                <th class="text-align-center">Tài sản</th>
                <th class="text-align-center">Giá</th>
                <th class="text-align-center">Hình</th>
                <th class="text-align-center">Ghi chú</th>
                <th class="text-align-center">Ngày</th>
                <th class="text-align-center">Nhân viên</th>
                @if (ViewBag.isShow == true) {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Any()) {
                foreach (var item in Model) {
                    <tr>
                        <td class="text-align-center">@item.RealId</td>
                        <td class="">@item.RealTitle</td>
                        <td class="text-align-right">@item.Price.GetValueOrDefault().ToString("0.##") @(item.RealBuyOrRent == RealBuyOrRentEnum.Buy.Value() ? "tỷ" : "triệu")</td>
                        <td class="">
                            @{
                    var list = (item.CareImageLIst ?? "").ToImageList().Select(c => c.GetFullUrlImage2()).ToList();
                    var view = string.Join(" ", list.Select(v => string.Format("<a href='{0}'></a>", v)));

                            }

                            @if (item.CustomerBrokerId == MySessionManager.SessionData.ID || !MySessionManager.SessionData.IsLeaderOrSubLeader || (MySessionManager.SessionData.IsLeaderOrSubLeader && level.IsViewCusCare && level.IsViewCusImages)) {
                                if (list.Any()) {
                                    <span class="viewCareImageLIst cursor-pointer">
                                        <img width="50" height="50" src="@list[0]" alt="No image" />
                                        @Html.Raw(view)
                                    </span>
                                }
                            }
                            else {

                            }

                        </td>
                        <td class="">@item.Note</td>
                        <td class="text-align-center">@item.Date.ToStringDefault("yyyy-MM-dd")</td>
                        <td class="text-align-center">

                            <img width="50" height="50" src="@item.Avatar" alt="No image" /><br />

                            @item.DisplayName
                        </td>
                        @if (ViewBag.isShow == true) {

                            <td class="text-align-center">
                                <button class="care_delete btn btn-danger btn-sm" type="button" value="@item.Id" onclick="return confirm('Chắc chắn xóa ?')">Xóa <span class="glyphicon glyphicon-trash"></span></button>
                                @*<br />*@
                                @*<button class=" btn btn-sm" type="button" value="@item.Id" onclick="openmodal('@Url.Action("CareUpdate", "Customer" , new {customerid=item.CustomerId, id=item.Id})') ">Sửa <span class=" glyphicon glyphicon-edit"></span></button>*@
                            </td>
                        }
                    </tr>
                }
            }
            else {
                <tr><td colspan="7" class="text-align-center">No data</td></tr>
            }
        </tbody>
    </table>

}


