﻿@model InsideX.EF.Customer
@{
    Layout = null;
}

@if (ViewBag.Success == true) {
    <div class="text-align-center alert">Đã lưu thành công</div>
    <script>$("#myModal").modal("hide")</script>
}
else {
    using (Ajax.BeginForm("EditPermission", "Customer", new AjaxOptions {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
        UpdateTargetId = "contentMyModel",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    })) {
        <div id="loader" class=" alert" style="display: none">
            Loading...<img src="~/Content/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
        </div>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Quyền sửa </h4>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <div class="checkbox">
                                @Html.HiddenFor(c=>c.Id)
                                <label>@Html.CheckBox("IsAllowEditCustomerInfo", Model.IsAllowEditCustomerInfo) Sửa Thông tin khách hàng</label><br />
                                <label>@Html.CheckBox("IsAllowEditCustomerType", Model.IsAllowEditCustomerType) Sửa Phân loại khách hàng</label><br />
                                <label>@Html.CheckBox("IsAllowEditNhuCau", Model.IsAllowEditNhuCau) Sửa Nhu cầu</label><br />
                                <label>@Html.CheckBox("IsAllowEditImage", Model.IsAllowEditImage) Sửa Hình ảnh</label><br/>
                            </div>
                        </div>
                        @Html.ValidationSummary(true)
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {




        });
    </script>

}

