﻿@using BussinessObject
@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@model InsideX.EF.Customer
@{
    var text = ((CustomerTypeEnum)ViewBag.Type).Text();
    var title = Model.Id > 0 ? "Sửa" : "Thêm" + " khách hàng " + text;
    ViewBag.Title = title;
    ViewBag.PageName = title;

    var type = (CustomerTypeEnum)ViewBag.Type;


}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Update" + type.ToString(), "Customer", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.HiddenFor(c => c.Id)
                    @Html.HiddenFor(c => c.Type)

                    <div class="x_panel">
                        <div class="x_label">
                            <label>Thông tin cơ bản</label>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FullName" class="col-md-3 padding-top-5">Ngày đăng</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="PublicDate" name="PublicDate" readonly="readonly" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
                                        @*@Html.TextBoxFor(c => c.PublicDate, new { @class = "form-control", value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="FullName" class="col-md-3 padding-top-5">Họ tên</label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.PrefixName, typeof(CustomerPrefixNameEnum).ToList().ToSelectListItems(Model.PrefixName ?? 0), new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.FullName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.FullName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Address1" class="col-md-3 padding-top-5">Địa chỉ 1</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Address1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Address1)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Address2" class="col-md-3 padding-top-5">Địa chỉ 2</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Address2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Address2)
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Phone1" class="col-md-3 padding-top-5">Điện thoại 1</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Phone1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Phone1)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Phone2" class="col-md-3 padding-top-5">Điện thoại 2</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Phone2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Phone2)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Phone3" class="col-md-3 padding-top-5">Điện thoại 3</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Phone3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Phone3)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Email" class="col-md-3 padding-top-5">Email</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Email)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="text-align-center">
                        <button class="btn btn-primary">Tiếp Tục</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/multiImg.js?@(DateTime.Now.Ticks)"></script>

    <script>
        function formatState(item) {
            if (!item.id) {
                return item.text;
            }
            var $item = $(
                '<span><img width="30" height="30" src="' + item.AvatarUrl + '" class="img-flag" /> ' + item.text + '</span>'
            );
            return $item;
        };


        function ReloadCare() {
            $.get('@Url.Action("CustomerCare", "Customer", new { customerId =Model.Id})',function(data) {
                $("#CustomerCare").html(data);
            });
        }

        $(document).ready(function () {

            $(document).on("click", ".care_delete", function(e) {
                e.preventDefault();
                $.get('@Url.Action("CareDelete","Customer",new {id=Model.Id})', function() {
                    ReloadCare();
                });
            });

            $("#openCkfinder").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#openCkfinder img").attr("src", fileUrl);
                    $("#openCkfinder input").val(fileUrl);
                    //$("#Image").val(fileUrl);
                };
                finder.popup();
                return false;
            });

            $(document).on("click", ".care_add", function (e) {
                e.preventDefault();
                $("#careModal").modal("show");

            });

            $("#boxImageListCustomer, #boxImageListInfo").multiImg({});

            $("#RequireDistrict").select2({
                multiple: true,
                placeholder: "chọn quận..."
                //data: [{id:'0',text:'quang'}]
            });
            $("#RequireArea").select2({
                multiple: true,
                placeholder: "chọn khu vực..."
                //data: [{id:'0',text:'quang'}]
            });
            $("#RequireStreetView").select2({
                multiple: true,
                placeholder: "Chọn Mặt tiền/Hẻm..."
            });

            $("#RequireBdsType").select2({
                multiple: true,
                placeholder: "Chọn Loại BĐS..."
            });

            $("#RequireBdsStatusNow").select2({
                multiple: true,
                placeholder: "Chọn tình trạng..."
            });

            $("#RequireDirection").select2({
                multiple: true,
                placeholder: "Chọn hướng..."
            });


            $("#AdminId").select2({
                placeholder: "chọn nhân viên..."
            });
        });
    </script>
}


