﻿@using InsideX.EF
@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@using RealDirectionEnum = PhuSaiThanhLib.Enum.RealDirectionEnum
@{
    var title = (CustomerTypeEnum)ViewBag.type == CustomerTypeEnum.Buy ? "Mua" : "Thuê";
    ViewBag.Title = "Quản Lý Khách Hàng " + title;
    ViewBag.PageName = "Quản Lý Khách Hàng " + title;
    var type = (CustomerTypeEnum)ViewBag.Type;
    var isLead = (bool)ViewBag.IsLead;

}
<div class="right_col" role="main">
    <div class="">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bộ lọc tìm kiếm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">
                    <div class="">
                        <form id="preview_form" class="">
                            @Html.Hidden("IsLead", isLead)
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="type2" class="col-sm-4 control-label">Loại KH</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("type2", typeof(CustomerType2Enum).ToList().ToSelectListItems(0, "0", "== Loại KH =="), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bdsType" class="col-sm-4 control-label">Loại bđs</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("bdsType", PstHelper.GetListRealTypeEnum(type).ToSelectListItems(0, "0", "== Loại bđs =="), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Status" class="col-sm-4 control-label">Trạng thái</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("customerStatus", typeof(CustomerStatusEnum).ToList().ToSelectListItems(0, "0", "== Trạng thái =="), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Keyword" class="col-sm-4 control-label">Từ khóa</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Keyword" name="Keyword" class="form-control" placeholder="@("@")KH, tên KH..." />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="streetView" class="col-sm-4 control-label">Mặt tiền/Hẻm</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownList("streetView", typeof(StreetTypeEnum).ToList().ToSelectListItems(0, "0", "== Mặt tiền/Hẻm =="), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="price" name="price" class="form-control" placeholder="Giá..." />
                                        </div>
                                    </div>




                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="DateFrom" class="col-sm-4 control-label">Từ ngày</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control has-feedback-left" id="DateFrom" name="DateFrom" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="DateTo" class="col-sm-4 control-label">Đến ngày</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control has-feedback-left" id="DateTo" name="DateTo" placeholder="năm-tháng-ngày" aria-describedby="inputSuccess2Status2" value="">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="deptId" class="col-sm-4 control-label">Nhóm</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("deptId", PstHelper.DeptList(DeptType3Enum.Customer.Value(), 0), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="BrokerId" class="col-sm-4 control-label">Nhân viên</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("BrokerId", InsideX.Helper.PstHelper.BrokerList(0, AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Customer.Value()), new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="direction" class="col-sm-4 control-label">Hướng</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownList("direction", typeof(RealDirectionEnum).ToList().ToSelectListItems(0, "0", "== Hướng =="), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.DropDownList("roomNumber", typeof(RoomNumberEnum).ToList().ToSelectListItems(0, "0", "== Số phòng ngủ =="), new { @class = "form-control" })
                                            @*<input type="text" id="roomNumber" name="roomNumber" class="form-control" placeholder="Số phòng..." />*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <button type="button" id="search" class="btn btn-primary">
                                                <span class="padding-left-20 padding-right-20">Tìm</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel" id="ContainerData">
                        <div class="x_title">
                            <h2>Danh sách khách hàng @title</h2>
                            <div class="nav navbar-right">Total: <strong id="strongTotal" style="color:#f00;" ng-bind="totalRecord">0</strong> item(s)</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="dataTable" class="table table-striped table-bordered font-size-13">
                                <thead>
                                    <tr>
                                        <th class="text-align-center">#Mã</th>
                                        <th class="text-align-center">Loại KH<br />Tình trạng</th>
                                        <th class="text-align-center">Thông tin KH</th>
                                        <th class="text-align-center">Khu vực<br />MT/Hẻm</th>
                                        <th class="text-align-center">Loại BĐS<br />Hiện trạng</th>
                                        <th class="text-align-center">Hướng<br />Giá<br />Số phòng</th>
                                        <th class="text-align-center">Nhân viên</th>
                                        <th class="text-align-center">Ngày đăng<br />Ngày sửa</th>
                                        <th class="text-align-center"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>

                                </tfoot>
                            </table>


                            <div class="btn-toolbar bottom tableexport-caption">
                                <button class="btn btn-default xlsx" onclick="exportToExcel()">Export to xlsx</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/Fullscreen-Lightbox/src/css/jquery.imageview.css" rel="stylesheet" />


}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
    <script src="~/Content/Fullscreen-Lightbox/src/js/jquery.imageview.js"></script>
    <script src="~/content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/multiImg.js?@(DateTime.Now.Ticks)"></script>
    
    <script>
    var col1 = {
        "targets": 1,
        "data": null,
        "render": function (data, type, row) {
            var url = '@Url.Action("CustomerCare_OnlyShow","Customer")?customerId=' + row["Id"];
            var url1 = '@Url.Action("CareUpdate", "Customer")?customerId=' + row["Id"];
            return row['CustomerType2Enum'] + '' +
                    '<br/>' + row['CustomerStatusEnum'] +
                    '<br/> <button type="button" onclick="openModal(\'' + url + '\',800)" class="btn btn-sm btn-info">CSKH</button> ' +
                    '<br/> <button type="button" onclick="openModal(\'' + url1 + '\',800)" class="btn btn-sm btn-info">Thêm CSKH</button> '
            //
            ;
        },
    };
    var col2 = {
        "targets": 2,
        "data": null,
        "render": function (data, type, row) {
            return row['CustomerPrefixNameEnum'] + ' ' + row['FullName'] +
                '<br/>' + row['Phone1'] +
                '<br/>' + row['Phone2'] +
                '<br/>' + row['Phone3'] +
                '<br/>' + row['Address1'] +
                '<br/>' + row['Address2'];
        },
    };
    var col3 = {
        "targets": 3,
        "data": null,
        "render": function (data, type, row) {
            var html = ''
                    + '<span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequiredAreaList"] + '</span>'
                    + '<br/> <span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequireStreetViewList"] + '</span>'
                    + '<br/> '
                    + '<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Hình KH: ' + row['ImageListCustomerNumber'] + row['ImageListCustomerView'] + '</span> '
                    + '<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Phiếu thông tin: ' + row['ImageListInfoNumber'] + row['ImageListInfoView'] + '</span> '
            //
            ;
            return html;
        },
    };
    var col4 = {
        "targets": 4,
        "data": null,
        "render": function (data, type, row) {
            return ''
                    + '<span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequireBdsTypeList"] + '</span>'
                    + '<br/> <span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequireBdsStatusNowList"] + '</span>'
            //
            ;
        },
    };
    var col5 = {
        "targets": 5,
        "data": null,
        "render": function (data, type, row) {
            return ''
                    + '<span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequireDirectionList"] + '</span>'
                    + '<br/> Giá: ' + row['Price'] + ' ' + row['PriceUnit']
            //
            ;
        },
    };
    var col6 = {
        "targets": 6,
        "data": null,
        "render": function (data, type, row) {
            return '<img src="' + row["EmpAvatar"] + '" width="65" height="65" alt="no image" />' +
                '<br/>' + row["DisplayName"];
        },
    };
    var col7 = {
        "targets": 7,
        "data": null,
        "render": function (data, type, row) {
            return row['CreatedDateString'] +
                '<br/>' + row["UpdatedDateString"];
        },
    };
    var col8 = {
        "targets": 8,
        "data": null,
        "render": function (data, type, row) {
            var isAdmin = '@MySessionManager.SessionData.IsAdmin.ToString()';

            var html = '' +
                '<a class="" data-toggle="tooltip" data-placement="top"  title="Sửa" href="@Url.Action("Update" + type, "Customer")/' + row["Id"] + '"><i class="fa fa-edit"></i></a>' +
                '<br/>' +
                '<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"  title="Xóa" onclick="deleteCustomer(' + row["Id"] + ')"><i class="fa fa-trash"></i></a>';
            if (isAdmin == 'True')
                html += '<br/> <a data-toggle="tooltip" data-placement="top"  title ="Quyền sửa" class="" href="javascript:void(0)"  onclick="openModal(\'' + '@Url.Action("EditPermission", "Customer")?id=' + row["Id"] + '\')"><i class="glyphicon glyphicon-log-in"></i></a>';
            return html;
        },

    };

    </script>

@if (isLead) {
    var level = MySessionManager.SessionData.GetLevelReal();

    <script>
            var level = JSON.parse('@Html.Raw(level.ToJson())');


            col1.render = function(data, type, row) {
                var url = '@Url.Action("CustomerCare_OnlyShow","Customer")?customerId=' + row["Id"];
                //var  url1 = '@Url.Action("CareUpdate", "Customer")?customerId=' + row["Id"];
                var cskh = "";
                if (level.IsViewCusCare == true)
                cskh = '<br/> <button type="button" onclick="openModal(\'' + url + '\',800)" class="btn btn-sm btn-info">CSKH</button> ';
                return row['CustomerType2Enum'] + '' +
                        '<br/>' + row['CustomerStatusEnum'] +
                        cskh
                    //+ '<br/> <button type="button" onclick="openModal(\'' + url1 + '\',800)" class="btn btn-sm btn-info">Thêm CSKH</button> '
                    ;
            };

            col2.render = function(data, type, row) {
                var html = row['CustomerPrefixNameEnum'] + ' ' + row['FullName'];

                if (level.IsviewCusInfo == true)
                    return html +
                        '<br/>' + row['Phone1'] +
                        '<br/>' + row['Phone2'] +
                        '<br/>' + row['Phone3'] +
                        '<br/>' + row['Address1'] +
                        '<br/>' + row['Address2'];
                return html;
            };

            col3.render = function(data, type, row) {
                var html = '';
                html += '<span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequiredAreaList"] + '</span>';
                html += '<br/> <span class="color-blue"  data-toggle="tooltip" data-placement="bottom" title="' + row['RequireNote'] + '">' + row["RequireStreetViewList"] + '</span>';
                html += '<br/> ';

                if (level.IsViewCusImages == true)
                    html += '<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Hình KH: ' + row['ImageListCustomerNumber'] + row['ImageListCustomerView'] + '</span> ';
                if (level.IsViewCusLetterInfo == true)
                    html += '<span id="" class="font-size-12 label label-info image_view cursor-pointer"> Phiếu thông tin: ' + row['ImageListInfoNumber'] + row['ImageListInfoView'] + '</span> ';
                //                                                                                                                                                                          ;
                ;
                return html;
            };

            col8.render = function(data, type, row) {
                return '';
            };
           
    </script>
}
    
    
    

    <script type="text/javascript">
        function exportToExcel() {
            var url = '@Url.Action("ExportToExcel")?';

            var form = $("#preview_form").serializeArray();
            for (var i = 0; i < form.length; i++) {
                url += '&' + form[i].name + '=' + form[i].value;
            }
            url += '&Type=' + '@ViewBag.Type';

            var ifa = '<iframe src="' + url + '" style="display: none"></iframe>';
            $("body").append(ifa);


        }
        var deleteCustomer = function (id) {
            if (confirm('Chắc chắn xóa ?')) {
                $.post('@Url.Action("CustomerDelete")', { id: id }, function (res) {
                    if (res == true)
                        $('#dataTable').DataTable().ajax.reload();
                    else alert(res);

                });
            }
        }
        var ReloadCare = function() {

        };

        $.fn.dataTableExt.pager.numbers_length = 30;
        $(document).ready(function () {
            $('#DateFrom').val('');
            $('#DateTo').val('');
            var dataTable = $('#dataTable').on('xhr.dt', function (e, settings, json, xhr) {
                //console.log(json.recordsTotal);
                $('#strongTotal').html(json.recordsTotal);
            }).DataTable({
                "processing": true,
                //"orderable": false,
                "serverSide": true,
                "lengthChange": false,
                //"pageLength": 1,
                "bFilter": false,
                "bInfo": false,
                "lengthMenu": [[10], [10]],
                "language": datatableLanguage,
                "ajax": {
                    "url": '@Url.Action("CustomerList")',
                    "type": "POST",
                    "data": function (d) {

                        d.dateFrom = $("#DateFrom").val();
                        d.dateTo = $("#DateTo").val();
                        d.type = "@type.Value()";
                        d.type2 = $("#type2").val();
                        d.bdsType = $("#bdsType").val();
                        d.customerStatus = $("#customerStatus").val();
                        d.deptId = $("#deptId").val();
                        d.direction = $("#direction").val();
                        d.roomNumber = $("#roomNumber").val();
                        d.price = $("#price").val();
                        d.streetView = $("#streetView").val();
                        d.keyword = $("#Keyword").val();
                        d.brokerId = $("#BrokerId").val();
                        d.IsLead = $("#IsLead").val();


                    }
                },
                "columns": [
                    { "orderable": false, "data": "Id", className: "text-align-center" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id" },
                    { "orderable": false, "data": "Id", "className": "text-align-center" },
                    { "orderable": false, "data": "Id", "className": "text-align-center" },
                    { "orderable": false, "data": "Id" },
                ],
                "columnDefs": [
                    col1,
                    col2,
                    col3,
                    col4,
                    col5,
                    col6,
                    col7,
                    col8,
                ],
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
               
                fnDrawCallback: function () {
                    //$('html, body').animate({
                    //    scrollTop: 0
                    //}, 1000);
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            $('#dataTable tbody').on('click', 'span.image_view', function () {
                if ($(this).children('a').length > 0) {
                    $(this).imageview();
                    $(this).children('a')[0].click();

                }
            });

            $('#DateFrom').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateTo').daterangepicker({
                singleDatePicker: true,
                timePicker: false,
                timePicker24Hour: false,
                //timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#DateFrom').val('');
            $('#DateTo').val('');

            $("#search").click(function () {
                //dataTable.reload();
                $('#dataTable').DataTable().ajax.reload();
            });


            $("#BrokerId").select2({
                templateResult: formatAvatar,
            });

            $(document).on("click", ".viewCareImageLIst", function () {
                if ($(this).children('a').length > 0) {
                    $(this).imageview();
                    $(this).children('a')[0].click();
                }
            });

            $(document).on("keypress", "#preview_form input,#preview_form select", function (e) {
                if (e.keyCode == 13) {
                    $('#dataTable').DataTable().ajax.reload();
                }
            });

            $(document).on("change", "#preview_form input[type=checkbox], #preview_form select", function (e) {
                $('#dataTable').DataTable().ajax.reload();
            });

        });
    </script>
}