﻿@using InsideX.Helper
@using InsideX.Models
@using InsideX.Models.Customer
@using MyUtility.Extensions
@using PhuSaiThanhLib.Enum
@using PhuSaiThanhLib.Real
@using RealDirectionEnum = PhuSaiThanhLib.Enum.RealDirectionEnum
@model InsideX.EF.Customer
@{
    var text = ((CustomerTypeEnum)ViewBag.Type).Text();
    var title = Model.Id > 0 ? "Sửa" : "Thêm" + " khách hàng " + text;
    ViewBag.Title = title;
    ViewBag.PageName = title;

    var type = (CustomerTypeEnum)ViewBag.Type;


}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Update" + type.ToString(), "Customer", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" })) {
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.Type)
                //if (MySessionManager.SessionData.IsAdmin || Model.IsAllowEditCustomerInfo == true)
                <div class="x_panel">
                    <div class="x_label">
                        <label>
                            Thông tin khách hàng
                            @if (!MySessionManager.SessionData.IsAdmin && Model.IsAllowEditCustomerInfo != true) {
                            <span style="color: yellow;">(Không có quyền sửa)</span>
                            }
                        </label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="FullName" class="col-sm-2 padding-top-5">Ngày đăng</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="PublicDate" name="PublicDate" readonly="readonly" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
                                    @*@Html.TextBoxFor(c => c.PublicDate, new { @class = "form-control", value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FullName" class="col-sm-2 padding-top-5">Họ tên</label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(c => c.PrefixName, typeof (CustomerPrefixNameEnum).ToList().ToSelectListItems(Model.PrefixName ?? 0), new {@class = "form-control"})
                                </div>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(c => c.FullName, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.FullName)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Address1" class="col-sm-2 padding-top-5">Địa chỉ 1</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Address1, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Address1)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Address2" class="col-sm-2 padding-top-5">Địa chỉ 2</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Address2, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Address2)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone1" class="col-sm-2 padding-top-5">Điện thoại 1</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Phone1, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Phone1)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Phone2" class="col-sm-2 padding-top-5">Điện thoại 2</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Phone2, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Phone2)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Phone3" class="col-sm-2 padding-top-5">Điện thoại 3</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Phone3, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Phone3)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Email" class="col-sm-2 padding-top-5">Email</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Email, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.Email)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                //if (MySessionManager.SessionData.IsAdmin || Model.IsAllowEditCustomerType == true)
                <div class="x_panel">
                    <div class="x_label">
                        <label>
                            Phân loại khách hàng
                            @if (!MySessionManager.SessionData.IsAdmin && Model.IsAllowEditCustomerType != true) {
                            <span style="color: yellow;">(Không có quyền sửa)</span>
                            }
                        </label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Type2" class="col-sm-2 padding-top-5">Loại khách hàng</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(c => c.Type2, typeof(CustomerType2Enum).ToList().ToSelectListItems(Model.Type2 ?? 0), new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Status" class="col-sm-2 padding-top-5">Tình trạng</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(c => c.Status, typeof(CustomerStatusEnum).ToList().ToSelectListItems(Model.Status ?? 0), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                //if (MySessionManager.SessionData.IsAdmin || Model.IsAllowEditNhuCau == true)
                <div class="x_panel">
                    <div class="x_label">
                        <label>
                            Nhu cầu
                            @if (!MySessionManager.SessionData.IsAdmin && Model.IsAllowEditNhuCau != true) {
                            <span style="color: yellow;">(Không có quyền sửa)</span>
                            }
                        </label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ArealView" class="col-sm-2 padding-top-5 text-align-left">1. Khu vực</label>
                                <div class="col-sm-10">
                                    <div id="ArealView"></div>
                                </div>
                                @Html.ValidationMessageFor(c => c.RequireDistrict)
                                @Html.ValidationMessageFor(c => c.RequireArea)

                                @*<div class="col-sm-3">
                                    @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel {
                                    Name = "RequireDistrict",
                                    Class = "form-control",
                                    SelectListItems = (List<selectlistitem>
                                        )ViewBag.District
                                        });
                                        }
                                </div>*@


                                @*<div class="col-sm-7">
                                    @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel {
                                    Name = "RequireArea",
                                    Class = "form-control",
                                    GroupSelectListItems = (List<groupselectlistitem>
                                        )ViewBag.Area
                                        });
                                        }
                                </div>*@
                            </div>

                            @*<div class="form-group">
                                <label for="Status" class="col-sm-2 padding-top-5">&nbsp;&nbsp;&nbsp;&nbsp;Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote1, new { @class = "form-control", row = "5", placeholder = "30 ký tự" })
                                </div>
                            </div>*@

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RequireStreetView" class="col-sm-2 padding-top-5">2. Mặt tiền/Hẻm</label>
                                <div class="col-sm-6">
                                    @{

                                        Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel
                                        {
                                            Name = "RequireStreetView",
                                            Class = "form-control",
                                            SelectListItems = typeof (StreetTypeEnum).ToList().Select(c => new SelectListItem
                                            {
                                                Text = c.Value,
                                                Value = c.Key.ToString(),
                                                Selected = c.Key.ToString().KeyInListString(Model.RequireStreetView)
                                            }).ToList()
                                        });
                                    }
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="RequireNote2" class="col-sm-2 padding-top-5">&nbsp;&nbsp;&nbsp;&nbsp;Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote2, new { @class = "form-control", row = "5", placeholder = "30 ký tự" })
                                </div>
                            </div>*@

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RequireBdsType" class="col-sm-2 padding-top-5">3. Loại BĐS</label>
                                <div class="col-sm-6">
                                    @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel {
                                    Name = "RequireBdsType",
                                    Class = "form-control",
                                    SelectListItems = PstHelper.GetListRealTypeEnum(type)
                                    .ToList()
                                    .Select(c => new SelectListItem {
                                    Text = c.Value,
                                    Value = c.Key.ToString(),
                                    Selected = c.Key.ToString().KeyInListString(Model.RequireBdsType)
                                    }).ToList()
                                    });
                                    }
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="RequireNote3" class="col-sm-2 padding-top-5">&nbsp;&nbsp;&nbsp;&nbsp;Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote3, new { @class = "form-control", row = "5", placeholder = "30 ký tự" })
                                </div>
                            </div>*@

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RequireBdsStatusNow" class="col-sm-2 padding-top-5">4. Hiện trạng</label>
                                <div class="col-sm-6">
                                    @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel {
                                    Name = "RequireBdsStatusNow",
                                    Class = "form-control",
                                    SelectListItems = typeof(RealStatusNowEnum)
                                    .ToList()
                                    .Select(c => new SelectListItem {
                                    Text = c.Value,
                                    Value = c.Key.ToString(),
                                    Selected = c.Key.ToString().KeyInListString(Model.RequireBdsStatusNow)
                                    }).ToList()
                                    });
                                    }
                                </div>
                                @Html.ValidationMessageFor(c => c.RequireBdsStatusNow)
                            </div>
                            @*<div class="form-group">
                                <label for="RequireNote4" class="col-sm-2 padding-top-5">&nbsp;&nbsp;&nbsp;&nbsp;Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote4, new { @class = "form-control", row = "5", placeholder = "30 ký tự" })
                                </div>
                            </div>*@

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RequireDirection" class="col-sm-2 padding-top-5">5. Hướng</label>
                                <div class="col-sm-6">
                                    @{ Html.RenderPartial("Partial/_DropDownListEnumMultiple", new DropDownListEnumMultipleModel {
                                    Name = "RequireDirection",
                                    Class = "form-control",
                                    SelectListItems = typeof(RealDirectionEnum)
                                    .ToList()
                                    .Select(c => new SelectListItem {
                                    Text = c.Value,
                                    Value = c.Key.ToString(),
                                    Selected = c.Key.ToString().KeyInListString(Model.RequireDirection)
                                    }).ToList()
                                    });
                                    }
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="RequireNote5" class="col-sm-2 padding-top-5">&nbsp;&nbsp;&nbsp;&nbsp;Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote5, new { @class = "form-control", row = "5", placeholder = "30 ký tự" })
                                </div>
                            </div>*@

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-2 padding-top-5 text-align-left">6. Giá</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(c => c.PriceFrom, new { @class = "form-control", placeholder = "Giá từ ..." })
                                    @Html.ValidationMessageFor(c => c.PriceFrom)
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(c => c.PriceTo, new { @class = "form-control", placeholder = "Giá đến ..." })
                                    @Html.ValidationMessageFor(c => c.PriceTo)
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="padding-top-5">(@(type == CustomerTypeEnum.Buy ? "Tỷ đồng" : "Triệu đồng"))</div>
                                </div>
                            </div>
                        </div>
                        @if (type == CustomerTypeEnum.Rent) {
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TimeLimit" class="col-sm-2 padding-top-5 text-align-left">Thời hạn tối thiểu</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(c => c.TimeLimit, new { @class = "form-control", placeholder = "0" })
                                    @Html.ValidationMessageFor(c => c.TimeLimit)
                                </div>
                                <div class="col-sm-2">
                                    @Html.DropDownList("TimeUnit", (typeof(TimeUnitEnum)).ToList().Select(c => new SelectListItem {
                                    Value = c.Key.ToString(),
                                    Text = c.Value,
                                    Selected = c.Key == Model.TimeUnit
                                    }), new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                        }


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RoomNumber" class="col-sm-2 padding-top-5 text-align-left">7. Số phòng</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(c => c.RoomNumber, new { @class = "form-control", placeholder = "Số phòng ..." })
                                    @Html.ValidationMessageFor(c => c.RoomNumber)
                                </div>
                                <label for="ToiletsNumber" class="col-sm-2 padding-top-5 text-align-left">Số toilet</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(c => c.ToiletsNumber, new { @class = "form-control", placeholder = "Số toilet ..." })
                                    @Html.ValidationMessageFor(c => c.ToiletsNumber)
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RoomNumber" class="col-sm-2 padding-top-5 text-align-left">8. Lưu ý</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(c => c.RequireNote, new { @class = "form-control", rows = "10", placeholder = "Không giới hạn ký tự" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                if (Model.Id > 0) {
                <div class="x_panel">
                    <div class="x_label">
                        <label>Chăm sóc khách hàng</label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="CustomerCare">
                                @{ Html.RenderAction("CustomerCare", new { customerId = Model.Id });}
                            </div>
                            <div>
                                <a onclick="openModal('@Url.Action("CareUpdate","customer",new {customerid=Model.Id})')" class="btn btn-info"><span class="glyphicon-plus"></span> Thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
                }

                if (MySessionManager.SessionData.IsAdmin) {
                <div class="x_panel">
                    <div class="x_label">
                        <label>Nhân viên kinh doanh</label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BrokerId" class="col-sm-2 padding-top-5">Nhân viên</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("BrokerId", PstHelper.BrokerList(Model.BrokerId ?? 0, AdminRoleEnum.Employer.Value(), EmployeeTypeEnum.Customer.Value()), new {@class = "form-control"})
                                    @Html.ValidationMessageFor(c => c.BrokerId)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                }
                else {
                Html.HiddenFor(c => c.BrokerId);
                }

                //if (MySessionManager.SessionData.IsAdmin || Model.IsAllowEditImage == true)
                <div class="x_panel">
                    <div class="x_label">
                        <label>
                            Hình ảnh
                            @if (!MySessionManager.SessionData.IsAdmin && Model.IsAllowEditImage != true) {
                            <span style="color: yellow;">(Không có quyền sửa)</span>
                            }
                        </label>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Type2" class="col-sm-1 padding-top-5">Đại diện<br />(400x400)</label>
                                <div class="col-sm-6">
                                    <a id="openCkfinder" class="openCkfinder text-align-center" href="#">
                                        @Html.HiddenFor(c => c.Image)
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <br />
                                        <strong>Chọn Hình</strong>
                                        <img id="imgCkfinder" width="150" height="150" src="@Model.Image" alt="" />
                                    </a>
                                    @Html.ValidationMessageFor(model => model.Image)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ImageListCustomer" class="col-sm-1 padding-top-5">
                                    Hình khách hàng
                                    <br />
                                    <span class="label label-info image_view_slide cursor-pointer" input="ImageListCustomer">
                                        Xem slide
                                    </span>
                                </label>
                                <div class="col-sm-11 ckfinder_list" id="boxImageListCustomer">
                                    @Html.TextBoxFor(c => c.ImageListCustomer, new { @class = "form-control hidden" })
                                    <div class="img-list"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ImageListInfo" class="col-sm-1 padding-top-5">
                                    Phiếu thông tin
                                    <br />
                                    <span class="label label-info image_view_slide cursor-pointer" input="ImageListInfo">
                                        Xem slide
                                    </span>
                                </label>

                                <div class="col-sm-11 ckfinder_list" id="boxImageListInfo">
                                    @Html.TextBoxFor(c => c.ImageListInfo, new { @class = "form-control hidden" })
                                    <div class="img-list"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-align-center">
                    <button class="btn btn-primary">Submit</button>
                    <div class="color-red">
                        @Html.ValidationSummary()
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>



@section css
{
<link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/Fullscreen-Lightbox/src/css/jquery.imageview.css" rel="stylesheet" />

}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/select2-4.0.3/js/select2.min.js"></script>
<script src="~/content/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/multiImg.js?@(DateTime.Now.Ticks)"></script>
<script src="~/Content/Fullscreen-Lightbox/src/js/jquery.imageview.js"></script>


<script>
    function ReloadCare() {
        $.get('@Url.Action("CustomerCare", "Customer", new {customerId = Model.Id})', function (data) {
            $("#CustomerCare").html(data);
        });
    }

    GetAreaView = function () {
        $.get('@Url.Action("ArealView", "Customer", new {id = Model.Id})', function (html) {
            $("#ArealView").html(html);
        });
    }
    deleteArea = function (idArea) {
        $.post('@Url.Action("DeleteArea", "Customer", new {id = Model.Id})', { idArea: idArea }, function (html) {
            GetAreaView();
        });
    }

    $(document).ready(function () {

        GetAreaView();

        $(document).on("click", ".care_delete", function (e) {
            e.preventDefault();
            $.get('@Url.Action("CareDelete", "Customer")', { id: $(this).attr("value") }, function () {
                ReloadCare();
            });
        });

        $("#openCkfinder").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#openCkfinder img").attr("src", fileUrl);
                $("#openCkfinder input").val(fileUrl);
                //$("#Image").val(fileUrl);
            };
            finder.connectorInfo = 't=Customer&p=@((Model.CreatedDate ?? DateTime.Now).ToString("yyyyMM"))&id=@Model.Id';
            finder.popup();
            return false;
        });

        $(document).on("click", ".care_add", function (e) {
            e.preventDefault();
            $("#careModal").modal("show");

        });

        $("#boxImageListCustomer, #boxImageListInfo").multiImg({
            id: '@Model.Id',
            type: 'Customer',
            path: '@((Model.CreatedDate ?? DateTime.Now).ToString("yyyyMM"))'
        });

        var selectAll = $("#RequireDistrict,#RequireDistrict,#RequireStreetView,#RequireBdsType,#RequireBdsStatusNow,#RequireDirection");
        selectAll.prepend("<option value='-1'>Tất cả</option>");

        //$("#RequireDistrict").select2({
        //    multiple: true,
        //    closeOnSelect:false,
        //    placeholder: "chọn quận..."
        //});
        //$("#RequireArea").select2({
        //    multiple: true,
        //    closeOnSelect:false,
        //    placeholder: "chọn khu vực..."
        //});
        $("#RequireStreetView").select2({
            templateResult: templateSelectAll,
            multiple: true,
            closeOnSelect:false,
            placeholder: "Chọn Mặt tiền/Hẻm...",
        });

        $("#RequireBdsType").select2({
            templateResult: templateSelectAll,
            multiple: true,
            closeOnSelect:false,
            placeholder: "Chọn Loại BĐS..."
        });

        $("#RequireBdsStatusNow").select2({
            templateResult: templateSelectAll,
            multiple: true,
            closeOnSelect:false,
            placeholder: "Chọn tình trạng..."
        });

        $("#RequireDirection").select2({
            templateResult: templateSelectAll,
            multiple: true,
            closeOnSelect:false,
            placeholder: "Chọn hướng..."
        });

        selectAll.on("select2:select", function (e) {
            console.log(e);
            var id = e.params.data.id;
            if (id == -1) {
                var tag = $(e.target);
                tag.select2('close');
                var arr = [];
                for (var i = 0; i < e.target.length; i++) {
                    if(e.target[i].value!=-1)
                        arr.push(e.target[i].value);
                }
                tag.val(arr).trigger('change');
            }
        });

        $("#BrokerId").select2({
            templateResult: formatAvatar,
            placeholder: "chọn nhân viên..."
        });
        $(document).on("click", ".viewCareImageLIst", function() {
            if ($(this).children('a').length > 0) {
                $(this).imageview();
                $(this).children('a')[0].click();
            }
        });
    });
</script>
}


