﻿@using BussinessObject
@model EntitiesObject.Entities.WebEntities.Xdistrict
@{
    ViewBag.Title = "Tạo mới Quận/Huyện";
    ViewBag.PageName = "Tạo mới Quận/Huyện";
    var city = BoFactory.AddressBook.GetCityList().Select(c => new SelectListItem
    {
        Value = c.Id + "",
        Text = c.CityName,
        Selected = c.Id == (Model.CityId ?? 0)
    }).ToList();
}

<div class="right_col">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Edit", "District", new { }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="x_panel">
                        <div class="x_label">
                            <label>@(Model.Id > 0 ? "Sửa" : "Thêm") Quận/Huyện</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="DistrictName">Tỉnh/TP</label></div>
                            <div class="col-md-6">
                                @Html.HiddenFor(c => c.Id)
                                @Html.DropDownListFor(c => c.CityId, city, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.CityId)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="DistrictName">Tên Quận/Huyện</label></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.DistrictName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.DistrictName)
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        @if (Model.IsPublic != false)
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" checked="checked" />
                                        }
                                        else
                                        {
                                            <input name="IsPublic" id="IsPublic" type="checkbox" value="true" />
                                        }
                                        &nbsp;Hiển thị
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row padding-top-10">
                            <div class="col-md-2"><label for="IsPublic"></label></div>
                            <div class="col-md-6">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="~/Content/select2-4.0.3/css/select2.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


