﻿@model OutsideX.Models.PagingModel
@if (Model.Items.Any())
{
    <div class="paging_type1 text-align-right">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="li_paging">
                    <span class="">
                        <span>Trang</span> 
                        <input type="text" class="current_page_number" id="current_page_number" value="@Model.CurrentPage" width="50" />
                        /@Model.TotalPage

                        <button id="go_page_btn" type="button" class="btn btn-sm btn-default text-align-center hidden" onclick="getDataPage($('#current_page_number').val())">Go</button>
                    </span>

                </li>
                @if (Model.IsHasPreview)
                {

                    <li>
                        <a href="javascript:void(0)" aria-label="Next" onclick="getDataPage(@(Model.CurrentPage-1));$(document).scrollTop(800);">
                            <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                        </a>
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                }
                @foreach (var item in Model.Items)
                {
                    if (item.IsCurrent)
                    {
                        <li class="active">
                            <span>@item.Num</span>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="javascript:void(0)" onclick="getDataPage(@item.Num);$(document).scrollTop(800);">@item.Num</a>
                        </li>
                    }
                }
                @if (Model.IsHasNext)
                {
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" onclick="getDataPage(@(Model.CurrentPage+1));$(document).scrollTop(800);">
                            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
        <div class="clearfix"></div>

    </div>
}
